[2021-09-16 08:29] Ambrevar commented on #1740
Seems to be a duplicate of #1739.  Feel free to reopen if I'm wrong.

[2021-09-16 08:29] #1740 closed

[2021-09-16 10:21] Ambrevar commented on #1739
Can you people test #1793 see if it fixes it for you?
One reliable recipe in my experience is the following:

1. Go to https://duckduckgo.com.
2. Search "nyxt".
3. Click on the first result.
4. Spam history-backwards and history-forwards alternatively.

The issue should occur after a few history calls, typically less than 10.

[2021-09-16 10:52] edgar-vincent commented on #1739
@Ambrevar: #1793 doesn't seem to fix the issue here, neither on Duckduckgo nor Google. I get the error after the first `history-backwards` call.

[2021-09-17 02:03] csfreebird commented on #1791
thannk you, I changed to %slot-default%, still cannot make dark theme work.

[2021-09-17 07:25] Ambrevar commented on #1739
Can you share a precise recipe?  I can't reproduce here.

[2021-09-17 09:17] aartaka commented on #1739
@Ambrevar, I'm pretty sure that's because we store _all_ the `notify::uri` URLs to history (Nyxt history, not a WebKit one). Including redirects and POST requests.

Moving the history additions to `load-changed` signal and inspecting requests there could change the situation. `notify::uri` simply doesn't have enough information to work around the redirects/POST problem. This will also free us from

[2021-09-17 09:59] edgar-vincent commented on #1739
Sorry @Ambrevar, I can't reproduce with #1793 launched with `./nyxt -IC --with-path session=/dev/null --with-path history=/dev/null --with-path bookmarks=/dev/null`. I can reproduce if Nyxt is using my personal history.

[2021-09-17 21:38] jmercouris commented on #1628
@edgar-vincent That sounds about right, I think we are all on the same page here :-)

[2021-09-17 21:38] jmercouris commented on #1628
Will do soon (tm)

[2021-09-17 21:40] jmercouris commented on #1718
I don't have big sur, and I have no idea I am afraid. Seems like a problem with the homebrew specification of SBCL. Perhaps we are making some assumptions that don't hold true.

[2021-09-17 21:43] jmercouris commented on #1787
Could you please try with a more recent build? I believe this issue may have been at least /partially/ solved.

[2021-09-17 21:44] #1784 closed

[2021-09-17 21:45] jmercouris commented on #1765
I cannot reproduce. Reddit.com does not crash my browser, neither on old, nor on new Reddit.

[2021-09-17 21:46] jmercouris commented on #1790
All good questions. I almost feel as if the modes for special buffers should be implicitly made rather than having a separate mode file/declaration for each type.

For example; message-mode.lisp need not exist if there is a message.lisp.

[2021-09-17 21:48] jmercouris commented on #1791
Please take a look at some example configurations from other users, they may help you: https://discourse.atlas.engineer/c/nyxt/configuration-expose/8

[2021-09-17 21:49] jmercouris commented on #1739
Perhaps your personal history is corrupted resulting in these errors?

[2021-09-17 23:26] jmercouris commented on #1628
Done!

7829dbb7

[2021-09-17 23:26] #1628 closed

[2021-09-18 00:14] anonimitoraf commented on #1787
Hi @jmercouris

I pulled `master` and rebuilt. I still get logged out of youtube :( but I don't seem to be logged out from github anymore.

What were the issues before that you think might be causing this?

[2021-09-18 00:22] jmercouris commented on #1787
I believe it to be an issue with how we are handling cookie and data caches. As per YouTube I suspect they are doing something sneaky which we are blocking, either on accident, or on purpose.

[2021-09-18 01:01] anonimitoraf commented on #1787
Ah, I see. How do I disable all the ad-block-like modes?

[2021-09-18 02:03] anonimitoraf commented on #1787
Ok, with this, I don't get logged out anymore:
[code]

So I guess it is one of the blocker-like modes

[2021-09-18 02:14] anonimitoraf commented on #1787
Actually, I've noticed that sometimes it logs me out. Sometimes it doesn't, intermittently.

I've disabled both `blocker-mode` and `reduce-tracking-mode`

This is my entire config:
[code]

[2021-09-18 06:24] cowile commented on #1765
Deleting that file resolved the issue.

[2021-09-18 06:24] #1765 closed

[2021-09-20 06:23] Ambrevar opened #1794 "switch-buffer-next does not cycle over no-save buffers"
Currently we flatten the buffer tree following the inter-buffer relationships from the Global History Tree.

Problem: we didn't take into account that some buffers like no-save buffers may not belong to the same global history tree!
Some buffers may not even have any history at all.

Fix suggestion: go throught the list of buffers and fetch their global history, then flatten each buffer tree one a

[2021-09-20 07:36] Ambrevar commented on #1739
@edgar-vincent Can you try over a fresh history file?

@aartaka The logic behind storing the history entries in `notify:uri` is that it allows us to store URLs set by JavaScript or HTML anchors.
WebKit indeed does not provide us with enough information to ignore redirects, but this seems to be a limitation of the renderer and Epiphany has the same issue apparently.

Moving history additions to `lo

[2021-09-20 09:11] Ambrevar commented on #1681
Back to business after a long break :)

I've just updated the changelog on the 2-series branch.
@jmercouris @pdelfino @aartaka Can you confirm it looks good for you?

We can release 2.2 tomorrow if that's OK.

There are a few more bugs that'd be nice to fix.  Say, #1783, #1792, #1757, #1678, #1794, #1755, #1743.

Nothing critical though and I'm personally OK with releasing 2.2.0 now and fixing the

[2021-09-20 12:48] edgar-vincent commented on #1739
@Ambrevar Unfortunately, the error still appears even after deleting history.

[2021-09-20 13:33] Ambrevar commented on #1370
Yes.

[2021-09-20 13:33] #1370 closed

[2021-09-20 14:13] pdelfino opened #1795 "Feature request: create in Nyxt something similar to `ClearURLs`"
This feature request was briefly mentioned in Nyxt's channel at IRC.

If my memory is serving me well, user @hendursaga pointed out that it would be cool to have something such as [ClearURLs](https://addons.mozilla.org/en-US/firefox/addon/clearurls/) in Nyxt. This is the [Chrome version](https://chrome.google.com/webstore/detail/clearurls/lckanjgmijmafbedllaakclkaicjfmnk?hl=en)  and this is the [g

[2021-09-20 14:31] pdelfino opened #1796 "Feature request: create in Nyxt something similar to `ClearURLs`"
This feature request was briefly mentioned in Nyxt's channel at IRC.

If my memory is serving me well, user @hendursaga pointed out that it would be cool to have something such as [ClearURLs](https://addons.mozilla.org/en-US/firefox/addon/clearurls/) in Nyxt. This is the [Chrome version](https://chrome.google.com/webstore/detail/clearurls/lckanjgmijmafbedllaakclkaicjfmnk?hl=en)  and this is the [g

[2021-09-20 14:44] jmercouris commented on #1795
Duplicate, closing :-D

[2021-09-20 14:44] #1795 closed

[2021-09-20 14:49] pdelfino commented on #1795
Oops, sorry. My internet is unstable. I thought it was done in the first time. So, I did it again. My bad.

[2021-09-20 15:54] crocket commented on #302
I also can't build nyxt on gentoo.

[code]

[2021-09-20 17:51] aartaka commented on #1681
Yes, looks alright to me! We've been holding this release off for too long :)

[2021-09-20 19:31] jmercouris commented on #1681
I also confirmed earlier today with Pierre! :-O

[2021-09-20 20:10] jmercouris commented on #1791
The article has now been updated, please take a look again, it should work! Please feel free to reopen this issue if you have any problems.

[2021-09-20 20:10] #1791 closed

[2021-09-21 06:31] Ambrevar commented on #1681
Another thing I'd like to do for the remaining 2.2.* releases is backport all the backward compatible changes on master.

[2021-09-21 07:52] Ambrevar commented on #1765
Hard to say what happened without debugging your session.
My guess is that you got hit by a history race condition.  This should
be fix in the upcoming 2.2.0.

[2021-09-21 08:47] Ambrevar commented on #1681
Released!

[2021-09-22 00:41] crocket commented on #302
Is there a way to build nyxt without access to the internet? By default, gentoo packages require building programs without access to the internet.

[2021-09-22 02:13] jmercouris commented on #302
Of course there is, it is built on Guix and Nix.

[2021-09-22 03:11] crocket commented on #302
I'm trying to create a gentoo package for nyxt. A gentoo package shouldn't rely on guix or nix.

[2021-09-22 03:35] jmercouris commented on #302
Sure, I'm not saying that it should. I'm just saying that Nix and Guix manage it, so it is possible. Just make sure to download all QL packages before compilation.

[2021-09-22 05:05] crocket commented on #302
The problem is that I have no prior experience with common lisp. So, I'm clueless, here.

[2021-09-22 15:50] jmercouris commented on #302
I see. Well, hold tight, we are going to merge something in that will eliminate the need for QL during compilation and that will fix your issue.

[2021-09-22 16:44] NightMachinary commented on #577
@junwei-wang macports fails to install on my machine (for whatever reason; I did not waste my time digging too much into it). And `brew` works great for my purposes and security threat models.

In general, it's best to keep such derogatory comments in your private social interactions, and not troll people on an issue specifically on brew users.

[2021-09-23 23:40] crocket commented on #1427
Git submodules can be pulled with `git`. Gentoo package manager can handle git submodules.

Git submodules can allow gentoo to build nyxt offline.

Does common lisp produce statically linked binaries?

[2021-09-23 23:48] crocket commented on #1065
Does CLPM support offline build if dependencies are already present?

Can CLPM rely on dependencies installed by linux distribution package manager?

[2021-09-24 00:43] jmercouris commented on #1427
Depends on the common lisp implementation.

[2021-09-24 11:42] Reefersleep commented on #577
@NightMachinary I think you misread @junwei-wang 's comment in more than one way; he's arguing _for_ a brew formula, not against it, and I don't think he meant to be derogatory, but rather that if any effort were to be spent, it'd be better spent on a brew formula rather than putting Nyxt on the App Store, since the type of users who'd be interested in Nyxt would probably be developers who primari

[2021-09-24 11:53] NightMachinary commented on #577
@junwei-wang He’s right, I am sorry. I misread your comment. I should cultivate a habit to (carefully) reread things that sound controversial.

[2021-09-24 13:09] Ambrevar commented on #1427
In our case with SBCL, Nyxt embeds all the Common Lisp dependencies but
not some CFFI libraries like libfixposix.

[2021-09-26 01:49] FOSSilizedDaemon opened #1798 "Feature Request: Add More Options for Advanced Build Time Configuration"
Hello,

I am becoming more and more interested in the Nyxt web browser, but there is one thing bugging me. As Nyxt grows it will undoubtedly gather more and more features and have a bigger and bigger codebase, this is only natural. That said, some users, such as myself, may not want features X, Y, and Z which are non-essential "extras".  Due to this I wanted to ask if there was any chance that mor

[2021-09-26 15:14] andreas-marschke opened #1799 "Enforcing Sandbox w/ WEBKIT_FORCE_SANDBOX=1 Crashes on startup"
**Describe the bug**
Starting nyxt `master` branch with sanbox flag enforced crashes nyxt on startup.
Commit-Id: ce54c0a35118d4499634640f7f05ed19edbf9c6f
[code]
**Precise recipe to reproduce the issue**

For website-specific issues:
Can you reproduce this issue with Epiphany / GNOME Web (https://wiki.gnome.org/Apps/Web)?

**Information**
- OS name+version: Debian GNU/Linux Sid/Unstable
- Graphics

[2021-09-27 19:41] Mestelan opened #1801 "State of the Debian package"
The download page offers a package for Ubuntu, stating that:

On the other hand, the 'Releases' page offers this [package](https://github.com/atlas-engineer/nyxt/releases/download/2.2.0/nyxt_2.2.0_amd64.deb), which installed all right on this 'Debian stable' box, and works fine.

Is this intended? Maybe because this package is offered as a convenience, but not fully supported?

I should also state

[2021-09-28 03:40] jmercouris commented on #1801
Correct, it is a convenience, but not fully supported. A user of Pop OS once reported issues with the deb installer. Do you think it is unclear where to find? Do you think we should list distributions that support Deb files?

[2021-09-28 07:50] Mestelan commented on #1801
Indeed, it is a tad confusing. Even my question was unclear, because I had not realised that the file I have linked to is the same as the Ubuntu installer. In retrospect, it is obvious, since I notice now that the link is the same; but I had thought it was maybe a 'hidden' or forsaken Debian-specific installer.

So, yes, since the Ubuntu deb installer appears to work on Debian stable (whereas the

[2021-09-28 18:49] pdelfino opened #1803 "Feature request: create tools for webscrapping in Nyxt"
It would be interesting to have a GUI approach. [Selenium](https://en.wikipedia.org/wiki/Selenium_(software)) could be a good (thought not mandatory) inspiration.

[2021-09-28 18:50] pdelfino commented on #1803
@jmercouris, any additional comments that should be registered here based on the meeting today with @ebellani?

[2021-09-28 20:47] babariviere commented on #1571
As a workaround, you can force the use of `x11` as a backend. Just run:
[code]

[2021-09-28 21:37] jmercouris commented on #1803
None that I can think of for now.

[2021-09-29 17:00] aartaka commented on #1796
Not sure about it. #1762 is there, and ClearURLs can just get supported with sufficient effort after merging it. Why split the community if we can rely on ClearURLs comprehensive lists?

[2021-09-29 17:06] aartaka commented on #1799
Oh wait, it was because of my advice on IRC, wasn't it? Sorry, I've been confusing, I meant setting it to zero :)

Motivation for that is:
- `webkit_web_context_set_web_extensions_directory()` is essentially a `webkit_web_context_add_path_to_sandbox()` underneath and thus should work to enable extension loading.
- If it doesn't work (and it doesn't), then we need to create a GApplication, as the w

[2021-09-29 17:21] pdelfino commented on #1796
This is a good point, Artyom. I think my brain needs to realize #1762 is a dream becoming a reality haha. I am closing the issue. If someone disagrees, we can re-open it later.

[2021-09-29 17:21] #1796 closed

[2021-09-30 08:20] Ambrevar commented on #1065
I don't enough about CLPM to give you good answers.

For now, we are going to rely on Git submodules to fix the urgent Quicklisp issues.
https://github.com/atlas-engineer/nyxt/pull/1802

If we get more comfortable with CLPM and it proves to be the right tool, we might switch to it.

[2021-09-30 08:39] Ambrevar commented on #1798
Indeed, we've discussed such things in the past.  Other obvious examples also include support for Quicklisp or OSPM (which currently only wraps Guix).

It's easy to add such togglers with ASDF, all we need now is to agree on a workflow:

- What should the command line interface be?  Environment variables?
- We should be able to list all flags dynamically.

[2021-09-30 08:40] Ambrevar commented on #1798
@FOSSilizedDaemon Note that Nyxt major dependency is WebKitGTK.  Everything else, including the password managers, are currently optional and only looked up at runtime.  Removing _Lisp_ code from Nyxt at build time won't have a noticeable impact on size nor performance.

[2021-09-30 13:44] tg-x commented on #984
i'd like to see the above flake added to the project.
many projects are already using it, including me in all my projects, and it's stable enough to rely on.
it would make it much easier for nix users to build the latest revision and contribute to the project.

[2021-10-01 03:20] jmercouris commented on #984
Can you please show how a user would build the latest revision using a flake? What commands would they have to type, what would they have to do?

[2021-10-01 08:49] Ambrevar opened #1805 "Redesign buffer class hierarchy"
(I think we already had an issue about this but I can't seem to find it.  Please let me know if you do.)

Currently we have a top `buffer` class which contains way too much, and then a bunch of child classes.  Here is the approximate hierarchy:

[code]

This design raises a few problems:
- proxy settings are missing for the prompt buffer
- https://github.com/atlas-engineer/nyxt/pull/1642: On FreeB

[2021-10-01 08:49] Ambrevar commented on #1805
@jmercouris @pdelfino What do you think?

[2021-10-01 09:55] Ambrevar commented on #801
Documented with 1cace38b19d709f5999aee924bb6510d03637e01.

[2021-10-01 10:55] jmercouris commented on #801
Thank you!

[2021-10-01 12:41] pdelfino opened #1806 "Feature request: make Nyxt's Lisp REPL prompt indicate the current package"
The Nyxt's REPL does not indicate the package being used. It just lists
`>`. It has a similar approach to raw SBCL which indicates the prompt with `*`.

I think it would be better to have a REPL interface with the package name
being explicit, just like SLIME/Sly does, e.g. "CL-USER> ".

By leveraging Slime, this and other REPL features could be achieved.

[2021-10-01 14:10] pdelfino opened #1807 "Feature request: create an option to overwrite files within the built-in editor"
Currently, it is not possible to overwrite files within the built-in editor using the command `editor-write-file`. It is necessary to do:

[code]

Thus, I would like to suggest a *new* feature in which if the user is editing an existing file, they are going to be prompted if they  want to save the changes overwriting the file with a question such as: "overwrite file?". Depending on the answer ("ye

[2021-10-01 14:33] pdelfino commented on #1805
This is a delicate and critical issue. I feel uneducated about this debate to be honest.

Recently, I read the Sonja book on CLOS. Your suggestion with `buffer` as a **basic class** (author terminology, not technical consensus) and some mixin classes seems exactly what the author suggests for this kind of situation (if my interpretation of the book is correct).

Using Sonja's style for names, I gu

[2021-10-01 16:13] tg-x commented on #984
1. use `nix build` to build the project then run the binary from the `result/` dir
2. use `nix develop` to get a development shell with all dependencies available in the enviroment

[2021-10-04 11:03] pdelfino opened #1808 "Feature request: create a `copy as org mode` command converting web pages (html+css) to org"
Someone mentioned this experimental Firefox add-on on the nyxt IRC channel called [Copy as Org-Mode](https://addons.mozilla.org/en-US/firefox/addon/copy-as-org-mode/). I can't remember who mentioned it, sorry.

It seems to be used by few people. Also, it has the label experimental and Mozilla says this add-on "is not actively monitored for security".

I think it can serve as a good inspiration. Ho

[2021-10-04 17:37] pdelfino opened #1809 "Feature request: integrate Nyxt with `GnuTaler`"
More info about [Gnu Taler](https://taler.net/en/index.html)

[2021-10-04 17:38] pdelfino commented on #1809
A somewhat related [discussion](https://discourse.atlas.engineer/t/what-about-inserting-nyxt-on-the-criptocoin-blockchain-world-and-how-could-we-try-doing-it/274).

[2021-10-05 05:07] aaron-tan opened #1810 "Error with slime when compiling Nyxt"
I'm facing some issues when I'm compiling my Nyxt and I'm not sure what is wrong with it.

When I run `make all` I get an end-of-file issue while loading the nyxt/gi-gtk-application with quicklisp:

[code]
If my understanding is correct it seems that the gi-gtk-application is trying to read more data than what my backend.fasl file has hence why it gives an end-of-file error but I could be wrong. A

[2021-10-05 15:39] pannet1 commented on #1485
@jmercouris,
i think nyxt is qualified enough to  become the main browser of many distro out there. as @SwampRabbit said getting into debian upstream is a great idea. if the work was done to support debain, i think lot of distros could use it. i may be wrong but i cannot wait to put my hands on the nyxt.

[2021-10-05 18:26] SwampRabbit commented on #1485
@jmercouris sorry just getting around to this more, if you make a empty branch called "debian_packaging" I'll work on the Debian source package files in there

[2021-10-05 19:44] pdelfino opened #1812 "Expand keyschemes on Nyxt's built-in editor"

[2021-10-05 19:48] jmercouris commented on #1485
@SwampRabbit I'm not sure how that helps, but I'll push an empty branch off the 2-series branch titled `debian_packaging`: https://github.com/atlas-engineer/nyxt/tree/debian_packaging

good luck :-D

[2021-10-06 10:23] pannet1 commented on #1485
@SwampRabbit
Thanks for taking this up amidst the upcoming next release of MX Linux. You might be having a crazy work schedule. Shiny new MX linux with Nyxt browser in it. I am already fantasizing it :100:

[2021-10-06 10:35] Ambrevar commented on #1810
Can you share the exact commands you type to trigger this issue?  Also how did you fetch Nyxt source code?

[2021-10-07 04:23] aaron-tan commented on #1810
@Ambrevar I simply tried to compile it using `make all` and that's the error that it throws. The lisp repl I'm using is sbcl.

I fetched the source code from here on GitHub. I made a fork of it and I cloned it into my local repository

[2021-10-07 04:23] #1810 closed

[2021-10-07 11:24] Ambrevar opened #1813 "Leverage trivial-backtrace to report the call stack on warnings and errors"
Currently our standard-error log is not so useful on warnings and errors.

I suggest that we leverage trivial-backtrace to log the call stack (stacktrace) on errors.
When verbose is true, also report it on warnings.

Thoughts?

[2021-10-07 16:51] jmercouris commented on #1803
I see, thanks for sharing.

[2021-10-07 17:17] pdelfino commented on #1807
PR #1811 solves this. Thus, I am closing the issue.

[2021-10-07 23:02] igoralmeida opened #1814 "Allow colors in minibuffer?"
Continuing with my experimental notmuch frontend, I wanted to keep the [color differentiation](https://github.com/atlas-engineer/nyxt/issues/1190#issuecomment-875250924) between tags during the search command (which invokes the prompt). I wonder if you have considered enabling styling in there as well.

Here's what I managed to do:
![2021-10-05-215552_1348x639_scrot](https://user-images.githubuser

[2021-10-08 10:11] Ambrevar commented on #1814
Looks good to me, but @igoralmeida you mentioned that we could use a _safer_ design, does this mean this could be unsafe?  How?

[2021-10-08 11:36] jmercouris commented on #1814
Allowing arbitrary HTML for each cell means that one could easily break the layout. I think this is what @igoralmeida means when they say that it is unsafe.

[2021-10-09 15:21] igoralmeida commented on #1814
I thought of the usual exploits like javascript and iframes. I couldn't get javascript to run, but I did manage to get an iframe there -- though an empty one, because the actual loading seems to take place in another (regular) buffer.

A "safer" design could be wrapping the attribute in `(:span :style extra value)` for an alternate version of suggestion attributes of the form `("Attrkey" ("Value"

[2021-10-11 16:03] aartaka commented on #1805
`styleable-buffer` can be a useful mix-in too: both `internal-buffer` (or `buffer` in case of #1815) have `style` slot and we can benefit from one class to configure 'em all.

[2021-10-12 06:52] Ambrevar commented on #1805
Good call!

[2021-10-12 09:30] Ambrevar commented on #1681
Also please test 2-series for at least a few minutes :)

[2021-10-12 09:53] Ambrevar commented on #1427
Nyxt now uses Git submodules to fetch all Lisp deps (instead of Quicklisp).

This should fix the Gentoo build as well.

In the future, we might use CLPM, see https://github.com/atlas-engineer/nyxt/issues/1065.

[2021-10-12 09:54] Ambrevar commented on #302
Done with https://github.com/atlas-engineer/nyxt/pull/1802.
@crocket Does master or `2-series` work for you?  We are going to release version 2.2.1 very soon with this new Quicklisp-less setup.

[2021-10-12 09:55] Ambrevar commented on #1418
We no longer use Quicklisp.

[2021-10-12 09:55] #1418 closed

[2021-10-12 17:27] Ambrevar commented on #1813
Merged.

[2021-10-12 17:27] #1813 closed

[2021-10-12 20:26] MithicSpirit opened #1816 "Build fails with missing "alexandria" dependency"
**Describe the bug**
When building with `make all` (no other envvars set), the build errors out stating
[code]
(which is followed by a backtrace).

**Precise recipe to reproduce the issue**
This was originally done on my regular Arch Linux install, though for easier reproducibility I used docker:
0. Install docker; start it with `sudo docker run -it --rm archlinux:base-devel`
1. Install dependenci

[2021-10-12 20:47] jmercouris commented on #1816
There seems to be some odd recursion going on for your local project directories.

[2021-10-12 21:13] MithicSpirit commented on #1816
I can also reproduce this on the `ubuntu` docker image, so the issue almost certainly is not with my system (unless it somehow also affects docker?)

[2021-10-12 21:33] jmercouris commented on #1816
I see, thank you for the information, I'm investigating right now. If I can't come up with something, hopefully @Ambrevar has some ideas.

P.S. other individuals on our IRC channel have reported the same issue.

[2021-10-13 11:02] Ambrevar commented on #302
This error seems unrelated to Nyxt.  Something might be wrong with your SBCL install.

[2021-10-13 17:50] jmercouris commented on #1779
I've not experienced this warning.

[2021-10-13 17:58] jmercouris commented on #1816
I confirm the fix. Thank you Pierre! Please feel free to reopen if you are experiencing any issues!

[2021-10-13 17:58] #1816 closed

[2021-10-13 18:20] aartaka commented on #1781
K, creating `GApplication` from Lisp is actually possible, but I haven't succeeded in making it work for sandboxing, even with lots of GTK/GNOME tutorials at hand. @Ambrevar, @jmercouris, maybe you'll have better luck. I'll move to other issues for some time.

[2021-10-14 01:26] jmercouris commented on #302
Unfortunately the archive files do not come with the submodules.

[2021-10-14 05:06] crocket commented on #302
How can I specify a prefix path?

[2021-10-14 05:32] crocket commented on #302
make PREFIX=/usr install worked.

People can now test https://github.com/crocket/crocket-overlay/tree/master/www-client/nyxt

[2021-10-14 16:59] pdelfino opened #1819 "Support a mark ring for Nyxt similar to what exists in Emacs"
Marking a point with `reading-line-mode` is somewhat close to this feature requesst. However, it would still be valuable to have a whole mark ring available recording places in multiple buffers where the user has set marks.

[2021-10-14 20:33] jmercouris commented on #338
Nyxt has become far more reliable to build since we've now removed Quicklisp, have you tried it for Alpine yet?

[2021-10-15 04:45] jmercouris commented on #882
This issue has been fixed according to #768 , please reopen if you still have issues!

[2021-10-15 04:45] #882 closed

[2021-10-15 04:46] jmercouris commented on #901
@Ambrevar OK to close this?

[2021-10-15 05:19] PhilHudson commented on #1634
I like the Conkeror approach:

modules/utils.js
652: * set_protocol_handler takes a protocol and a handler spec.  If the
661:function set_protocol_handler (protocol, handler) {

Used thus:

    set_protocol_handler("mailto", find_file_in_path("my_mail"));

Where the `my_mail` file is my own custom script that does some URI cleanup and tailoring before launching my MUA.

Reading the above thread, t

[2021-10-15 07:30] Ambrevar commented on #405
@jmercouris The title may be misleading, but here "multiple selection" refers to something else.  In particular, most of the examples given in the original post are not possible today with Nyxt.

[2021-10-15 09:49] Ambrevar commented on #32
Of course, and some exist already! See https://github.com/atlas-engineer/nyxt/blob/master/documents/EXTENSIONS.org.

As for ad-blocking, the problem is mostly with maintenance; it's a huge endeavor.  We would be better off reusing a well maintained ad-blocker than rolling out our own.

[2021-10-15 16:49] steewbsd opened #1820 "FreeBSD build failure: lfp.h not found even with libfixposix installed"
**Describe the bug**
I cannot succesfully compile nyxt on FreeBSD 13.0 STABLE amd64, after installing all dependencies as the wiki says.
It complains about not finding the lfp.h library, corresponding to libfixposix, which is indeed installed (and I reinstalled it to be sure) and present in /usr/local/include/lfp.h
**Precise recipe to reproduce the issue**
1. clone a clean repo
2. gmake all
3. bui

[2021-10-15 17:04] PhilHudson commented on #1634
Sorry @Ambrevar, I should use `%slot-default%`...?

[2021-10-15 18:52] jmercouris commented on #1634
That's correct `%slot-default%` is the new way of representing the default slot value.

[2021-10-15 19:55] jmercouris commented on #855
The latest version of the element hint commands now supports input types. So you can just type in your binding and then `input` and it will show you all of the inputs!

![Screenshot_20211015_145425](https://user-images.githubusercontent.com/1691662/137546140-6097c1fa-b94f-47a1-8f82-0fec9c881cc4.png)

please reopen if you have any more questions!

[2021-10-15 20:03] Ambrevar commented on #1681
There are still many more bug fixes for the 2.2 series! ;)
  See https://github.com/atlas-engineer/nyxt/issues/1681#issuecomment-940834785.

[2021-10-15 20:36] jmercouris commented on #1286
Closing this for now, please feel free to reopen if necessary.

[2021-10-15 20:36] #1286 closed

[2021-10-15 21:08] jmercouris commented on #1258
Please reopen if you experience any more issues!

[2021-10-15 21:08] #1258 closed

[2021-10-16 05:03] jmercouris commented on #901
A good point. Perhaps we should ship a font strictly for usage via the UI of Nyxt?

[2021-10-16 08:26] mdbergmann commented on #1683
I don't want to interrupt the discussion.
For performance it certainly depends on what exactly is computed with a mapcar/pmap.
But due to the overhead of splitting up a list into chunks, feeding then to a parallel map operation and later combining the results this makes only sense if the map function does significant computations.

[2021-10-16 10:16] Ambrevar commented on #901
Perhaps indeed.  I believe some programs do this, Chromium and Firefox
may very well do this too.

[2021-10-16 10:18] Ambrevar commented on #495
It'd be great to see support for this in Nyxt, unfortunately I don't
know if any of the main contributors use this type of hardware.

@jmercouris @pdelfino @aartaka ?

If not, then we can only welcome someone else's contribution :)

[2021-10-16 10:34] aartaka commented on #495
I'm not using hardware auth yet :(

[2021-10-16 13:38] jtmoulia commented on #495
Ya ideally a new contributor steps up who's personally motivated and has the hardware.

That being said... if any of the main contributors is interested, I can donate enough money to buy a yubikey for testing purposes.

[2021-10-16 15:18] Ambrevar commented on #1820
` cffi:*foreign-library-directories*` is for the library object files (the `.so`), not the headers (the `lph.h` here).
The problem does not seem to be with Lisp but with your C compiler which does not know the `/usr/local/include` path.  Refer to your FreeBSD manual on how to fix this.

In the meantime, try the following hack:

[code]

then repeat the build commands (in the same shell).

[2021-10-16 16:32] #1820 closed, assigned to nobody

[2021-10-16 16:51] arne-cl commented on #32
@aartaka Could you please give an example of how to load a WebKitWebExtension in Nyxt?

[2021-10-16 17:06] aartaka commented on #32
Sure! I assume you are aware of the fact that WebKitWebExtensions are `.so` C libraries. The steps are:
- Get an extension from somewhere, either as binary or as the source code.
- (if it's not yet a binary) compile it according to instructions in the original repo.
- Put the resulting `.so` in `.local/shane/nyxt/extensions`.
- Start Nyxt.
- The extension should be automatically loaded into every

[2021-10-16 22:24] pdelfino commented on #495
Unfortunately, neither do I...

[2021-10-17 09:48] PhilHudson commented on #1302
OT: How to 'fix' ibuffer:

    (add-hook 'ibuffer-mode-hook #'ibuffer-auto-mode)

Useful now.

[2021-10-17 10:54] e0a6 opened #1821 "Always missing one password when listing passwords in KeepassXC"
Always missing one password  when you run the `copy-password` command.
For example, if my KeepassXC database has **n** passwords then Nyxt `copy-password` will show **n-1** passwords.

I stumbled upon this bug when I was having the same issues as #1760 (large latency).
This was tested on my main system and a virtual machine.

It seems the bug might be [this](https://github.com/atlas-engineer/nyxt/

[2021-10-17 14:47] crocket commented on #32
Perhaps, that's why qutebrowser can't do cosmetic filtering, yet?

[2021-10-17 19:50] lpaviets opened #1822 "Can't build from source: function make-search-completion-function specified with the invalid * type-specifier"
**Describe the bug**
Trouble building Nyxt from source, using Ubuntu 20.04
Error comes from the file `search-engine.list`, where the function `make-search-completion` uses an invalid type specifier:

; compiling file "/home/my-user-name/from_source/nyxt/source/search-engine.lisp" (written 17 OCT 2021 09:18:42 PM):
; processing (IN-PACKAGE :NYXT)
; processing (DEFINE-CLASS SEARCH-ENGINE ...)
; proc

[2021-10-18 14:35] Ambrevar commented on #1819
Dupblicate of https://github.com/atlas-engineer/nyxt/issues/392 ?

[2021-10-18 17:25] aartaka commented on #1822
Done in 3fbcdb5.

[2021-10-19 08:53] #1822 closed, assigned to nobody

[2021-10-19 09:10] aartaka opened #1823 "Utilise GActions for copying/pasting"
Gtk provides us with multiplatform and mostly reliable sets of action (e.g. in the context menus). We can probably utilize those. I haven't yet gotten to understand how to construct those, but it should work somehow. Here's what I tried:

[code]

This didn't work, but I'm pretty sure it's close to what we need.

And here're the pieces of reference I used:
[https://webkitgtk.org/reference/webkit2gt

[2021-10-19 11:40] e0a6 opened #1824 "blocker-mode (Ad-blocking) not working"
I enabled `blocker-mode` (as indicated by the built in Tutorial and Manual) but I still get ads on all websites I visit.
Am I missing some step (ie some configuraton, etc) that needs to be completed for ad-blocking to work?

**Precise recipe to reproduce the issue**
1. Install GNU Guix (OS)
2. Install Nyxt via Guix Package manager (`guix install nyxt`)
3. Open Nyxt and enable `blocker-mode`
4. Nav

[2021-10-20 12:54] aartaka commented on #1781
Adding to the wyebadblock info: most WebKit browsers use `/usr/lib/browsername/` as the extension directory. This is outside XDG paths, so should work better. However, this is a directory that's out of non-sudo user reach.

Maybe GTK actually has a way to claim rights for `/usr/lib/` subdirs? If so, this should be significantly easier to change one directory than rewriting the core logic.

[2021-10-20 12:57] aartaka commented on #1824
`blocker-mode` most probably does work. It's just that it's host based and cannot block everything on the page.

[2021-10-20 13:23] Ambrevar commented on #1794
OK, I'll send a patch later then.

[2021-10-21 13:39] shamazmazum opened #1826 "Cannot open local html files"
Hello. I cannot open local html files with `C-x C-f`.

**Precise recipe to reproduce the issue**
* Open local directory which contains `.html` files with `open-file`
![20211021_16h18m03s_grim](https://user-images.githubusercontent.com/812069/138287771-8295b053-1e6f-45ff-b405-0a2ca7b5963f.png)
* Choose any `.html` file. Nyxt will download it instead of just showing it.

This workaround works for me

[2021-10-21 22:28] chaorace opened #1828 "Hints do not appear for elements within a Shadow DOM"
**Describe the bug**
Hints will never be created for page elements which exist inside of a [Shadow DOM](https://developer.mozilla.org/en-US/docs/Web/Web_Components/Using_shadow_DOM), even if a hint would normally apply to that particular element otherwise.

**Precise recipe to reproduce the issue**
1. Visit a web page that heavily utilizes Shadow DOM ([example](https://developer.servicenow.com/dev

[2021-10-23 21:43] WilliamBehrens opened #1829 "Nyxt makefile not installing submodules"
**Describe the bug**
When running `make all` in version 2.0.0 nyxt would fetch all it's own submodules but now in version 2.2.1 I get an error saying that the module Alexadria cannot be found as well as no indecation that the make file installed any other modules. I'm not sure if this is a bug or if the build system between the versions changed.

**Precise recipe to reproduce the issue**
`make all

[2021-10-24 12:11] xaltsc opened #1830 "nyxt escapes characters in CSS"
**Describe the bug**

When specifying a style string for buffers, characters like `>`, even though meaningful in CSS, are escaped to their `html` escape sequence, in this case, `&gt;`.

**Precise recipe to reproduce the issue**

Put this in your configuration:
[code]
And inspect the status buffer. (Note that the style slot of the status buffer is correct).

**Information**
- OS name+version: VoidL

[2021-10-25 15:19] #1826 closed, assigned to nobody

[2021-10-25 22:59] jmercouris opened #1832 "Make Manual Non functional."
1. Load the system nyxt/documentation
2. Observe the following error:

[code]

Why did I not fix this and instead made a bug report? I seem to remember @Ambrevar wanting to change the inheritance hierarchy.

[2021-10-27 14:21] Ambrevar opened #1836 "Simplify the `mode` API"
Our mode API is a bit convoluted.
In https://github.com/atlas-engineer/nyxt/pull/1834 I tried fixing `mode-name`, but really, such a trivial function should not be so hard.

1. For a start, if user classes where better designed, we would not have to convert `user-MODE` to `MODE`, so `mode-name` would not be needed.
See https://github.com/atlas-engineer/nyxt/issues/1431.

2. Then we have an awkward

[2021-10-28 09:57] #1832 closed, assigned to nobody

[2021-10-30 00:10] dtw-waleee commented on #1829
@WilliamBehrens ping new release with the mentioned submodule src tarball :)

[2021-10-30 15:50] fade opened #1840 "Nyxt window crashes after loading default history and changing to a web buffer"
**Describe the bug**
When starting nyxt built from either 2.2.2 tag, or the HEAD of the master branch, it crashes after selecting the default history file and switching to a web buffer.
**Precise recipe to reproduce the issue**
Start Nyxt, select default history, switch to web buffer. <crash>
This still happens when nyxt is started without any configuration.
prior to switching to the web buffer, t

[2021-10-31 02:10] fade commented on #1840
setting and exporting WEBKIT_FORCE_SANDBOX=0 and rebuilding the application with the gtk-application (as opposed to the default gi-gtk) renderer allows the application to come up and function normally. With thanks to @waleee on the #nyxt libera irc channel.

[2021-10-31 11:41] aartaka opened #1841 "Separate Emacs, CUA and Vi maps"
As discussed in [this forum thread](https://discourse.atlas.engineer/t/c-w-while-in-a-textbox-makes-me-sad/315/7), having both CUA and Emacs bindings in Emacs mode (and VI, Emacs, and CUA in VI mode) causes confusion or even more serious consequences.

How about we separate CUA, Emacs, and VI maps?

[2021-10-31 11:44] aartaka opened #1842 "Make hints selector a slot in web-mode"
[Original post](https://discourse.atlas.engineer/t/documentation-on-modes/336).

Having a configurable slot is much easier and prettier than rebinding the `symbol-function` of a symbol to change the keyword arguments of a function.

[2021-11-01 16:50] Ambrevar commented on #1840
Thanks for reporting, but something else is fishy in your reports, so you might want to double-check the Git log of the repo and what you've compiled.
Can you share the commands you use to build Nyxt?

- `2.2` is _not_ `master`, in fact 2.2 lives on a different branch.
- You reported version 2.1.1-713-g26a49cb0, which is 3 weeks old.

I believe that checking out to 2.2 should fix your issue.  Let

[2021-11-01 16:53] Ambrevar commented on #1841
Inheritance is very convenient, but I understand why it may not suit everyone's needs.

What about importing instead?  For instance Emacs could import CUA bindings and _then_ unbind `C-w` if need be in the Emacs scheme.

The drawback is that it's less dynamic live, e.g. if something updates the CUA bindings while Nyxt is running, then change won't reflect on the Emacs bindings.  Not so much of pro

[2021-11-01 16:58] Ambrevar commented on #1842
Why not, but a pretty big API is hidden behind this function.

Advising (using your trick or some library) is also an option for the most adventurous hackers.

[2021-11-01 17:24] qst0528 commented on #1715
Hmm, I still cannot reproduce it.
Nyxt can go to and back from fullscreen with `M-x toggle-fullscreen` in my setup.

Basically my configuration is following.
```main = xmonad $ docks . ewmhFullscreen . ewmh $ def```

I'm afraid I misunderstand the word 'tabs away'.
Do you mean clipped window contents?  Then I found this hack, which I haven't tested.
https://hackage.haskell.org/package/xmonad-contr

[2021-11-01 18:49] mariari commented on #1715
yeah `M-x toggle-fullscreen` works. However you can't do that from your wm itself.

Normally for applications, when you press the toggle full screeen button on your WM (not `M-x toggle-fullscreen`), the window will shrink to the correct spot on the screen. Firefox acts ideally, just full sizing itself in the window size, meaning the WM can freely chose to full screen it. Applications like Chrome a

[2021-11-01 18:56] OlMon commented on #1840
Hej Hej,

I have the same problem/error. I tried both aur packages (nyxt and nyxt-browser-git)

nyxt-browser-git: 2.1.1-740-g37d0bae9
nyxt: 2.2.2

Setting `WEBKIT_FORCE_SANDBOX=0` let me use nyxt normally.

If you need any more information please let me know.

Cheers!

[2021-11-02 01:42] sivark commented on #1840
In case it's helpful, I'm observing the same behavior as @OlMon (crash, that goes away with the ENV variable tweak), with the same setup (AUR package `nyxt`). Here's my system information:
[code]

LMK if I can be of assistance.

[2021-11-02 02:22] WilliamBehrens commented on #1829
@dtw-waleee updating the package now :)

[2021-11-02 02:22] #1829 closed

[2021-11-02 09:30] Ambrevar commented on #1840
I can't reproduce on 2.2.2.

Does the crash happen on specific web pages?
If so, try to load a page that does not contain videos like https://nyxt.atlas.engineer/.

@aartaka Could this be related to https://github.com/atlas-engineer/nyxt/issues/1799 ?

[2021-11-02 09:31] Ambrevar commented on #1840
@OlMon and @sivark use Arch, so I assume they are on WebKitGTK 2.34, which may what triggers the crash.  This may be a WebKitGTK bug then.

[2021-11-02 09:35] OlMon commented on #1840
@Ambrevar  It happens on any page, or at least on every I tried (more than a few). I assume it is not directly because of a nyxt update. I updated some packages (don't ask which one), but nyxt was not one of them. After that nyxt did crashed as described above.

[2021-11-02 09:36] Ambrevar commented on #1840
Can you reproduce on Nyxt 2.2.0?

[2021-11-02 09:46] Ambrevar opened #1843 "Redirects are mistakenly not stored into history"
Recipe:

- `set-url` to `wiki tomato`
- Run `history-all-query` and notice that the current URL is missing.

@aartaka This is due to https://github.com/atlas-engineer/nyxt/commit/99c8f81a5164a11709ea7eb820b841f9c946f29d.  Indeed, `:webkit-load-redirected` may be sent for the final URL (I don't know why, either a server thing or a WebKit bug).

That said, I don't understand your patch.  We only sto

[2021-11-02 09:57] OlMon commented on #1840
On 2.2.0 it is working, so maybe my statement above was not correct about the update. I am not sure anymore.

[2021-11-02 11:18] Ambrevar commented on #1739
@edgar-vincent: I've tried again and I really can't reproduce the bug on #1793.
Anyways, I've updated the pull request to make it more robust, could you try again?

If you hit the issue again, can you post on which URLs and send a recipe as precise as possible?  Thanks!

[2021-11-02 15:31] aartaka commented on #1843
Oh wait! I've got it wrong! The `:webkit-load-redirected` URL is the final result of redirection, while the URL to not store in history is the one that came before the redirection. It's more complex than I thought. I suggest we revert 99c8f81 and approach redirections in a smarter way, altering history after the fact of redirection.

[2021-11-02 15:33] aartaka commented on #1840
Yes, and to #1781.

[2021-11-02 16:03] aartaka commented on #1843
Do we? We also do it in `nyxt:on-signal-notify-uri`/`notify::uri`, where the filtering is most needed, as notified URLs often contain redirection URLs and other junk, as contrasted to those in `load-finished` signal.

[2021-11-02 16:07] aartaka commented on #1843
So, what I suggest is:
- When we get a `:webkit-load-redirected` load status, we look at most recent URL in the buffer history.
- We delete this most recent URL.
- Westore to history the URL that came along with `:webkit-load-redirected` signal, as this is most likely the final result of redirection.

While this breaks the immutability of `htree`, we need to do the change after we actually added a

[2021-11-03 12:53] khinsen commented on #1840
I see the same issue with 2.2.2 compiled under a freshly updated Guix. Went back to 2.2.0, problem solved.

[2021-11-03 12:54] aartaka commented on #1814
See 4231f134f752817ca6d8965131ea4a8ef3bacaa7 for the patch that enables this. There's a key HTML styling in addition to attribute values.

[2021-11-03 13:08] aartaka commented on #1814
The fun thing is: while the suggestion styling works perfectly, all the styling of element hints and prompt buffer that I've done in my Nyxt config stops displaying on this commit xD

[2021-11-03 14:26] WilliamBehrens opened #1845 "Nyxt 2.2.2 crashes when making a search on void linux"
**Describe the bug**
I built nyxt from source on void linux and ran the resulting binary, I then tried to open a new url by searching something in the prompt. I then get the error
[code]
and upon pressing enter again it crashes

**Precise recipe to reproduce the issue**
build nyxt 2.2.2 from source
with vi keybinds press `o` to open a new search prompt
look something up and press enter

**Informat

[2021-11-03 14:37] Ambrevar opened #1846 "Turn `+data-root+` into a `data-path`"
Current `+data-root+` is

[code]

And `expand-default-path` expands to `(uiop:xdg-data-home +data-root+)` by default.

A problem arises if we try to move all "data-home" files to somewhere else, as is the case with the `dev` profile documented in the manual:

[code]

Here, any data-path value that specifies a _directory_ gets overridden and stored in `/tmp/nyxt/$BASENAME` directly.  This is unfort

[2021-11-03 14:38] Ambrevar commented on #1840
@aartaka I suggest reverting https://github.com/atlas-engineer/nyxt/pull/1505 for the `2-series` branch.

[2021-11-03 14:39] fbmnds commented on #1845
Same here. I suspect that the reason is relateed to the following update per 02.11.2021:

[code]

[2021-11-03 14:41] Ambrevar commented on #1845
Probably the same as #1840, stay tuned we are going to post a patch soon.

[2021-11-03 14:42] Ambrevar commented on #1843
Good point!

[2021-11-03 15:19] dtw-waleee commented on #1845
@WilliamBehrens @fbmnds I had the exact same error on clearlinux after it updated webkit2gtk to 2.34 and introduced a compatibility `.so` for 2.33. The stopgap measure that worked for me was to  build nyxt with the gtk-renderer instead of the gi-gtk one, (if you build with the makefile, `NYXT_RENDERER=gtk make ... `).

[2021-11-03 15:45] Ambrevar commented on #1846
We could fix this together with #1270.

[2021-11-03 17:47] Ambrevar opened #1847 "Crash when completing against `wiki` search engine while offline"
Turn off your connection, then call `set-url` and type `wiki a`.  Nyxt crashes with

[code]

[2021-11-03 20:09] WilliamBehrens commented on #1845
@dtw-waleee That didn't fix it, same issue. I'll wait for the patch

[2021-11-04 03:39] jmercouris commented on #1846
I agree with this change. However, I disagree with many of the challenges of the existing data path API. That would be a discussion for a different issue!

[2021-11-04 03:41] jmercouris commented on #1847
Hm... seems we should handle that! Good catch!

[2021-11-04 03:43] jmercouris commented on #1840
I concur, let's revert that change for the `2-series` branch and leave it on master for now. Master is experimental, after all.

[2021-11-04 03:59] jmercouris commented on #1842
The selector has its own syntax/behavior within lquery. Users may wish to make a more complex predicate than what is offered. That said, a slot should suffice for 99% :-).

[2021-11-04 04:01] jmercouris commented on #1841
I think inheritance is a good default. How about instead of importing bindings, we let users redefine the inheritance hierarchy? For example, there is no need to make emacs inherit from CUA, it could just stand alone, no?

[2021-11-04 04:03] jmercouris commented on #1814
That is very very odd, did you open the inspector to see why that might be?

[2021-11-04 08:36] aartaka commented on #1842
We don't do it ourselves (yet?), but if we were to, we'd need to rewrite all the places selectors are used in. So yes, selector is sufficient, and if one wants to override the behavior in a more serious way, they'll need to get their hands dirty (︶︹︺)

[2021-11-04 08:39] aartaka commented on #1840
But that won't solve the problem -- `.config` is erroring too. See my comments in #1505.

[2021-11-04 08:47] aartaka opened #1848 "Store more information in history"
[https://developer.mozilla.org/en-US/docs/Mozilla/Add-ons/WebExtensions/API/history](The WebExtensions history API) requires the browser to store all the visits to a URL, with the respective timestamp and type of navigation. This hints at the fact that we can store more information in history than we currently do, and that we'll eventually need to do it.

The information to store (see the link abo

[2021-11-04 09:06] Ambrevar commented on #1841
The user can already to this by redefining the `emacs` scheme.  Currently the issue is that we take inheritance for granted and thus rely on some bindings being inherited from CUA (and Emacs for the VI scheme).

If we stick to inheritance, we could indeed follow @jmercouris' suggestion:
- Define all bindings explicitly for all schemes.
- Disable undesired bindings in Emacs and VI schemes (see http

[2021-11-04 09:14] Ambrevar commented on #1739
Should be fixed with #1793 now on `2-series` and `master`.  Feel free to reopen if you can reproduce.

[2021-11-04 09:14] #1739 closed

[2021-11-04 09:19] aartaka commented on #1847
Fixed by c595f1b53cbc7259f7e121b37cb3a789d2079521. See the commit message for explanation of why the fix is so not-specific.

Additional thing to do would be to add the `handler-case` to the completion functions of the default engines.

[2021-11-04 09:29] aartaka commented on #1847
Done: f45aa8f1868a5a00d56aaea0376e781871a11e9f.

[2021-11-04 09:29] #1847 closed

[2021-11-04 11:11] Ambrevar commented on #1847
Thanks!

[2021-11-04 11:42] #1843 closed

[2021-11-04 16:44] WilliamBehrens commented on #1845
@Ambrevar When you say you're going to post a patch where do you post them? like a patch file or is it just going to be a pr?

[2021-11-04 18:07] jmercouris commented on #1327
In the name of consistency, shall I also move `renderers` to `renderer`?

[2021-11-04 19:26] jmercouris opened #1851 "Web mode as a meta mode"
I noticed that many of our modes are based upon web-mode. However, web mode is a very large mode! I am thinking of the following, turn web-mode into a meta mode.

Toggling web-mode will actually toggle a set of modes (jump heading mode, search buffer mode, etc).

For example, we'll add a jump-heading mode that web-mode will toggle. What do you think? A logical way to decompose web-mode?

@Ambrevar

[2021-11-04 19:27] jmercouris commented on #1851
Definition: a meta mode is a mode that toggles modes.

[2021-11-05 05:32] guojing0 opened #1853 "Issues when installing on macOS High Sierra 10.13"
**Describe the bug**

**Precise recipe to reproduce the issue**

I was reading good first issues and found some to fix, so I tried to build Nyxt from source according to [Hacking section of README](https://github.com/atlas-engineer/nyxt/blob/master/documents/README.org#hacking). After inputing `(ql:quickload :nyxt/gi-gtk)`, I saw the output as indicated below. It seemed to be caused by CFFI and io

[2021-11-05 09:01] Ambrevar commented on #1848
I'm confused by

Are you saying that major browsers have semantic namespaces?

[2021-11-05 09:02] Ambrevar commented on #1848
Off the top of my head, I remember that we can store arbitrary data to our history entries, so most of this should be easy, no?

As for entry deletion, do you know an example where it would be really needed?

[2021-11-05 09:05] Ambrevar commented on #1851
Why not, but first a question: is there a use case where one would want or need `jump-heading-mode` without `search-buffer-mode`?

In other words, does this decomposition make sense in terms of "mode units", from the user perspective?

Alternative suggestion: we could further split web-mode.lisp into multiple files, one for history, one for bindings, etc.

[2021-11-05 09:16] Ambrevar commented on #1853
This is most definitely a Homebrew issue.  Update brew and try again, see if the pango package was fixed in the meantime.

Otherwise report the issue to the maintainers.  Maybe here: https://github.com/Homebrew/discussions/discussions.

Note: first try with SBCL (2.*), CCL support is subpar. although it is known to work from the REPL.

[2021-11-05 10:42] Shadesfear opened #1854 ""Page could not be loaded" when going back and forth in history"
Sometimes when going back and forth in history I get the "Page could not be loaded"

This does not happen when going to new links, only when invoking history-backwards or history-forwards. It doesnt seem to be concistent over all websites / sessions.

I can reproduce the error by doing the follow:

- Go to https://google.com
- Do a search (I searched 'aur')
- Invoke set-url-new-buffer to navigate

[2021-11-05 11:07] Ambrevar commented on #1854
Thanks for reporting and good news, I believe this has just been fixed.
You can try it out on the `2-series` branch or just wait for the next release, shouldn't take long :)

[2021-11-05 13:38] guojing0 commented on #1853
Thank you, @Ambrevar :)

I updated and upgraded Homebrew (and all the installed packages) and reinstalled Apple Command Line Tool. Now Homebrew cannot find `gcc`, so I report it to the maintainers in the link you mentioned.

Once I resolved these issues, I would try with both SBCL and CCL.

[2021-11-05 14:03] Ambrevar commented on #1840
Looks like I can reproduce this issue on Guix with the recent WebKitGTK 2.34.1 update.
So it may be an upstream issue after all, or we were using the API wrong before :p

[2021-11-05 14:59] aartaka commented on #1848
Sorry, I've been unclear. What I mean is that the linked paper has some insights for features that even major browsers don't have. The list above the reference to the paper, though, is standardized and all the Chromium- and Gecko-based browsers should have it.

[2021-11-05 15:04] aartaka commented on #1848
Yes. The only thing that puzzles me is how to store visits, as right now this is only represented as `implicit-visits` counter, while it should be a collection of visit objects with their own properties. How and where to implement it and where to add it are relatively non-trivial questions.

Extensions that rely on `history` WebExtensions API can use it for whatever reason they want it. The mere f

[2021-11-05 18:46] jmercouris commented on #1851
Perhaps it does not make sense... in any case, I want a way to make `web-mode` smaller and more focused. We can still bind things to disabled modes. Perhaps web-mode should just be a common set of bindings for `jump-heading` mode, etc.?

[2021-11-05 20:19] Ambrevar commented on #1327
Fine with me.

[2021-11-06 09:12] fbmnds commented on #1845
@dtw-waleee same issue with `gtk` like @WilliamBehrens. Is there perhaps an additional dependency to be considered?

[2021-11-06 10:31] guojing0 commented on #1853
I resolved this issue by installing (required) packages with MacPorts instead of Homebrew, which I uninstalled. Building from source with Lisp has been quite successful compared to last time, however, after installing cl-webkit into `~/common-lisp/cl-webkit-3.1.0`, and executed `(ql:quickload :nyxt/gi-gtk)`, this appeared:

I tried many of the restarts and none of them worked.

[code]

[2021-11-06 10:53] aartaka commented on #1853
What you can do is add the directory that yout WebKit `.dylib` is stored in to the `cffi:*foreign-library-directories*` and try again. CFFI should find it with this hint. The code is simply this:
[code]

[2021-11-06 10:58] aartaka commented on #1814
That was some random Heisenbug (most probably some typo in my config), I cannot reproduce anymore xD

Anyway, closing this as the feature is on `master` already.

[2021-11-06 10:58] #1814 closed

[2021-11-06 12:28] guojing0 commented on #1853
Thank you @aartaka

I later realized that I should have installed "webkit2-gtk3" instead of "webkit-gtk3", so that solved the problem.

Now I am trying to get X window displayed.

[code]

[2021-11-06 13:47] guojing0 commented on #1853
The issue is now considered closed, as the problem is now solved.

Some pointers for future readers:

1. If you are on a legacy MacOS system (for example, I'm in MacOS High Sierra 10.13.6) and Homebrew does not work for you, you may want to try MacPorts.
2. Install `webkit2-gtk3` instead of `webkit-gtk3`.
3. Related issues: https://github.com/atlas-engineer/nyxt/issues/657

[2021-11-06 13:47] #1853 closed

[2021-11-06 14:12] guojing0 opened #1855 "Nyxt XQuartz/X11 window does not start from REPL"
**Describe the bug**

I have successfully built and loaded Nyxt into my CL environment, but it hangs after executing `(nyxt:start :verbose t :no-init t)` which the following output:
[code]

The most related past issues I could find are #1630 and #1012 but could not solve my situation. I read relevant code but could not find anything helpful to narrow down the issue.

Update: After reading https://

[2021-11-06 14:51] tulth commented on #1388
I have a similar issue; i am using ```.Xresources```:
[code]

Some screen shots of cutoff text in various areas:
modeline:
![image](https://user-images.githubusercontent.com/11246388/140613799-b44e5cc4-2d12-49f1-a532-66ce203f5799.png)

top of github issues bar is sized strangely:
![image](https://user-images.githubusercontent.com/11246388/140613818-c5a8769f-130d-462a-8ea6-a3d95be37533.png)

It is

[2021-11-06 18:15] fbmnds commented on #1845
I had to update `quicklisp` in order to have the dependency on `cluffer` resolved, but still no success with version 2.2.2. I decided to downgrade to 2.2.0 which works.

I guess, issue #1855 is related.

[2021-11-07 03:33] guojing0 commented on #1845
I downgraded to 2.2.0 and still could not get X11 window displayed when building from source :)

[2021-11-07 04:30] guojing0 opened #1857 "Feature idea: Having a FAQ page for users and developers?"
Hi,

In the process of building and installing Nyxt, I found [the developer README](https://github.com/atlas-engineer/nyxt/blob/master/documents/README.org) to be really useful. The [issues](https://github.com/atlas-engineer/nyxt/issues) also contain many helpful hints and solutions.

However, I found out that similar questions and answers have appeared several times, such as

1. Installing `webki

[2021-11-07 09:03] fbmnds commented on #1845
I had to clean up the `fasl` files under `/home/dev/.cache/common-lisp/sbcl-2.0.1.debian-linux-x64/home/dev/projects/nyxt/_build/` in order to get a working binary.

[2021-11-07 09:14] guojing0 commented on #1845
@fbmnds Thank you for the advice. Still same as I mentioned in #1855 :)

[2021-11-07 12:18] Ambrevar commented on #1857
Should the developer's readme just be extended to include these frequently occurring bumps?

[2021-11-07 12:20] Ambrevar commented on #1845
@WilliamBehrens The fix is going to be posted as a PR or directly merged onto `master` / `2-series`.

[2021-11-07 12:22] Ambrevar commented on #1845
The issue seems to be related to the recent WebKitGTK 2.34 update.

[2021-11-07 12:43] guojing0 commented on #1857
Yes, it's another approach.

[2021-11-07 13:46] #1857 closed

[2021-11-08 07:18] guojing0 opened #1860 "README: Broken link in "Getting started - Install Nyxt" to "MacPorts""
Similar to the issue in #1115, the link to MacPorts in the main README is

https://source.atlas.engineer/view/repository/macports-port

which seems to be broken. I think correct link is the following?

https://github.com/atlas-engineer/ports

Update: Fixed https://github.com/atlas-engineer/nyxt/pull/1859/commits/341fbf900875dc1ff91cd69830c32422c2893ae2 in PR #1859

[2021-11-08 16:05] #252 closed

[2021-11-08 17:25] rimio opened #1862 "SIGABRT on page load"
**Describe the bug**
When (o)pening any URL, upon CR after typing the address the browser silently NOOPs, and upon the second CR it fails with SIGABRT.

**Precise recipe to reproduce the issue**
Open any web page.

For website-specific issues:
Can you reproduce this issue with Epiphany / GNOME Web (https://wiki.gnome.org/Apps/Web)? No, obviously.

**Information**
- OS name+version: ArchLinux, up t

[2021-11-08 17:39] Ambrevar commented on #1862
I believe this is a duplicate of #1840.

[2021-11-08 17:40] Ambrevar commented on #1860
Fixed with #1859.

[2021-11-08 17:40] #1860 closed

[2021-11-08 19:10] aartaka commented on #1041
@bqv, can you please test on `master` (or on the next release, whatever is fine by you)? We enabled WebKit permission requests in #1849, and that had something about EME, so it well bay be related to what you want :)

[2021-11-08 19:13] bqv commented on #1041
In time, shall do!

[2021-11-09 10:18] guojing0 commented on #1470
Hi @tfidfwastaken, could you tell me how you managed to let it invoke `/opt/homebrew/opt/llvm/bin/clang++` for you?

I installed `llvm/clang` via MacPorts and have changed the syslink. But for me CCL uses `/usr/bin/cc` and SBCL uses `/usr/bin/clang`, so I was wondering that how I could change that?

[2021-11-09 11:35] tfidfwastaken commented on #1470
@guojing0
It looks like I did it by setting my PATH in my zshrc, ie
[code]

I also seem to have an environment variable set, which is, `CXX="/opt/homebrew/opt/llvm/bin/clang++"`.
You might have to change yours accordingly for your port installation.

[2021-11-09 12:11] guojing0 commented on #1470
@tfidfwastaken Thank you. Yes, that's what I read and learned in most places, and I updated it again, but somehow setting the PATH just does not work for me...

[2021-11-09 14:50] guojing0 commented on #1855
Update: After removing CCL and SBCL related stuffs in `.cache/common-lisp/`, building with CCL also outputs similar error like the one from SBCL:
[code]

For reference, the output by SBCL:
[code]

[2021-11-10 11:20] guojing0 commented on #251
Hi @Ambrevar, I am looking at `spell-check.lisp` and thinking about your suggestions. Do you think we could also have a feature, with which the users themselves can add *word*s to the *dict*?

For instance, "nyxt" is not an English word and `enchant:dict-suggest` would return `("next")`. A user then could call some command or function, such that *word* "nyxt" is added to the *dict*.

[2021-11-11 10:04] daraul opened #1864 "Introspection?"
The emacs crowd will know this is when the application affords users the ability to inspect functions, variables, etc. Does nyxt have this? I did a quick searx and couldn't find any relevant docs. If not then I believe some functions like these could be invaluable.

[2021-11-11 11:15] aartaka commented on #1864
The functions are `describe-function`, `describe-variable`, `describe-class`, `describe-slot`, `describe-command`, `describe-key`, and `describe-any`. In case of commands (and functions/methods Nyxt has access to the source code of), it lists the source code. There are things to improve there, obviously, and for that there is for example #1084.

[2021-11-11 11:23] daraul commented on #1864
Cool! I'll close this, then.

[2021-11-11 11:23] #1864 closed

[2021-11-11 11:46] aartaka opened #1865 "History named storage/restoration does not work"
**Describe the bug**

`store-history-by-name` and `restore-history-by-name` don't work anymore. `store-history-by-name` stores this to the named file:
[code]
While `restore-history-by-name` either does nothing to the history or (if you have not buffers open) opens `about:blank`.

**Precise recipe to reproduce the issue**
- Start Nyxt.
- Open some websites.
- Execute `store-history-by-name` and typ

[2021-11-11 15:57] primeTanM commented on #1565
what exactly is the issue?

[2021-11-11 16:10] primeTanM commented on #1565
What exactly is the issue? Do you want to not check ```contenteditable=true``` everytime you want to edit a element.Please elaborate

[2021-11-11 16:26] primeTanM commented on #1039
```window.scrollTo(0,document.body.scrollHeight);``` maybe simulate this command followed by ```window.scrollTo(document.body.scrollHeight,0);``` to scroll to bottom and back to top after load

[2021-11-11 16:37] ag91 commented on #1565
The fact that you cannot use this functionality in every input fields. Only INPUT and TEXTAREA are allowed so far. I mentioned that above with a link.

[2021-11-11 17:42] aartaka opened #1867 "Fetching hostlists for blocker-mode hangs Nyxt for a short moment"
We need to offload hostlist updating to a separate thread to avoid interface unresponsiveness.

[2021-11-12 11:28] guojing0 commented on #1867
By "offload" do you mean to create another thread (for updating hostlist), so that it would not cause interface unresponsiveness?

[2021-11-12 11:56] aartaka commented on #1867
Exactly.

[2021-11-12 11:56] aartaka commented on #1867
An alternative/addition that we discussed with @jmercouris on IRC is to use a faster data structure (e.g. hash table). Storing hostlists in a faster structure will speed up the host search and all the `blocker-mode` uses consequently.

[2021-11-12 16:49] guojing0 commented on #1768
HI Pedro,

I am currently working on `spell-check`-related things. Does it work when you select `browser` (instead of `user-browser`) class in your third step? From the code it seems that `spell-check-language` is part of `browser` class.

[2021-11-12 17:51] smtnskn commented on #338
There are signs of life in the aports repo:
- https://gitlab.alpinelinux.org/alpine/aports/-/commits/master/testing/nyxt/APKBUILD
- https://gitlab.alpinelinux.org/andypost/aports/-/commits/nyxt/testing/nyxt/APKBUILD

I'm just a dilettante, but managed to build 2.2.2 without any hassle. Been browsing for an hour now and everything seems to be working.

[2021-11-12 22:15] durrendal commented on #338
@jmercouris I haven't been able to get nyxt to build without Quicklisp. I run into issues like this if I just try to build nyxt.

`sbcl --no-userinit --non-interactive --eval '(require "asdf")' --eval '(when (string= "true" "true") (setf asdf:*default-source-registries* (list (quote asdf/source-registry:environment-source-registry))) (asdf:clear-configuration) (asdf:load-asd "/builds/alpine/aports

[2021-11-13 09:53] Ambrevar commented on #1039
Thanks for the tip!

[2021-11-13 18:45] winningluser commented on #1514
To start with a simple tor-browser mode, what about working from the "safest" mode approach in tor browser: https://tb-manual.torproject.org/security-settings

This simplification might then be easier to go about trying to follow the design and adversary model of TBB: https://2019.www.torproject.org/projects/torbrowser/design/

Working out the fundamental TBB-esque design and making sure the onion

[2021-11-13 22:15] ag91 commented on #1845
as a workaround, run this in your terminal `export WEBKIT_FORCE_SANDBOX=0`

[2021-11-14 05:40] Kreyren commented on #1514
Sorry i didn't get a notification about your previous message so i try to answer now:

i rather argue for a toggle switch and private window on-demand in nyxt that deploys a sandboxed environment with a standalone tor daemon that can be used and is optimized to be managed through nyxt e.g. requesting new identity and routing

such client should also provide a method to provide an alternative to fi

[2021-11-15 11:00] Ambrevar commented on #1867
In my experience, it hangs Nyxt indefinitely.  See for a fix: https://github.com/atlas-engineer/nyxt/pull/1869.

[2021-11-15 13:03] Ambrevar commented on #338
@durrendal Can you report the exact set of commands you ran to build Nyxt?

[2021-11-15 13:19] Ambrevar commented on #251
Absolutely, this is indeed an essential feature!

Interested in contributing it? :)

[2021-11-15 13:30] Ambrevar commented on #1514
In Nyxt, we offer optional, opt-in features either via official, embedded *modes* or *extensions*.

Modes don't "burden" Nyxt until they are activated.  Each mode has its own Common Lisp package, thus they are cleanly separated from the rest.

Extensions on the other hand must be installed separately, then loaded from the init file.
Extensions can contain new modes or anything else, they have full

[2021-11-15 13:42] guojing0 commented on #251
Yes, currently working on it.

[2021-11-15 15:00] Ambrevar commented on #251
Fantastic, thanks!

[2021-11-15 16:59] Ambrevar commented on #1538
https://nyxt.atlas.engineer/documentation is online!

@PhilHudson Which source do you mean?

[2021-11-15 17:19] Ambrevar opened #1870 "Inconsistent URL-related bindings"
`C-l` stands for `set-url` and it matches what popular browsers bind `C-l` to.
`l` could be argued to stand for "location".

This is why we've got `M-c l` for `copy-url`.

But then we are not consistent elsewhere, like with `C-m u` and `C-x r u` which are bound to `bookmark-url`.

Any other inconsistent bindings?
Thoughts about how to make them consistent?
@jmercouris @pdelfino @aartaka

[2021-11-15 17:53] PhilHudson commented on #1538
The source for the manual. I can't be more precise because I don't know where it is yet, and thus I also don't know what markup it uses. Hence the suggestion.

[2021-11-15 18:41] aartaka commented on #1867
Wow, thanks for that, Pierre!

[2021-11-15 19:48] aartaka commented on #1870
`base-mode` has `C-M-i` for `copy-title` in Emacs bindings. This is inconsistent with other bindings' `t`.

[2021-11-15 20:54] durrendal commented on #338
Without the quicklisp patch I was using this.
[code]

With it I was using this:
[code]

Perhaps I've missed something?

[2021-11-15 21:08] #810 closed

[2021-11-15 21:08] #1504 closed

[2021-11-15 21:08] #1565 closed

[2021-11-15 21:08] #1823 closed

[2021-11-15 21:13] aartaka opened #1871 "libraries/keymap: Allow rebindings non-prefix keys to be prefix keys in child keymaps"
In #1858, I discovered that if you bind `C-x` in CUA keymap, you can no longer use any `C-x`-prefixed command in Emacs/VI keymap. I believe that this is not the behavior one can expect there: child keymaps, when using parent non-prefix keys as prefix ones, should have a priority.

In other words, even it `C-x` is defined in CUA, it should never work without a subsequent key (like Emacs' `C-x C-f`,

[2021-11-15 21:14] aartaka commented on #1870
The reasoning about `l` does make sense, let's stick with it!

[2021-11-15 21:20] jmercouris commented on #1538
The manual is a dynamically compiled Lisp expression, it's not an RTF or a MD or ORG file we are converting, so I am not certain how valuable the source would be. What do you imagine a user may wish to do with the source?

[2021-11-15 22:26] PhilHudson commented on #1538
Contribute.

[2021-11-16 08:09] Ambrevar commented on #338
Actually there may be a bug when specifying explicitly
NYXT_SUBMODULES=true.

Try to leave it out (it's the default value anyways).  Does it work?

[2021-11-16 08:13] Ambrevar commented on #1871
Should it really be 3.0?  I know it would change the API but only slightly and it was unspecified behaviour, so I guess it's fine to fix this on 2-series too, no?

[2021-11-16 08:15] Ambrevar commented on #1870
Good catch!

Shall we update these bindings on `2-series` as well?  I'd lean towards a "yes", but on `2-series` we could also keep the old bindings for backward-compatibility.

[2021-11-16 08:17] Ambrevar commented on #1681
I'd like to release 2.2.3 tomorrow after merging the fixes on master and https://github.com/atlas-engineer/nyxt/pull/1869.

OK with everyone?
@jmercouris @pdelfino @aartaka

[2021-11-16 08:52] aartaka commented on #1871
Yes, makes sense :)

[2021-11-16 09:03] aartaka commented on #1681
I'd also like to enable `onbeforeunload` prompts (they appear in the case you close the buffer with an unsaved input and ask you whether you really want to close the buffer), as it's not pretty to lose one's input after pressing a wrong keybinding (as described [in this forum post on C-w closing the buffer](https://discourse.atlas.engineer/t/c-w-while-in-a-textbox-makes-me-sad/315/1))

If I won't

[2021-11-16 12:03] Ambrevar commented on #1681
No problem, 2.2.4 is coming soon, hopefully with the rest of the issues listed in the original post.

Great idea by the way!

[2021-11-16 17:10] jmercouris commented on #1681
OK with me!

[2021-11-16 18:07] aartaka commented on #1870
The sooner the better! #1858 is merged and it has some rebinds already, so no reason to hold it off :)

[2021-11-16 22:03] Ambrevar commented on #1538
This is the source:

https://github.com/atlas-engineer/nyxt/blob/master/source/manual.lisp

In short, you can contribute like you'd contribute with the rest of the
code, that is, by sending a pull request here on GitHub.

Do you think it's satisfactory?

[2021-11-17 11:02] aartaka opened #1873 "Resumed prompt is not cancellable/closeable"
Steps to reproduce:
- Run Nyxt, use prompt buffer command.
  - Example: do `set-url github.com RET`.
- Run `resume-prompt`.
- Choose the previously invoked `set-url` prompt.
- In the prompt opened by `resume-prompt`, try pressing `ESC`, `C-g` (if in Emacs mode) etc. It won't close the prompt.
- Try choosing any option out of the resumed prompts -- actions will run, but prompt will not close.

Nyxt

[2021-11-17 11:46] aartaka opened #1874 "Use history-forwards-maybe-query as default forward action?"
`history-forwards-maybe-query` is a cool command -- it mostly behaves like a usual `history-forwards`, but, if there are several forward children, it prompts the user to choose one. Binding it to where `history-forwards` usually is will make our tree-like history more useful and visible.

I bound `history-forwards-maybe-query` to `C-f` (Emacs mode binding) instead of `history-forwards`, and it's o

[2021-11-17 12:01] Ambrevar opened #1875 "Disable / destroy modes on buffer-delete?"
It seems that we don't kill modes when deleting buffer.

It's an oversight, isn't it?
Any specific reason why we wouldn't do it?

@jmercouris @pdelfino @aartaka ?

[2021-11-17 12:02] Ambrevar commented on #1873
I can reproduce.  Any idea when this started happening?

[2021-11-17 12:04] Ambrevar commented on #1874
I agree, I think it'd be a good idea.  Maybe bind it just in Emacs / VI as the default, since they target more advanced users?

All that said, wait for 3.0 for this one?

[2021-11-17 12:05] Ambrevar opened #1876 "Leverage cl-tld to validate domains"
In particular in `input->queries` and `valid-url-p` to get more procise URL / domain validation without expensive system calls.

https://github.com/lu4nx/cl-tld

[2021-11-17 12:16] aartaka commented on #1873
No idea, I haven't used this feature for several months.

[2021-11-17 12:52] guojing0 commented on #1876
This seems interesting; I will look into it.

Do you mean "to get more **precise** URL ..."?

[2021-11-17 12:58] aartaka commented on #1875
Do we re-initialize modes on buffer restoration? If no, then there's no reason to keep them.

[2021-11-17 12:59] aartaka commented on #1874
I'm not sure. It's even CUA users that can benefit from it. But I'm totally fine with it being exclusive for Emacs/VI maps too!

Sure!

[2021-11-17 14:08] Ambrevar commented on #1876
Indeed! :)

[2021-11-17 14:11] Ambrevar commented on #1875
We do re-initialize the _default modes_ only.

This is inconsistent and I'd call it a bug, so let's fix this.

Then we have a few options:

- Kill modes when deleting buffers.  This means that reopened buffers
  have their state reset.

- Keep modes when deleting buffers.  State is preserved!

- Add a mode slot option to choose if a mode should be destroyed or not.
  This allows us to fine-tuned t

[2021-11-17 14:50] aartaka commented on #1561
It's done in #1858.

[2021-11-17 14:50] #1561 closed

[2021-11-17 16:21] Ambrevar commented on #1787
This could be fully fixed since https://github.com/atlas-engineer/nyxt/commit/fc39a0d7f68030fd3cbe2da03fa9304648176280.
Can you people try `master` again?

[2021-11-17 16:22] Ambrevar commented on #1824
#1869 also fixes many more issues.  Feel free to reopen if there is anything else.

[2021-11-17 16:22] #1824 closed

[2021-11-17 16:27] Ambrevar commented on #1801
Agreed, I've just adapted the text to include your suggestion. Thanks!
Feel free to reopen if there is anything else!

[2021-11-17 16:27] #1801 closed

[2021-11-17 16:29] Ambrevar opened #1877 "blocker-mode should use the `data-path` more"
Follow up to https://github.com/atlas-engineer/nyxt/pull/1869#issuecomment-971591853.

1. Make `fetch` part of `restore`.
2. Turn `hostlist` into an `async-data-path`.
3. Remove all the threading code.

This changes the threading logic somewhat in the sense that multiple hostlists can be updated at the same time, but that's fine.
In the end, it's less code and more consistent with the rest of the

[2021-11-17 16:56] Ambrevar commented on #1806
Done in 8cd4487ff87de6aa14ef281c51f16bb26dc7b945, thanks for the suggestion!

[2021-11-17 16:56] #1806 closed

[2021-11-17 16:59] Ambrevar commented on #1714
@aartaka Would you have the time to look into this?

[2021-11-17 17:05] Ambrevar commented on #1867
Fixed with #1869.

[2021-11-17 17:05] #1867 closed

[2021-11-17 17:07] Ambrevar commented on #1845
All WebKitGTK 2.34-related hangs / crashes should be fixed on master since https://github.com/atlas-engineer/nyxt/commit/c2f1e613f34f1f24d83ab715de2bcb5914f2736e.

We had to stop enforcing the sandboxing though.  We are tackling this in a separate issue, see https://github.com/atlas-engineer/nyxt/issues/1781.

[2021-11-17 17:07] #1845 closed

[2021-11-17 17:07] Ambrevar commented on #1862
All WebKitGTK 2.34-related hangs / crashes should be fixed on master since c2f1e61.

We had to stop enforcing the sandboxing though. We are tackling this in a separate issue, see #1781.

[2021-11-17 17:07] #1862 closed

[2021-11-17 17:08] Ambrevar commented on #1840
All WebKitGTK 2.34-related hangs / crashes should be fixed on master since c2f1e61.

We had to stop enforcing the sandboxing though. We are tackling this in a separate issue, see #1781.

[2021-11-17 17:08] #1840 closed

[2021-11-17 17:09] Ambrevar commented on #1799
Closing in favour of #1781.  Feel free to reopen if there is something you'd like to add here specifically.

[2021-11-17 17:09] #1799 closed

[2021-11-17 17:47] #1754 closed

[2021-11-17 18:17] jmercouris commented on #1514
What Pierre says is very true. Modes insofar as they are completely standalone and not `meta-modes` (modes that activate other modes) place no additional weight/complexity on Nyxt.

I have however been thinking about it, and many users are requesting compile time options to enable and disable aspects of Nyxt. One user requested the ability to not compile the password manager. While I don't think w

[2021-11-17 18:45] jmercouris opened #1878 "Delete buffer broken?"
**Describe the bug**

When typing C-x C-k, or C-w, or invoking via M-x 'delete-current-buffer', or invoking via M-x 'delete-buffer' I am unable to successfully delete a buffer. The webview goes gray, and then Nyxt freezes.

Is the same problem present in newer versions of WebKit? I am running the older version on NixOS.

[2021-11-17 19:44] aartaka commented on #1714
Sounds fun, I'm in!

[2021-11-18 03:34] jmercouris commented on #338
Do you have git available in your build environment?

[2021-11-18 03:35] jmercouris commented on #338
I ask because perhaps you are not able to fetch the git submodules for Nyxt because of a lack of Git.

[2021-11-18 03:37] jmercouris commented on #1870
I agree with `C-m l` for saving the current URL as a bookmark.

[2021-11-18 03:37] jmercouris commented on #1870
I know of no other inconsistent bindings. Though, I'm sure we will find them!

[2021-11-18 03:40] jmercouris commented on #1871
A very salient observation. I guess this behavior occurs due to the inheritance of keymaps! Perhaps there should be a way to reorder the inheritance hierarchy of keybindings as we previously discussed. OR, a way to change the priority of a given keymap.

[2021-11-18 03:43] jmercouris commented on #1875
I would go with option two: "Keep modes when deleting buffers.  State is preserved".

Why did we not originally do this? It is not an oversight. I believe it is because our history was contained within a mode. By keeping the mode alive when restoring a buffer, we could also maintain forward/back etc.

[2021-11-18 04:38] durrendal commented on #338
This is what I'm seeing when I try and build with a simple make all, not NYXT_SUBMODULES=true or anything like that. Git is definitely part of the makedepends.
https://gitlab.com/Durrendal/WS-Alpine-Packages/-/jobs/1794804110

Here's what happens with the quicklisp patch:
https://gitlab.com/Durrendal/WS-Alpine-Packages/-/jobs/1794801494
That gets stuck on a missing dependency, I'm certain I can hu

[2021-11-18 07:37] Ambrevar commented on #338
I still recommend you drop the Quicklisp patch, as it's going to make it
harder for you and is not how Nyxt is meant to be built.

Try without and let's investigate step by step.
Can you share the APK recipe?

[2021-11-18 07:38] Ambrevar commented on #1871
Absolutely, I'm guessing it's a 1-sexp-patch!

[2021-11-18 07:39] Ambrevar commented on #1875
That's a good point!

However we _do_ call `initialize-modes` when reopening a buffer, so that
part at least was clearly an oversight.

[2021-11-18 07:58] Ambrevar commented on #1714
I knew you'd find it entertaining! :D

[2021-11-18 10:12] aartaka commented on #1714
Should be fixed by a3f6516614c055cd28f360df580406a9bb7aa6b8.

@mariari, thanks for your thorough investigation. It wasn't HTTP code, though. `204` was WebKitGTK error code for `WEBKIT_PLUGIN_ERROR_WILL_HANDLE_LOAD` which they somewhy were emitting when the plugin was taking the responsibility for page loading (as it happens with GStreamer and .mp4, I guess).  So, we're handling all the necessary H

[2021-11-18 10:12] #1714 closed

[2021-11-18 10:18] aartaka commented on #1878
Hmmmmmm. Is the buffer fully loaded when you do it?

I can reproduce, but only when the buffer had just started loading.

I'm sure it's some case I haven't tested for in #1872.

[2021-11-18 10:27] aartaka commented on #1878
@Ambrevar, do no release before this one is fixed :)

[2021-11-18 10:28] Ambrevar commented on #1878
No worries, noticed it too! :/

[2021-11-18 10:29] Ambrevar commented on #1878
I can reproduce systematically.

[2021-11-18 11:09] Ambrevar commented on #1878
I can reproduce on `2-series`.
I've bissected the history and @aartaka 's intuition is right, the issue is with cfad632913cbd2bc34b173bb1fd92f79eb96fcf2.

Any idea?

[2021-11-18 11:23] Ambrevar commented on #1878
First suspected bug: `buffer-delete` calls `ffi-buffer-delete` which calls `buffer-hide` which calls `buffer-delete`...

[2021-11-18 11:31] Ambrevar commented on #1878
Got it!

Turns out we needed `define-ffi-method` for `define-ffi-method` after all... :)  It would have surprised me otherwise, because this does act on GTK objects from the renderer.  So this makes sense.

@aartaka Can you confirm it works?  Have really managed to get `ffi-buffer-delete` to work as a simple `defmethod`?

I also tried with and without `(buffers-delete (id buffer))` in `buffer-hide

[2021-11-18 11:52] aartaka commented on #1878
It's `buffer-delete` -> `ffi-buffer-delete` -> `buffer-hide` - `bufferS-delete` :) `buffers-delete` is a simple remhash thus no recursion.

[2021-11-18 12:00] aartaka commented on #1878
Aaaaah, so that's what it was! Replacing `defmethod` with `define-ffi-method` does indeed fix it.

[2021-11-18 12:03] aartaka commented on #1878
OK, so 19ce32ed80aa604dd2975950da70604456bb76fc should fix it.

[2021-11-18 12:11] Ambrevar commented on #1878
Oops! :)

Thanks for the fix!

[2021-11-18 12:11] #1878 closed

[2021-11-18 12:37] Ambrevar commented on #1873
I don't know if it's related, but reopen-buffer sometimes shows me `Execute command` as a suggestion, as if it were a `resume-prompt` suggestion.

[2021-11-18 12:41] Ambrevar commented on #1681
Ready to go!
Have a look at the changelog, test it and let me know if there is anything.

I think we can release tomorrow.
@aartaka @pdelfino (and @jmercouris if you've got the time :p)

[2021-11-18 15:05] durrendal commented on #338
I definitely would prefer to drop the Quicklisp patch, it's by no means a long term solution.

This is the APKBUILD:
[code]

Running that APKBUILD with abuild -r produces the following:
[code]

Full output:
https://gitlab.com/Durrendal/WS-Alpine-Packages/-/jobs/1797028883

[2021-11-18 16:44] Ambrevar commented on #338
Try removing NYXT_SUBMODULES=true from the recipe.

[2021-11-18 17:04] aartaka commented on #1681
I've got a crash some two hours ago with `2-series`. Cannot reproduce it, though.

[2021-11-18 17:30] Ambrevar commented on #1681
Same here :(
That said, I've had many more crashes with 2.2.2 and before :/

Shall we wait a bit?

[2021-11-18 17:43] durrendal commented on #338
It still chokes trying to find Alexandria

[code]
Full Output:
https://gitlab.com/Durrendal/WS-Alpine-Packages/-/jobs/1797677679

Out of curiosity I also tried prepending the submodule flag, but that had the same result as well.
https://gitlab.com/Durrendal/WS-Alpine-Packages/-/jobs/1797794695

The default value in the makefile is for the submodules to be true, if I try and build with NYXT_SUBMODU

[2021-11-18 17:58] aartaka commented on #1681
Yes, let us wait a debug some more.

[2021-11-18 18:28] Ambrevar commented on #338
Can you list the content of the _build and _build/alexandria folders?

[2021-11-18 18:41] aartaka opened #1882 "Have additional prompt-trespassing arguments to prompt-reliant commands"
This way we will make it easier to control nyxt programmatically/headlessly. Adding to that, one would be able to query Nyxt for some values via swank/slynk connection or command line, which will make Nyxt-communicating scripts easier to compose.

[2021-11-18 19:37] durrendal commented on #338
Here's the _build directory after a make all.

[code]

and _build/alexandria is empty
[code]

[2021-11-18 20:19] Ambrevar commented on #338
The modules are not fetched.

Is Alpine building in an network-less environment?
If so, the modules cannot be fetched.
Otherwise, make sure `git submodule update --init --force` works.

[2021-11-18 21:59] jmercouris commented on #338
You did say unzip, are you using a release tarball? Are you using the one that we generate which includes all of the submodules rather than the one GitHub generates?

[2021-11-19 03:13] glyh commented on #32
I think it'll be better if we support web-extension apis, and then a lot of functionality can be done at the plugin side rather than embrace everything in the browser itself, which can ease the pain of maintaining a big project.

[2021-11-19 07:33] Ambrevar commented on #338
Aha!  John might be onto something!

[2021-11-19 07:35] Ambrevar commented on #338
For 2.2.2, the right source archive to use is https://github.com/atlas-engineer/nyxt/releases/download/2.2.2/nyxt-2.2.2-source-with-submodules.tar.xz.

[2021-11-19 07:36] Ambrevar commented on #1681
I've used 2-series for a good while now on 2 systems and it worked very
smoothly.

I suggest we go ahead with 2.2.3 today, we can always iron out potential
crashes for 2.2.4.  At any rate, 2.2.3 will be much more stable then
2.2.1 and 2.2.2! :)

[2021-11-19 07:38] Ambrevar commented on #980
@aartaka: Do you think the recent changes you've pushed would help with this?

[2021-11-19 07:39] Ambrevar commented on #1870
While we are at it, we can also fix https://github.com/atlas-engineer/nyxt/issues/1687.

[2021-11-19 07:41] Ambrevar commented on #1625
Could you try again on `master`, `2-series` or with the upcoming `2.2.3` see if this is fixed?

[2021-11-19 07:42] Ambrevar commented on #1715
@aartaka Any idea if WebKitGTK could help here?

[2021-11-19 07:45] Ambrevar commented on #1717
I believe we should also fix the cookies leak with nosave buffers, if any, as reported here: https://github.com/atlas-engineer/nyxt/pull/1716

[2021-11-19 07:53] Ambrevar commented on #1751
@aartaka Do you use VI bindings in Nyxt?  If so, did you experience the issue reported in the last post?

[2021-11-19 09:10] khinsen opened #1883 "Web site crash"
**Describe the bug**

Opening the URL `https://www.larousse.fr/dictionnaires/francais/navigateur` crashes WebKit.

Console output (also showing a bug in error signalling):
[code]

**Precise recipe to reproduce the issue**

Open the URL `https://www.larousse.fr/dictionnaires/francais/navigateur`

For website-specific issues:
Can you reproduce this issue with Epiphany / GNOME Web (https://wiki.gnome

[2021-11-19 09:12] aartaka commented on #1681
I've got one more crash yesterday, but it was mostly smooth too. The crashes I got could've been cache problems from WebKit, after all.

Indeed, let's release.

[2021-11-19 09:15] aartaka commented on #980
I'm not sure. I've discovered recently that "decide-policy" (and thus `request-resource-hook`) only fires for main page requests ans iframes. It shouldn't break resourse requests in any case.

[2021-11-19 09:18] aartaka commented on #1751
No, I'm not using VI bindings yet :(

[2021-11-19 09:48] Ambrevar commented on #1681
One crash on my side is when deleting buffers, in particular too many
buffers at once.  I believe this is related to #1546.  And anyways, it's
been a bug ages, so nothing to stop this release I believe.

[2021-11-19 10:29] aartaka commented on #980
@Ambrevar, actually, I the identification of the problem belonging to the `on-signal-decide-policy` is right. Maybe, instead of ignoring the current request and creating a new one, we can use `webkit-uri-request-set-uri` to set a new URL for the existing request and then simply accept it, thus redirecting? I'm not sure whether it'll work, but it can.

[2021-11-19 10:50] aartaka commented on #1715
The only guess I can make is the [`"enter-fullscreen"` signal](https://webkitgtk.org/reference/webkit2gtk/stable/WebKitWebView.html#WebKitWebView-enter-fullscreen). Either this or GTK Widget/Window configuration.

[2021-11-19 10:56] aartaka commented on #1883
Oh God, that was me not handling C enums properly! Should be fixed by 47b7fa1bfb1c7e962be0ecfce3b4e3d493f0a149.

[2021-11-19 11:05] khinsen commented on #1883
Thanks @aartaka for fixing the "outer" bug. The error message is now
[code]

[2021-11-19 11:14] Ambrevar commented on #1681
2.2.3 release!

[2021-11-19 11:20] aartaka commented on #1883
Well, the numbers are unique ID which don't necessarily mean anything but the order they were generated in. It is an internal information, though, so displaying the URL would be better here, I guess.

[2021-11-19 11:23] aartaka commented on #1883
The buffer termination warnings display URLs in 76edb76fe71441240e42a94cab95914d9ec2feda.

[2021-11-19 12:43] aartaka commented on #1883
But wait, it doesn't fix the crash, doesn't it?

[2021-11-19 12:44] aartaka commented on #1883
Does it crash the whole Nyxt or just one buffer?

[2021-11-19 13:26] khinsen commented on #1883
Just one buffer. And no, the patch doesn't fix that!

[2021-11-19 14:13] aartaka commented on #1883
Well, that I'm not sure we can do anything about. Epiphany has similar problems with this website, as you said, thus it's most probably a WebKit-side crash.

[2021-11-19 17:38] khinsen commented on #1883
So should I report this somewhere upstream? WebKitGtk? WebKit? Yet something else?

[2021-11-19 18:11] aartaka commented on #1883
I suggest reporting to Epiphany, then WebKitGTK. Epiphany people can actually have a proper fix for both Epiphany and Nyxt, as they know WebKitGTK APIs much better than we do.

[2021-11-19 19:38] khinsen commented on #1883
Done: https://gitlab.gnome.org/GNOME/epiphany/-/issues/1641

[2021-11-20 14:45] Ambrevar opened #1885 "Search engine completions ought to use a direct URL"
When selecting a search engine completion, say, of Wikipedia, the resulting URL is _still_ a search query, instead of being the direct Wikipedia URL.

This probably results in an HTTP redirection which makes the query slower.
We should use the URL provided either by the completion API or, if lacking, a URL format provided manually.

@aartaka Thoughts?

[2021-11-20 14:48] Ambrevar commented on #1882
What do you mean with `additional` and `trespassing`?
Can you give an example?

Also isn't this what https://github.com/atlas-engineer/nyxt/pull/1354 aims to achieve?

[2021-11-20 15:13] aartaka commented on #1885
Agreed, it does make sense.

[2021-11-20 15:22] aartaka commented on #1882
Oh, so #1354 has prompt input setting? 0_o

That's cool, and that's what I meant, but not all of it.

In addition to what #1354 has, it'd be cool to have more args to all the functions using prompt buffer, so that `prompt` is not even called.

Example:

Have `set-url` no have a keyword/optional arg `url` to simply load the URL, without even prompting the user.

This way, one can use the familliar

[2021-11-20 17:12] edgar-vincent commented on #1883
I can reproduce neither in Nyxt 2.2.3 nor in Epiphany 41.0 (with webkit2gtk 2.34.1) on Arch Linux.

[2021-11-21 07:19] guojing0 commented on #1885
So, say, we search `Nyx` via Wikipedia, then the URL should be https://en.wikipedia.org/wiki/Nyx instead of `Nyx` itself?

[2021-11-21 15:00] khinsen commented on #1883
Interesting. I just tested with Nyxt 2.2.3 (compiled from source under Guix, using WebKit 2.34.1), where I still see the same problem. If the same Nyxt/WebKit combo works fine under Arch, what could be the relevant difference?

[2021-11-21 16:16] gdindi commented on #1625
Hi,

I just tested with master (Version 2.1.1-839-g76edb76f) and with version (2.2.3) and I have the same behaviour as before with both (I have only tested with 2 different instances of gitlab).
So the problem does not seem to be solved.

[2021-11-22 08:55] Ambrevar commented on #1882
This is reminiscent of Emacs `(interactive ...)` API.
The drawback of `interactive` is that you can have only one prompt per function.

Otherwise we can just go through all commands and make sure all the prompts have parameters.

[2021-11-22 13:27] aartaka commented on #1885
Yes, if the completion API suggests it.

[2021-11-22 18:15] MagicRB commented on #422
I'm on nvidia and `gst-plugins-good` is installed, but i still have to set  `WEBKIT_DISABLE_COMPOSITING_MODE` to 1 and even then nyxt freezes on youtube

[2021-11-22 19:44] daehwannam opened #1886 "follow-hint-new-buffer(-focus) doesn't work while C-button1 is working"
`follow-hint-new-buffer(-focus)` doesn't work over the search result page by google.
The command directs to the error page "404. That’s an error.".
However, C-button1 action works properly (I cannot find what function the binding is mapped to because `describe-key` says 'Unbound: "C-button1"').
The bug also occurs with empty init.lisp.

**Information**
- OS name+version: Ubuntu Desktop 20.04 (with

[2021-11-24 14:08] Ambrevar commented on #1854
2.2.3 released!
Closing this since it should be fixed now.  Feel free to reopen if there is anything else.

[2021-11-24 14:08] #1854 closed

[2021-11-24 14:29] Ambrevar opened #1887 "Delete documents/CHANGELOG ?"
The file is now outdated and may confuse our readers.
Delete it?

If so, we need to replace the link in the README.org to point to, say, tag 2.1.1, when the file was last used.

[2021-11-24 14:45] Ambrevar opened #1888 "ffi-set-tracking-prevention does not use VALUE"
@aartaka CCL rightfully complains the VALUE is not used in `ffi-set-tracking-prevention`.
Indeed, the function seems to always set it to `T`. Bug?

[2021-11-24 14:59] aartaka commented on #1888
Yes, a bug it is!

[2021-11-24 14:59] aartaka commented on #1888
I'll push a fix in a minute!

[2021-11-24 15:16] aartaka commented on #1888
Done in 3a8245837ffe8db55cda721a59eec1642e0a8c53.

[2021-11-24 15:16] #1888 closed

[2021-11-24 15:23] daehwannam commented on #1886
Sorry for not providing the recipe in the initial post.

**Precise recipe to reproduce the issue**
1. Run SET-URL and enter "google.com"
2. Type "emacs" as the search query then enter
3. Run FOLLOW-HINT-NEW-BUFFER-FOCUS then open the following web page:
    "GNU Emacs - GNU Project - GNU.org www.gnu.org › emacs"
    (In addition, the copied URL of the page by COPY-HINT-URL is https://www.google.co

[2021-11-25 08:05] Ambrevar commented on #1888
Thanks!

[2021-11-25 08:08] Ambrevar commented on #1886
I still can't reproduce from a vanilla configuration on Nyxt 2.2.3.

COPY-HINT-URL returns the correct URL.
This is very odd, as if your WebKitGTK was doing the wrong stuff.

Can you report the exact version of the webkit2gtk package that's
installed on your system?

@pdelfino @aartaka Can you reproduce?

[2021-11-25 08:52] aartaka commented on #1886
No, I cannot reproduce either. What I can suppose is that we don't resolve al the types of relative URLs there are (we don't cover a `..` wildcard at least, and there can be more).

[2021-11-25 08:57] aartaka commented on #1887
Yes, that sounds sane. However, we should also have the most recent copy of changelog hosted on Nyxt website, in the same fashion to how we do it with manual and tutorial.

[2021-11-25 11:46] Ambrevar commented on #1887
Technically we do in the form of release articles: https://nyxt.atlas.engineer/articles/release

[2021-11-25 11:48] Ambrevar commented on #1873
I can't reproduce now on 2.2.3.  Any idea?

[2021-11-25 12:27] Ambrevar commented on #1865
Should be fixed with 4f1b50544b9bd1375eadf127d8b2f26a15f2a88f.  @aartaka Can you confirm?

[2021-11-25 13:03] aartaka commented on #1865
No, it doesn't fix it fully. It doesn't store the history to a new named file somewhy. Restoration does work, but I only tested it with the default file.

[2021-11-25 13:08] aartaka commented on #1546
@Ambrevar, I am able to reproduce the buffer kill hang reliably with 15+ buffers killed at the same time.

As a side note, some fun anomalies of power-user browsing:
- Github logs you out after the fifth buffer opened too fast for a human xD
- Github issues are perfect for testing the multiple buffer kill/creation, as you can simply type `/issues/` in the `follow-hint-new-buffer` prompt and it wil

[2021-11-25 13:09] aartaka commented on #1887
Yes, that's a good point.

[2021-11-25 13:13] Ambrevar commented on #1546
For now, we can add a global lock to delete-buffer with a sleep,
say 0.1s, between two calls.

Maybe we can do the same with follow-hint.

For 3.0, I propose we introduce actors to solve this problem centrally
(and more generally).

[2021-11-25 13:14] Ambrevar commented on #1865
For me it only stores it _sometimes_.  I don't quite know why, maybe a
bug in the asynchronicity.

[2021-11-25 13:27] aartaka commented on #1546
Yes, sounds sane.

[2021-11-25 15:36] quicklisp opened #1890 "Some systems failed to build for Quicklisp dist"
Building with SBCL 2.1.10.195-bca540cd6 / ASDF 3.3.5 for quicklisp dist creation.

Trying to build commit id 9aa054882bdeb4d9276c5eafaa576762ac452f40

*nyxt-ubuntu-package* fails to build because of a failure in  _nyxt/history-tree_.

*nyxt* fails to build because of a failure in  _nyxt/history-tree_.

*nyxt/benchmark* fails to build because of a failure in  _nyxt/history-tree_.

*nyxt/documentati

[2021-11-25 15:37] daehwannam commented on #1886
@Ambrevar, My system is installed with two webkit2gtk packages and their versions are 4.0-*.
Here is the terminal output:
[code]

[2021-11-25 18:46] Ambrevar commented on #1886
The webkit2gtk version looks alright.

[2021-11-25 19:42] Mestelan commented on #1787
Yes, it appears to be fixed here. Thank you!

[2021-11-25 22:36] Mestelan commented on #1787
Well, actually no, sorry: the issue still occurs (although much less frequently than before?).
The issue tends to happen after Nyxt has exited in a crash.

[2021-11-26 10:24] guojing0 opened #1891 "Use quick-patch to manage libraries that are not available on Quicklisp?"
I just found out [quick-patch package](https://github.com/tdrhq/quick-patch/), which can "override sytems in Quicklisp, or add libraries that are not available in Quicklisp." For example, currently `cl-webkit` is not on Quicklisp, so potential users and developers alike have to download from Git. Similarily for `cl-https-everywhere` if that PR is merged.

[2021-11-27 19:21] GorrillaRibs opened #1892 "Touch scrolling not working in vi-*-modes but working fine in CUA and emacs modes"
Mouse input still works fine in vi-*-modes, is this a bug or the intended behaviour? If it's intended, where should I look to try to restore the old behaviour? I think it's been this way for a while but haven't pinpointed the exact commit where it stopped working yet. Thanks in advance!

I'm on linux + wayland if that changes anything

[2021-11-27 23:28] juancampa commented on #1712
Playing with those two values fixed it for me. Thanks!

[2021-11-27 23:28] #1712 closed

[2021-11-27 23:29] durrendal commented on #338
Right you are, I hadn't caught the fact that there was a source tarball with the submodules included! That's fixed the build process, thank you so much for your patience and assistance here.

It looks like the only issue now is something on our end, we package libwebkit2gtk so that it produces the following:
[code]

But nyxt looks for -4.0.so
[code]

I'll clear that up in just a bit.

[2021-11-28 03:10] hendursaga opened #1893 "Support Gopher, Gopher+ & Gemini protocols"
[Gopher](https://en.wikipedia.org/wiki/Gopher_(protocol))/[Gopher+](https://github.com/gopher-protocol/gopher-plus) as well as [Gemini](https://geminiquickst.art/) would be great to support eventually! Emacs' [Elpher mode](https://thelambdalab.xyz/elpher/) is not as satisfying as an integration for Nyxt would be!

[2021-11-29 04:48] rdrg109 opened #1894 "Some keys are wrongly captured by Nyxt"
**Describe the bug**

When Alt+Shift+G is pressed in Wikipedia articles, the corresponding WIkidata item is opened. For example, pressing Alt+Shift+G in https://en.wikipedia.org/wiki/Submediant opens https://www.wikidata.org/wiki/Q2482085 in Firefox and in Epiphany. However, pressing the same key combination in Nyxt shows the following message in the message area instead of opening the WIkidata it

[2021-11-29 09:39] khinsen commented on #1883
The Epiphany team has rejected my issue because the version of Epiphany I used is too old. Fair enough, but I don't see how I could test a more recent one with reasonable effort.

<philosophy-mode>
Are Web browsers still doable for Open Source communities? If it becomes difficult to figure out to which project a bug should be reported, the complexity of the interfaces between the projects is proba

[2021-11-29 13:07] molleweide opened #1895 "project status on MacOS"
Hi there guys,

May I ask what is the status on running Nyxt on MacOS at the moment. I don't think that the readme installer paragraph is up to date so I just wanted to ask you guys if there is a convenient way to install Nyxt on macos now that runs without too many problems? And also what would the main problems be that one would experience as a user? This might be way beyond my own knowledge/und

[2021-11-29 16:22] Ambrevar commented on #1890
Nyxt depends on the latest hu.dwim.defclass-star, hence these errors.
Is there something we can do about it?

[2021-11-29 16:23] Ambrevar commented on #1890
We could use quick-patch as suggested in #1891.

[2021-11-29 16:53] Ambrevar commented on #1895
macOS support is a bit tricky at the moment.  I don't use macOS myself, so take my word with a grain of salt.

The main challenge is to get WebKitGTK to build on macOS.  Maybe homebrew or macports can help, but I've heard it does not build smoothly.

Another path may be Docker.  @deddu has worked on it: https://github.com/deddu/nyxt-docker/

[2021-11-29 17:32] quicklisp commented on #1890
Thanks, I found a caching issue with defclass-star, my issue is solved.

On Mon, Nov 29, 2021 at 11:23 AM Pierre Neidhardt ***@***.***>
wrote:

[2021-11-29 19:32] tvraman opened #1896 "yes"
Title: Nyxt  init.lisp and local modules?
Description: Returning to Nyxt  and trying to update my speech-enable
starter to see  if I can make progress.

I blew away my old checkout  and started afresh -- and make all and
make install succeeded with no complaints.

However, Looking back at my old notes:
https://github.com/tvraman/emacspeak/blob/master/nyxttalk/Readme.org#L21

I'm no longer able to

[2021-11-29 19:40] tvraman opened #1897 "Title: Local Modules And Nyxt init.lisp"
Description:

Returning to Nyxt  after nearly a year in the hope of trying my hand
at speech-enabling it --- and a lot has changed.

I did a fresh git clone and make all and make install worked.

However, I'm unable to map my old notes to the new world:
See
https://github.com/tvraman/emacspeak/blob/master/nyxttalk/Readme.org#L21

Specifically:

1. Where do local modules -- eg my tts module live no

[2021-11-29 21:57] jmercouris commented on #1887
Yes, we should probably delete the changelog file. As we've done with https://github.com/atlas-engineer/nyxt/blob/master/documents/MANUAL.org , we can do the same. No?

[2021-11-29 22:43] jmercouris commented on #1546
You are correct, I had misunderstood the issue. I see now. Pierre and I also discussed utilizing a queue in the event that part of the reason for crashes is due to WebKit constraints.

[2021-11-29 22:48] jmercouris commented on #1625
Thank you for the feedback. It seems we are still not doing something properly with WebKit's expectations for data storage. Perhaps some of the cookies are not getting copied over to the new buffer due to file locks?

[2021-11-29 22:50] jmercouris commented on #1883
Here is an interesting data point: It doesn't crash on Nyxt for me on NixOS. Perhaps it is a problem with the Guix port of WebKitGTK+.

[2021-11-29 22:55] jmercouris commented on #1883
@Ambrevar @aartaka are you both able to reproduce the crash?

@khinsen this is just a stab in the dark, but what happens if you disable compositing, does the crash still occur?

[2021-11-29 22:58] jmercouris commented on #1883
![Screenshot_20211129_165808](https://user-images.githubusercontent.com/1691662/143955950-8751068d-e18b-4c71-847d-657b27f5cd75.png)

[2021-11-29 23:09] jmercouris commented on #1891
This is a great find, thank you for sharing. We may use this. I don't know how this fares compared to our submodule approach with regards to reproducibility. Since it is a fetching from a given commit hash, one would presume them to be approximately equal!

[2021-11-30 03:43] guojing0 commented on #1895
I am on macOS 10.13.6 which is a old verson, so take my comment with a grain of salt: I can compile and build Nyxt successfully without any problem with CCL. However, the problem is that XQuartz could not display the browser, which may be fixed on a newer OS version. I do not know.

As for GTK, I am on a old version so I use Macports, to intall `webkit2-gtk-devel`.

[2021-11-30 10:42] aartaka commented on #1883
Not able to reproduce. Here're my Guix commits, just in case (didn't update in a while):
[code]

[2021-11-30 13:11] khinsen commented on #1883
@aartaka By some strange coincidence, I am on exactly the same Guix commit as you are! But I am not using the `nyxt` package from that commit, I compile Nyxt (commit `3a824583`) from source using the supplied build script for Guix.

I hope that it doesn't matter, but maybe it does: I am not running Guix SD, but Ubuntu 20.04 hosting Guix as a package manager.

I ran my comparisons with Epiphany usi

[2021-11-30 13:14] aartaka commented on #1883
It could matter, actually. Can you try running Nyxt in a pure Guix environment with all the dependencies and try to reproduce the crash?

[2021-11-30 14:06] rdrg109 commented on #1894
@Ambrevar Yes.

I I'm a heavy user of Wikipedia and Wikidata. Therefore, I constantly use Alt+Shift+g and some other keys where this same issue happens. I have thought in the following solutions to overcome this issue

1. Map all the keys where this issue occurs in Wikipedia pages so that whenever they are pressed, passthrough-mode is temporarily enabled.
    + Honestly, I don't like this idea bec

[2021-11-30 14:41] khinsen commented on #1883
If I run it in a containerized environment, it crashes in the same way:

[code]

[2021-11-30 15:40] #1897 closed

[2021-11-30 19:35] aartaka commented on #1883
I'm running out of ideas here (。ヘ°)

Have you tried running nyxt with `--no-init` and `--no-auto-config`?

[2021-11-30 19:46] aartaka commented on #1896
Regarding loading a local module: I guess you'll be best served by
[code]

Regarding the Swank setup (it's there in your config, so you might need to update it too): see the developer README (documents/README.org in Nyxt source tree) for how to set Swank up.

[2021-11-30 19:47] khinsen commented on #1883
Those options make no difference either. And I don't expect anything fundamentally Nyxt-specific to make a difference, given that the problem seems to be WebKit.

I found `surf` in Guix, which uses WebKit as well, so I another quick test. Surf says "web process terminated: crashed" for my test site. Could you try this on your machine? The command line is
[code]

[2021-11-30 19:59] aartaka commented on #1883
Surf doesn't start inside the container env for me. When run outside the container env, it opens the page just fine, though.

Indeed, that seems to be WebKit-side crash. The best course of action would be reporting to WebKitGTK then.

[2021-11-30 22:46] tvraman commented on #1896
Thanks for the response.

Sadly my init.lisp doesn't appear to finish loading; it never gets to
the load-system of tts ---
I verified after placing the tts library in ~/quicklisp/local that
(asdf:load-system :tts)
works in a vanilla SBCL session.

--

Thanks,

--Raman(I Search, I Find, I Misplace, I Research)
♈ Id: kg:/m/0285kf1  🦮

[2021-12-01 01:38] jmercouris commented on #1896
Could you please your full `init.lisp` file?

[2021-12-01 02:41] tvraman commented on #1896
I should be hearing it say "testing" but it never gets there -- no error
messages in the console either.

Here it is:

(ql:quickload :tts)
(tts:init) ;;; (tts:init :engine "espeak" for espeak
(tts:speak "Welcome To The Next In Browsers!")

;; (define-configuration buffer
;;     ((default-modes (append '(emacs-mode) %slot-default))))
;; (swank:create-server :port 4006 :dont-close t)
;; (tts:speak "

[2021-12-01 03:45] jmercouris commented on #1896
If you execute `(ql:quickload :tts) (tts:init) (tts:speak "Hello world")` in a regular SLIME REPL does it work?

[2021-12-01 03:46] jmercouris commented on #1896
If you must use Quicklisp in your init, you can copy the relevant lines from your SBCLRC to load it.

[2021-12-01 06:40] sochotnicky opened #1899 "Fix/replace insecure git submodule URLs"
**Describe the bug**
Currently there are 5 git submodules referenced in .gitmodules which use http instead of https:
http://git.kpe.io/rt.git
http://git.kpe.io/cl-base64.git/
http://git.kpe.io/ptester.git
http://git.kpe.io/kmrcl.git/
http://git.kpe.io/puri.git

I have reached out two weeks ago to the owner/author of the domain/repos to see if he'd add https support. This would prevent potential MI

[2021-12-01 08:31] Ambrevar commented on #338
This is odd, because cl-webkit2 finds the library this way:

[code]

So the .37 shared library should be found on your system as well.

[2021-12-01 08:32] Ambrevar commented on #1890
Thanks for the heads up!

[2021-12-01 08:32] #1890 closed

[2021-12-01 08:36] Ambrevar commented on #1883
Could be hardware-related too.

[2021-12-01 08:38] Ambrevar commented on #1894
Yes, but that would require a change in the keymap library.  I'll work
on it.

[2021-12-01 08:39] Ambrevar commented on #1873
@jmercouris @aartaka @pdelfino @guojing0 Can you reproduce?

[2021-12-01 08:40] Ambrevar commented on #1887
Yes!

[2021-12-01 08:41] Ambrevar commented on #980
Sounds sane, wanna give it a try?

[2021-12-01 08:44] Ambrevar commented on #1899
Thanks for pointing this out.
Another issue with these repos is that they don't support shallow cloning.

We could mirror them to https://gitlab.common-lisp.net/nyxt like we already do with 2 abandoned libs.

Thoughts?

[2021-12-01 08:52] sochotnicky commented on #1899
That would work too - gitlab does support self-service mirroring (I believe it pulls once an hour) and might be easier to set up than hacking with github actions :-)

[2021-12-01 09:40] Ambrevar commented on #1894
Sorry, actually this is already supported.

The control know is `keymap:*translator*`.  You can set it to `nil` to disable all forms of translation.

There are many translators enabled by default and you can choose any combination you like.  See `translate-shift-control-combinations` for an example combination.

[2021-12-01 09:59] Ambrevar commented on #1871
I've investigated this and found out that the behaviour is actually what's suggestion in the original post.

If you set `C-x` to `'cut` in `'web-mode`, `C-x h` works as expected in `emacs-mode`.

Note that `C-x C-x` resolves to `nil` (unbound indeed) which forwards the key to webkit and triggers a text cut, since it's a default WebKit binding.

Finally, the reason why `C-x C-f` is shadowed is beca

[2021-12-01 10:02] Ambrevar commented on #1871
My bad, there is a bug indeed: the prefix keys are only collected from the current keymap and not from the parents.

[2021-12-01 10:17] khinsen commented on #1883
What worries me is that even when running in Guix containers from the same commit, @aartaka and myself observe different behavior. We should be running the exact same binaries. What differs is the Linux kernel, and as @Ambrevar points out, the hardware. I don't expect the WebKit team to be eager to explore such differences.

I should be able to run Guix SD in Qemu to test with the same Linux kerne

[2021-12-01 10:22] Ambrevar commented on #1871
Fix sent at #1900.

[2021-12-01 12:11] nyx-land opened #1901 "Building for OpenBSD"
I've been trying to get Nyxt to compile on OpenBSD, with middling success. I realize that OpenBSD isn't currently supported but I think it should be and am currently working on it, but am having some issues.

The main things that I can determine are blocking me from being able to build this on OpenBSD are that iolib and cl-cffi-gtk both look for libraries (libfixposix and pango, respectively) that

[2021-12-01 12:38] aartaka commented on #980
OK, b3a2cbd4929731ae652dac47f5b4b1cdce254a50 should fix the problem with the main view loading a redirected subframe URL. This also makes it clear that subframe requests are not redirectable (I tried to set the URL of the URIRequest and it didn't work).

[2021-12-01 12:44] nyx-land commented on #1893
Gemini/Gopher are very simple protocols and there are libraries that already exist for cl for both I believe, so it would be relatively easy to do this. The thing I'm unclear on is how to even build a UI on Nyxt since the [UI library](https://github.com/atlas-engineer/nyxt/tree/master/libraries/user-interface) that @jmercouris was working on seems like it's not had much work done on it. If I could

[2021-12-01 13:27] Ambrevar commented on #1883
For me the web process crashes when loading https://www.larousse.fr/dictionnaires/francais/navigateur, but Nyxt does not, it handles the buffer crash correctly.

Commit  b6ed448f1c8b72d319571b265c4da98485a8e938.
GPU: Intel HD 620
Driver: i915.
Guix: 9e48ac29eb66ebbd1191528553ab0fbcb7bb9c6e

@khinsen You reported a commit that does not match the report.  Are you sure you are running the right Nyxt?

[2021-12-01 13:27] aartaka commented on #1883
I use i915 driver too 0_o

[2021-12-01 13:35] aartaka commented on #1873
Another note: it's the resumed prompt that's not cancellable, not `resume-prompt` prompt :)

[2021-12-01 13:40] Ambrevar commented on #1899
Are these kpe.io projects still maintained?

[2021-12-01 13:50] Ambrevar commented on #1901
I suggest you query "freebsd" in the GitHub search of this repo, it might be insightful.
In particular, @shiorid and @shamazmazum have contributed FreeBSD support for Nyxt, they might be able to help.

About the CFFI lookup: finding in `/usr/local` is supported by default if I'm not mistaken.  Can you report what you had to patch?

About the hog: this rings a bell! See https://github.com/atlas-eng

[2021-12-01 14:28] quicklisp commented on #1890
It looks like this is an issue again - defclass-star has reverted because
the latest changes weren't compatible with other hu.dwim software.

On Wed, Dec 1, 2021 at 3:33 AM Pierre Neidhardt ***@***.***>
wrote:

[2021-12-01 14:35] shamazmazum commented on #1901
Hi! Pango seems to be present in OpenBSD port collection, check [this](https://openports.se/devel/pango). Also, I suspect it's a direct dependency for gtk3. libfixposix is present in FreeBSD's port collection, but not in OpenBSD's as I suspect. But to work properly, it also should be [patched](https://github.com/sionescu/libfixposix/pull/18). The patch is there for years, the author just won't mer

[2021-12-01 14:43] Ambrevar commented on #1890
Indeed, Attila reported it to me here:
https://github.com/hu-dwim/hu.dwim.defclass-star/pull/7

This change is quite old but the incompatibility only got noticed now.
I'll work on it.

[2021-12-01 14:44] Ambrevar commented on #1901
Nyxt does not use `sendfile` directly.  I don't believe it's used
indirectly, but I could be wrong.

[2021-12-01 15:20] khinsen commented on #1883
Me too! The details:
[code]

As for the Nyxt commit, what I am really using (compiling) is a [patch of my own](https://github.com/khinsen/nyxt/tree/with-slynk), which adds slynk. The commit I have is the one on `master` from which my patch starts (it only changes the Guix build script).

[2021-12-01 16:45] tvraman commented on #1896
John Mercouris ***@***.***> writes:

Yes, I already confirmed this, thought  I had even said it worked
earlier:-)

--

Thanks,

--Raman(I Search, I Find, I Misplace, I Research)
♈ Id: kg:/m/0285kf1  🦮

[2021-12-01 16:45] tvraman commented on #1896
will try that next ---
--

Thanks,

--Raman(I Search, I Find, I Misplace, I Research)
♈ Id: kg:/m/0285kf1  🦮

[2021-12-01 16:56] aartaka commented on #1896
Oh wait, the problem could be in the use of the symbols non existing on read-time! `load-after-system` can help there.

@tvraman, can you please try
[code]

in your init.lisp and then put this part or your config
[code]
in a separate file (tts.lisp) in the same directory init.lisp is in?

This way, we'll exclude the problem with read-time errors, as those are most probably what breaks the startup.

[2021-12-01 17:37] jmercouris commented on #1883
Hence my suggestion for disabling compositing :-D

[2021-12-01 17:48] hendursaga commented on #1893
I'm not really familiar with this UI library, but wouldn't converting Gemtext to HTML be a good way to go about this? [Apparently it isn't that hard](https://codegolf.stackexchange.com/questions/220044/convert-gemtext-to-html) to do. [cl-yag](https://tildegit.org/radiofreqs/cl-yag/src/branch/master) is an SSG that can output to Gopher, I'm not sure about Gemtext though. There's [germinal](https://

[2021-12-01 18:26] khinsen commented on #1883
New test: ran `surf` in a virtual GuixSD machine via QEMU. Different Linux kernel, different (emulated) hardware. Same crash with the same Guix commit.

Next: compositing. Have to figure out what that is and how to disable it.

[2021-12-01 18:27] GorrillaRibs commented on #1892
Any mouse input (clicking or anything with the touch screen) in vi-insert-mode switches to vi-normal, so it seems like something's going on there? Regular mouse events work fine in vi-normal-mode though, I can highlight text & stuff normally.

[2021-12-01 18:31] khinsen commented on #1883
OK, the second part was easy:
[code]

Same crash, same error message.

[2021-12-01 23:34] tvraman commented on #1896
So adding the quicklisp lines to load quicklisp got my init.lisp
working, I now hear speech (at least my test message)!

Any idea why
nyxt 'https://google.com' ends up leaving focus in a window that
approximately has a "*help no url" title?

--

Thanks,

--Raman(I Search, I Find, I Misplace, I Research)
♈ Id: kg:/m/0285kf1  🦮

[2021-12-02 01:32] rdrg109 commented on #1894
Thanks! This worked!

[2021-12-02 02:29] jmercouris commented on #1894
Closing this then, please feel free to reopen if you think there is something we missed!

[2021-12-02 02:29] #1894 closed

[2021-12-02 02:36] jmercouris commented on #1893
@nyx-land what kind of questions do you have specifically? The UI library is meant to map some arbitrary object to an HTML representation of said object. It is just a thin wrapper around that concept :-)

we will add more widgets as we need them, but thus far we've not needed them!

[2021-12-02 06:52] nyx-land commented on #1901
I would think that looking in `/usr/local/` should just work and was looking in the Nyxt documentation for installing on FreeBSD. I also saw this issue #1820 where it was recommended to push the path to `cffi:*foreign-library-directories*`, which is what I have currently set in my `.sbclrc`. For whatever reason though, that didn't affect anything. I found this [iolib issue](https://github.com/sion

[2021-12-02 06:56] nyx-land commented on #1893
I see. I was mostly wondering what the recommended way of building the UI for a Nyxt extension is, if the UI library is usable or if it's just a matter of using spinneret/parenscript, which is what mainly seems to be the case? So this gives me a better idea of what I can try with this after I finish getting Nyxt working on OpenBSD.

[2021-12-02 08:00] guojing0 opened #1903 "Mention Demeter (and possible future applications) in somewhere obvious?"
I suppose most people who encounter Nyxt would visit this repo or [Atlas website](https://atlas.engineer/). However, the main README does not mention Demeter, neither does [Product page of Atlas](https://atlas.engineer/products). In the latter, one has to click `Nyxt browser`, and then `Applications` to find the Demeter application.

So I was wondering that would it be better to also mention it so

[2021-12-02 08:03] Ambrevar commented on #1894
I'll document it in the manual.

[2021-12-02 08:19] Ambrevar commented on #1901
The pango issue is with the OpenBSD package: it should have a symlink
libpango-1.0.so to libpango-1.0.so.3801.2.

Thanks about the trace.  It's indeed entering a loop that's polling
something and waiting 0.1s between each poll.

Now guess what?  We do have a (sleep 0.1) in our code!
It's when something is downloaded, but it should not be triggered if you
haven't started a download.

That said, the

[2021-12-02 08:39] #1873 closed

[2021-12-02 08:47] Ambrevar commented on #1890
defclass-star just revert one offending commit and rewound back to a
state compatible with Nyxt.  Now everything should work fine, but we
still need to work on the offending commit for defclass-star, since it
was meant to fix a bug!

[2021-12-02 09:13] Ambrevar commented on #1899
Done with 217b2a785b1f53e8877454eada041113676b5a5b.
Note that I haven't been able to use the mirroring feature of GitLab, for an unknown reason it failed to recognize the KPE repos as valid Git URL.

[2021-12-02 09:13] #1899 closed

[2021-12-02 09:33] #1871 closed

[2021-12-02 11:17] Ambrevar commented on #1901
Could you also report the output of `nyxt --system-information`?

I'm particularly eager to know if SBCL is built with threading support.  If not, then that's probably your issue!

[2021-12-02 11:40] guojing0 opened #1904 "SBCL/CCL could not find "class*" package"
**Describe the bug**

SBCL/CCL could not find `class*` package during building from source when compiling `history-tree.lisp`.

**Precise recipe to reproduce the issue**

I was trying to try out some functionality, so I tried to build the latest version from `master` branch. However, on both macOS and Debian, SBCL/CCL both said that they could not find `class*` package. If I build with nyxt-2.2.3

[2021-12-02 12:00] nyx-land commented on #1901
I figured the pango thing was probably not intended to be that way. I'll have to see about getting that fixed upstream in the OpenBSD package.

So I commented out the lines and recompiled Nyxt. The CPU spinning out doesn't seem to be happening anymore, so that's progress, but maddeningly it's still becoming unresponsive for some reason.

Here's a snippet from before kill -9'ing the process that I

[2021-12-02 12:08] nyx-land commented on #1901
Oh I just saw your other comment @Ambrevar, this is the output of `nyxt --system-information`. I do remember specifically building SBCL to have threads but the ktrace I just posted related to futex is making me wonder if something weird is happening with threading.

[code]

[2021-12-02 13:14] Ambrevar commented on #1901
Your SBCL is fine since it has the SB-THREAD feature.

So we do have a multiple bugs here:

- The download watch is triggered while it should not.
- The download watch loops indefinitely, but that could be the same bug
  as above since it's watching something that may not exist.
- The last trace is almost certainly a race condition.

@nix-land: Does this happen if you start Nyxt and do _nothing_?

[2021-12-02 15:05] aartaka commented on #1896
The first buffer Nyxt loads is always a help buffer. There is a small delay before Nyxt starts loading the URL you provide on the command line. If your title-speaking function is time-dependent, then help buffer being opened slightly earlier than the Google one could be the reason.

[2021-12-02 15:08] aartaka commented on #1904
You actually found the problem :) Every package needs to define package-local-nicknames independently from other packages. So, to use `class*` local nickname, you need to add it to the `package.lisp` of `history-tree`, much like it's done in `source/package.lisp`.

[2021-12-02 15:09] #1730 closed

[2021-12-02 15:09] #1885 closed

[2021-12-02 15:20] guojing0 commented on #1904
Thank you @aartaka, it works on `history-tree` now. But the CI on GitHub here can build without any problems. It would be quite tedious to add it to each file that uses `class*`. Since it looks like I am the only one with this issue, what do you think might be the cause? Any thing or set-up I should change?

[2021-12-02 15:34] aartaka commented on #1904
The thing that eases this is that it's not every file. It's every package. And packages can span lots of files with no need to add nickname setting to those.

Adding to that, in Nyxt sources, every new package can simply call `(use-nyxt-package-nicknames)` and the sane defaults of `alex`, `sera` atc will be established package-locally. See `mode/web.lisp` for an example.

I'm not sure. Both SBCL a

[2021-12-02 16:36] tvraman opened #1905 "manual.html --- and kkbd ambiguity"
After doing make doc, the manual.html claims that C-space is the
equivalent of M-x in emacs; but later it also claims that it sets the
Mark -- which is correct?

[2021-12-02 16:44] guojing0 commented on #1904
It may not be the only issue, after building with latest version of `master`, it also displayed

[code]

That's why I mentioned that it would be tedious to add that to each `package.lisp`...

[2021-12-02 16:52] aartaka commented on #1904
Well, no other way around there. Either we use full names of packages that they provide or define out own package-local nicknames to all the packages that need them :)

[2021-12-02 18:04] khinsen commented on #1883
I just filed a bug report (Bug 233768) for WebKit.

[2021-12-02 19:06] jmercouris commented on #1893
The UI library is usable, we do use it internally. The API has crystallized quite a bit. What it mostly needs now is just extension/implementation.

I look forward to seeing what we can come up with :-)

[2021-12-02 19:08] jmercouris commented on #1871
I see. What about this some sort of "escape key" for a single binding passthrough invokation. I can imagine typing in "ESC" and then typing in "C-x" and having it forward just "C-x" to the renderer. A bit tangential to the original post, but an idea I had.

[2021-12-02 19:09] jmercouris commented on #1903
That is an interesting idea. I think this is certainly something we could improve within the README! I'm not sure about the Atlas page though, we don't have many visitors there. People mostly go from the Nyxt site to the Atlas site, and not the other way.

[2021-12-02 19:11] jmercouris commented on #1904
Well, we could potentially make a reader macro... let's not get into that :-)

[2021-12-02 19:15] jmercouris commented on #1905
It depends on the mode. In `visual-mode` it will set the mark, but elsewhere it will be a `M-x` equivalency. Indeed, this is a bit ambiguous!

[2021-12-02 19:17] jmercouris commented on #1883
Thank you!

[2021-12-02 22:19] shiorid commented on #1901
`sendfile(2)` problem in libfixposix is now  [fixed upstream.](https://github.com/sionescu/libfixposix/commit/fc5bbe41a574e668ccfafb0f15dddd28f6decd31)

[2021-12-03 03:57] shiorid commented on #1820
As a matter of fact, `/usr/local` (known on BSDs as LOCALBASE) isn't part of the default `clang` include path.
This problem affects both FreeBSD and OpenBSD, since DragonFly uses `gcc` (which includes LOCALBASE on path) and NetBSD uses `pkgsrc` (which I know nothing about).

I've submitted a [merge request](https://github.com/sionescu/iolib/pull/74) with the fix on `iolib`. Feel free to try the pa

[2021-12-03 04:37] shiorid commented on #1901
`lfp.h` problem in `iolib` is now [fixed upstream.](https://github.com/sionescu/iolib/commit/548537ed0c764ed00f7dfa703e5e51506c19460f)

[2021-12-03 08:11] Ambrevar commented on #1901
Thanks for the heads up, Felipe.

[2021-12-03 08:11] Ambrevar commented on #1901
Sorry for the typo, Filipe :)

[2021-12-03 12:31] Ambrevar commented on #1871
We've already discussed something related to a passthrough prefix in https://github.com/atlas-engineer/nyxt/issues/1635 and https://github.com/atlas-engineer/nyxt/pull/1652.

For now, `C-z` toggles passhthrough, so `C-z C-x C-z` passes `C-x` to the renderer.  Should we really have a 1-shot passthrough shortcut?  Maybe indeed.

That said, how is this related to the issue at hand @jmercours ?  Misun

[2021-12-03 13:01] Ambrevar commented on #1904
There is another way: define a global nickname.

To clarify what's happening here: hu.dwim.defclass-star has reverted its `stable` tag to an older commit, which prompted an update of the Quicklisp package.

Then the tag got moved again, this time to a commit containing the `class*` nickname.

So updating Quicklisp should fix it.
This also explains why only Quicklisp users have the problem.
I recom

[2021-12-03 13:02] Ambrevar commented on #1904
@aartaka You could revert the commit you pushed for history-tree.  But it does not hurt either :p

[2021-12-03 13:33] guojing0 commented on #1903
Interesting. I thought more people would go to Atlas site than Nyxt site.

[2021-12-03 13:35] guojing0 commented on #1904
Would you recommend Ultralisp or any other approach?

I ran `(ql:update-all-dists)` and `(ql:update-client)`, and it's still the same result.

[2021-12-03 17:10] jmercouris commented on #1871
It's not related, hence why I said it was a tangent :-D

[2021-12-03 17:11] jmercouris commented on #1904
A local checkout of the repository is best so you can pin it to a specific commit.

[2021-12-03 21:17] tvraman opened #1906 "X error"
(WebKitWebProcess:46597): Gdk-ERROR **: 13:13:02.514: The program 'WebKitWebProcess' received an X Window System error.
This probably reflects a bug in the program.
The error was 'BadMatch (invalid parameter attributes)'.
  (Details: serial 150 error_code 8 request_code 1 (core protocol) minor_code 0)
  (Note to programmers: normally, X errors are reported asynchronously;
   that is, you will rece

[2021-12-03 21:50] jmercouris commented on #1906
Maybe it does, maybe it doesn't, it would be helpful if you could please provide the information from the nyxt system information command :-)

[2021-12-04 00:57] vanniuner opened #1907 "How to support the Chinese font?"
How to support the Chinese font? I just use nyxt with docker.

[2021-12-04 00:59] vanniuner commented on #1907
<img width="1022" alt="截屏2021-12-04 上午8 58 45" src="https://user-images.githubusercontent.com/7248023/144690466-3d812d27-32f6-4efa-a373-75dcd52f0d50.png">

[2021-12-04 03:53] tvraman opened #1908 "tts-mode"
Intrigued to see tts.lisp implements tts-mode, read the code, but I have no idea how to turn it on; help please:-)

[2021-12-04 10:43] guojing0 commented on #1904
@jmercouris This one commit https://github.com/atlas-engineer/nyxt/commit/9f4e26f46a3d6873eca0ab3923063e441e7bd9c3 breaks building.

[2021-12-04 10:59] guojing0 commented on #1907
Out of curiosity, did you build from source on Mac and then run it inside Docker?

[2021-12-04 20:02] theothornhill opened #1909 "WebKit wasn't able to find a WebVTT encoder. Not continuing without platform support for subtitles."
**Describe the bug**

**Precise recipe to reproduce the issue**
Try to load https://functional.cafe, then website crashes, either after logging in, or just at the landing page.

For website-specific issues:
Can you reproduce this issue with Epiphany / GNOME Web (https://wiki.gnome.org/Apps/Web)?
Yes, it looks like it also crashes with Epiphany. Not with chromium or firefox.

**Information**
- OS n

[2021-12-04 20:07] edgar-vincent commented on #1908
I'm working on an article to explain how to use it, but I'm struggling myself :)

[2021-12-04 22:12] jmercouris commented on #1909
Hello, thank you for the report! I'm not sure why this is happening, but hopefully we can figure it out together :-)

[2021-12-04 22:14] jmercouris commented on #1904
Indeed, a local commit of defclass* should help you in the interim though. Basically the people of defclass* library made an error, and then reverted it (also reverting the API in the process). By using an older commit, it will still work until they fix it.

[2021-12-05 08:06] theothornhill commented on #1909
I needed this package [gst-plugins-bad](https://security.archlinux.org/package/gst-plugins-bad)! I think this issue can be closed, but maybe a notice somewhere is needed? Not sure if this affects anyone else, ever, hehe :)

[2021-12-05 11:41] Ambrevar commented on #1906
More precisely, you can report the output of `nyxt --system-information` from the command line.

[2021-12-05 11:43] Ambrevar commented on #1908
TTS-mode was contributed by @chrisboeg with #1734.  Chris, can you help?  Looks like we need to expand the documentation ;)

[2021-12-05 11:44] Ambrevar commented on #1907
Nyxt is not responsible for the fonts, it's GTK.  You need to install the right font on your system for GTK to find it.
Can you report the output of the `show-system-information` command?

[2021-12-05 11:46] Ambrevar commented on #1909
This exact error message has been fixed on master.

For the crash because of missing gst-plugins, it is a known issue, unfortunately we haven't figured out how to handle these with WebKit.  Any help would be appreciated :)

[2021-12-05 22:49] ycpei opened #1910 "Build error Couldn't execute "guix": No such file or directory"
**Describe the bug**

Hello,

I am having some problem building nyxt on an Arch GNU/Linux system (pacman -Syu from about two weeks ago).

I tried both AUR and manual build (clone from this repo and make all), but they both result in the same error of not finding nyxt (the stderr is pasted at the end)

In makepkg, the dependencies check passed.

Let me know if you have any clue how to proceed, than

[2021-12-06 02:53] mariari commented on #1871
It seems the [commit that got pushed](https://github.com/atlas-engineer/nyxt/commit/d5b1204860ae58c6c490231b06837f764d61084b) creates issues in setups where multiple keymaps are wanted. Namely with having both `emacs` and `vi` enabled. You end up with the first key map winning out, with no fallback behavior. Thus

although `j` is unbound in `emacs` mode, (`C-h k j` ---> "Unbound: "j" [#44]), it do

[2021-12-06 09:13] guojing0 opened #1911 "Some questions on `fuzzy-match` and relevant functions"
I was thinking about writing functions/macros to help make write documentation and (user) manual easier, and then I found a TODO in [fuzzy.lisp], which was about reverse fuzzy matching. I started to read [prompter/filter.lisp] and [prompter/prompter-source.lisp], and had the following questions:

1. _score-suggestion-string_ function in Line 43 of filter.lisp: Currently we use Damerau-Levensthein

[2021-12-06 10:01] nyx-land commented on #1901
@Ambrevar so I tried just running Nyxt without doing anything, ran into the same problem. And yes I'm fairly competent with CL, was going to ask if you had any suggestions for debugging this from SLY.

[2021-12-06 12:28] Ambrevar commented on #1901
First you can try running it from SLY (start it with `(nyxt:start)`) and
see if a condition is raised.

[2021-12-06 14:31] Ambrevar commented on #1871
I can reproduce this before the aforementioned commit.  @mariari, are
you sure this wasn't a problem before that too?

[2021-12-06 14:34] mariari commented on #1871
Yeah, I probably wasn't clear in how I worded things, but the `emacs` before `vi-normal` seems to be an issue even before this patch. I've always had emacs mode implicitly on, and thus the fallback behavior worked in my favor wtih just the explicit `vi-normal`.

Would be best if there was a proper solution to this rather than rolling back any changes made here

[2021-12-06 14:37] Ambrevar commented on #1871
What you are describing might come from a misunderstanding: the
vi-normal _scheme_ (not keymap) inherit from the emacs _scheme_.

When vi-normal-mode is enabled, it sets the current buffer scheme name
to `vi-normal`.  Bindings are first looked up in the vi-normal map, then
in the emacs map if there was no match.

If you enable emacs-mode on top, it _replaces_ the current buffer scheme
name, so it'

[2021-12-06 14:42] mariari commented on #1871
I see, I assumed when keymap inheret talks were being mentioned, that it was sort of a list of modes that were enabled, with an ordering that allowed proper shadowing of keys to occur.

[2021-12-06 14:42] Ambrevar commented on #1910
Do you have the `guix` executable in your path?

Do you have Quicklisp?

Do you have some libraries in ~/common-lisp?

Do you have Serapeum installed?

[2021-12-06 14:48] Ambrevar commented on #1911
1. The annotations and bookmarks can indeed come in large numbers, say more than 10000 elements.  In my experience, performance was an issue, which is why I reverted to Levenshtein.  More on that in my next comment.

2. Indeed, a comment says we should "learn" a good value.  To do this we would need relevant samples and tests.  How do we get such samples?  Not easy, because we may not want to shar

[2021-12-06 14:50] Ambrevar commented on #1871
This is the logic indeed for regular modes, but emacs-mode and
vi-normal-mode are special in the sense that they set the current buffer
scheme.

Maybe they should not be modes then?

[2021-12-06 14:54] Ambrevar commented on #1911
About performance and the general question of input matching: I've recently played with Montezuma (https://github.com/sharplispers/montezuma) for Demeter and got excellent results at doing substring matching.

I have hope that Montezuma would advantageously replace all the code in `filter.lisp`, except for the `(mk-string-metrics:norm-damerau-levenshtein suggestion-string input)` line since Montez

[2021-12-06 15:05] Ambrevar commented on #1911
Montezuma is unevenly documented and has many idiosyncrasies, let me
know if you need help.

[2021-12-06 17:04] tvraman opened #1912 "Understanding And Working With Nyxt Codebase"
* How To Read Nyxt Source Code

I have nyxt installed and am connected to the running instance from
slime and emacs. However I'm making very little progress in
understanding the codebase  with  the final goal of being able to
extend it to speak sensibly.

Note that I have not programmed in Common Lisp for a long time, but
that said, I did once write a fairly large system (codebase about 3X
that of

[2021-12-06 17:12] dannyob opened #1913 "Blank page on logging into https://notion.so"
**Describe the bug**

When you log into to Notion using their Log in with Google feature, there is a redirect page -- this turns up as blank on Nyxt 2.2.3

**Precise recipe to reproduce the issue**

Go to https://www.notion.so/, select the hamburger menu, choose log in, choose "continue with Google", log in with a google account. You should end up redirected to a new Notion workspace (if you don't

[2021-12-06 17:25] Ambrevar commented on #1913
Could be indeed a cookie or cache issue, unless a mode is blocking the website.

Have you tried without modes?  With `$ nyxt -IC`?

[2021-12-06 17:31] franburstall opened #1914 "Cannot load history or save history"
**Describe the bug**

I rebuilt and fired nyxt for the first time in a few months and get the following error on startup:
[code]
On exiting and trying again, I get no error but the first page displayed is about:blank and it looks like my history has been wiped.  Not so friendly!

On a third attempt, I open a url, the page displays fine and then I exit.  On reopening nyxt, I again get about:blank a

[2021-12-06 17:41] Ambrevar commented on #1912
Hi @tvraman and thanks a lot for your feedback!

The developer documentation needs to be extended indeed.  We already have lots of docstrings but as you pointed out, we lack an overarching architectural description of the program.

Some of the core concepts are introduced in the manual.  Things like `mode`, `scheme`, etc.

Allow me to try to address some of your points:

6\. What do you mean with

[2021-12-06 17:43] Ambrevar commented on #1914
@jmercouris @aartaka I also get this on master, what's going on?

[2021-12-06 17:43] Ambrevar commented on #1914
Note that `2-series` is fine.

[2021-12-06 17:51] Ambrevar opened #1915 "Emacs-mode and vi-normal-mode should be commands, not modes"
In https://github.com/atlas-engineer/nyxt/issues/1871#issuecomment-986839343 @mariari was confused about how emacs-mode and vi-normal-mode worked, in particular that the order of activation changed the inheritance, which is indeed counter-intuitive,

The way Nyxt bindings are looked up is by navigating a bidimensional matrix:
- 1 dimension is the mode keymaps,
- the other one the schemes.

While i

[2021-12-06 17:55] franburstall opened #1916 "Nyxt cannot find slynk"
**Describe the bug**

In my init.lisp, I have the line:
[code]
This newly errors out:
[code]
Is this an artifact of the new submodules rather than quicklisp build mechanism?  What must I do to get slynk/sly working again?

**Information**
- OS name+version: debian-11
- Graphics card and driver:
- Desktop environment / Window manager name+version: exwm
- How you installed Nyxt (Guix pack, package m

[2021-12-06 18:23] tvraman commented on #1912
Pierre Neidhardt ***@***.***> writes:
Hi Pierre,

I'll inline my responses; please dont consider any of this as criticism,
I think Nyxt is an awesome piece of work.

Actually the embedded docstrings in many cases are redundant since a lot
of the identifier names are self-describing, so it just feels verbose
and cargo-cultish at times.

Yes, and I read that multiple times.

Yet, when I came down to

[2021-12-06 18:35] aartaka commented on #1914
I cannot reproduce 0_o

[2021-12-06 18:37] aartaka commented on #1914
The only history-related change I can think of is e0259a78f750b73b764da93a15c77651bfee57ce, but it shoudn't break history loading (⊙…⊙ )

[2021-12-06 18:55] Ambrevar commented on #1912
Feel free to point out those that seemed redundant and would need
fixing.  Help with documentation is always welcome, as it's a hard and
time-consuming task.

It's very similar in Nyxt.

If you call `describe-variable` and type "jump" you'll find a bunch of
Serapeum hooks, among which NYXT/WEB-MODE:JUMP-TO-HEADING-AFTER-HOOK`.  (All this is
mentioned in the manual, feel free to correct it if you t

[2021-12-06 19:02] Ambrevar commented on #1916
Indeed, by default Nyxt does not load load libraries from the default ASDF registries (since 2.0 if I recall correctly).

See the line

?

This means .asd files are found in the NYXT-SOURCE-REGISTRY (~/.local/share/nyxt/extensions by default) and from the CL_SOURCE_REGISTRY environment variable (as per the ASDF manual).

We did this because many users reported breakages due to system/user-installe

[2021-12-06 19:03] Ambrevar commented on #1914
As Fran noted, we should also avoid overwriting on error.  We already discussed this in the past.  Maybe automatically create rolling backups?

[2021-12-06 20:20] franburstall commented on #1916
Some documentation is needed as the developer's README has not changed and that treats swank and slynk on an equal footing.  However, slynck now needs installation while swank is built-in.

[2021-12-06 20:46] jmercouris commented on #1916
Yes, this could use documentation, but only in the developer README I think. For other use cases, I don't think it will be necessary.

[2021-12-06 20:48] jmercouris commented on #1914
I get this error when I first run 2.0.0 on my machine, and then I use latest master. I usually just press the continue restart at the prompt and overwrite my history.

[2021-12-06 22:23] pdelfino commented on #1786
Closed with [this](https://github.com/atlas-engineer/nyxt/commit/982522f1e3289f37a08b46faceab1576d4ac05c0#diff-3ad9b39e0ff392243db77d11210f2ff3339b79df854ca63fbc29f683da471bd9) commit.

[2021-12-06 22:23] #1786 closed

[2021-12-06 22:33] ycpei commented on #1910
No, I don't have guix in the system and I don't see guix mentioned as a dependency to build nyxt anywhere.

No.

No, but I have some libraries deep in the hiarachies under ~/.cache/common-lisp

No, what is serapeum?

[2021-12-07 07:39] Ambrevar commented on #1916
Fran, did you manage to get Slynk to work then?

[2021-12-07 07:46] Ambrevar commented on #1910
No worries, you don't need Guix.

Serapeum is a Common Lisp library that's used here to test whether
"guix" is found in your path.  According to the error message, it is!

How did you check out the Nyxt repository?

[2021-12-07 07:47] Ambrevar commented on #1914
Really 2.0.0, or the latest 2.2.3?

For me I can reproduce with 2.2.3 as John explained.
Did someone change the data structure on master?

[2021-12-07 08:32] franburstall commented on #1916
Yup: I cloned the sly repo into ~/.local/share/nyxt/extensions and all was
good.  However, this means I am maintaining a copy of sly: exactly the
problem I would want quicklisp to solve.

On Tue, 7 Dec 2021 at 07:39, Pierre Neidhardt ***@***.***>
wrote:

[2021-12-07 09:11] Ambrevar commented on #1916
I'm not sure what you mean.  How would Quicklisp help here?

The default ASDF settings (without Quicklisp) should be enough to find
your local SLY install.  Is that what you meant?

[2021-12-07 09:29] franburstall commented on #1916
What I mean is that if sly/slynk needs an update, I must notice this fact
and do it myself by pulling from the repo.  Before, I could simply update
quicklisp once a month and know that all the lisp libraries I use were
current.

On Tue, 7 Dec 2021 at 09:11, Pierre Neidhardt ***@***.***>
wrote:

[2021-12-07 09:31] Ambrevar commented on #1916
How do you install SLY?  Via Quicklisp?
I would expect that it would be installed via Emacs.

How does one install SLY via Quicklisp and have it loaded into Emacs?

[2021-12-07 10:10] franburstall commented on #1916
I install sly to emacs from MELPA via the emacs package manager.  But that
does not seem to make the slynk component available to sbcl (as sbcl knows
nothing about my emacs installation).  I therefore have slynk installed
into sbcl by quicklisp.  All this Just Worked with nyxt until recently...

If there is a better way to do this, please share!

On Tue, 7 Dec 2021 at 09:32, Pierre Neidhardt ***@*

[2021-12-07 10:26] ycpei commented on #1910
On Mon, Dec 06 2021, Pierre Neidhardt wrote:

Which part of the error message implies I have guix in my path?  I just
did a `which guix` and it did not find anything.

git clone https://github.com/atlas-engineer/nyxt

Best,
Yuchen

--
PGP Key: 47F9 D050 1E11 8879 9040  4941 2126 7E93 EF86 DFD0
          <https://ypei.me/assets/ypei-pubkey.txt>

[2021-12-07 10:39] Ambrevar commented on #1910
This error message:

Can you share the full trace?

[2021-12-07 10:40] Ambrevar commented on #1916
SLY automatically exposes its Slynk to ASDF when you run the REPL.

In other words, you only need to install Slynk manually if you intend to
run your Lisp compiler manually, outside of SLY.

[2021-12-07 10:42] Ambrevar commented on #1905
@jmercouris Can you fix it?

[2021-12-07 10:54] franburstall commented on #1916
So I must run sly first in emacs before firing nyxt?  I had been firing
nyxt first and getting the slynk server running from my init.lisp and then,
if I wanted a repl, doing sly-connect in emacs.  But this means that
nyxt/sbcl needs to know how to load slynk before I open a repl in emacs
(hence this ticket).

On Tue, 7 Dec 2021 at 10:41, Pierre Neidhardt ***@***.***>
wrote:

[2021-12-07 11:05] Ambrevar commented on #1755
Should be fixed with b38eabd17aac18f235fb0a58b3bf83d2e8f5f21f (or on latest `2-series`).  @franburstall Can you confirm this is what you expect?

[2021-12-07 11:10] Ambrevar commented on #1916
There are multiple ways to connect SLY to Nyxt for sure.

The benefit of loading Slynk into Nyxt (like you intend to do in this
ticket) is that you can run SLY after-the-fact, that is, after starting
Nyxt normally (like any desktop application).

If you spend your time in a SLY REPL, however, there are benefits
starting Nyxt directly from there using `(nyxt:start)` (like finer
control).

Can you r

[2021-12-07 11:18] Ambrevar commented on #1698
The offending commit is https://github.com/atlas-engineer/nyxt/commit/9166dd4d0c427489d476cad236232a5d81ff356f.

[2021-12-07 11:41] Ambrevar commented on #1698
Should be fixed with cce1b46af9a7cf46e67a292a455dcc4e8c007013 (or latest `2-series`).

@franburstall feel free to reopen if there is anything else.

[2021-12-07 11:41] #1698 closed

[2021-12-07 18:26] franburstall commented on #1916
(ASDF/SOURCE-REGISTRY:ENVIRONMENT-SOURCE-REGISTRY
 ASDF/SOURCE-REGISTRY:USER-SOURCE-REGISTRY
 ASDF/SOURCE-REGISTRY:USER-SOURCE-REGISTRY-DIRECTORY
 ASDF/SOURCE-REGISTRY:DEFAULT-USER-SOURCE-REGISTRY
 ASDF/SOURCE-REGISTRY:SYSTEM-SOURCE-REGISTRY
 ASDF/SOURCE-REGISTRY:SYSTEM-SOURCE-REGISTRY-DIRECTORY
 ASDF/SOURCE-REGISTRY:DEFAULT-SYSTEM-SOURCE-REGISTRY)

On Tue, 7 Dec 2021 at 11:10, Pierre Neidhardt **

[2021-12-07 18:33] pdelfino opened #1918 "Documentation: clarify panel buffers | Feature Request: create a button to close panel buffers"
This [question](https://discourse.atlas.engineer/t/how-to-close-the-bookmark-panel/364/2) motivated the issue.
Tasks:
- [ ] clarify documentation
- [ ] create the button to close panel buffers

[2021-12-07 18:37] Ambrevar commented on #1916
Thanks for confirming, I'll send a patch suggestion soon!

[2021-12-07 18:42] jmercouris commented on #1905
I'm not certain how to fix it.

[2021-12-07 20:51] ycpei commented on #1910
On 7 December 2021 21:39:26 GMT+11:00, Pierre Neidhardt ***@***.***> wrote:

It's in the original post of this issue[1].  Would you like me to paste it again?

[1] https://github.com/atlas-engineer/nyxt/issues/1910#issue-1071578755

--
Best,
Yuchen

Sent from a mobile device. Please excuse my brevity, typos and lack of pgp.

[2021-12-07 20:55] Ambrevar commented on #1910
It's not the full trace. how come so much is missing?  Are you sure you
didn't miss something?

[2021-12-07 21:07] jmercouris commented on #1914
Technically 2.1.1, but Nixpkgs I believe only has 2.0.0.

The data structure did not change on master. I have had this problem since I can remember.

[2021-12-07 21:20] franburstall commented on #1755
Yup: this gives what I expect.  Thank you.

However, `C-h b` bound to `describe-bindings` now throws an error:
[code]
I don't know if this is related.

[2021-12-08 10:48] Ambrevar commented on #1755
I can't reproduce neither on master nor on `2-series`.  Can you share
an exact recipe with the commit you are on?

[2021-12-08 11:53] Ambrevar commented on #1743
Sorry for taking so long to come back to this.

If you pass `nil` as a bound-value to `keymap:define-key`, it will undefine the key.  Example:

[code]

Replace `(override-map ...)` with the desired keymap and "C-e" with the desired binding.

Now where it gets tricky is if you want to unbind a key everywhere!
As suggested, you can bind a key to `nothing`, so you could bind `C-e` to `nothing`, but t

[2021-12-08 12:02] Ambrevar commented on #1743
See #1922 for a suggestion.

[2021-12-08 12:11] Ambrevar commented on #1604
@jmercouris Any update on this?  Would be nice to merge a fix for 2.2.4.

[2021-12-08 12:12] Ambrevar commented on #1526
@aartaka You merged some work on iframes recently, any chance it fixes this?

[2021-12-08 12:15] Ambrevar commented on #1280
Closing now that 2.2.3 has much better performance in `set-url` and the `new-url-query` source.

Feel free to reopen if the problem persists.

[2021-12-08 12:15] #1280 closed

[2021-12-08 12:17] Ambrevar commented on #1463
@aartaka @jmercouris Any idea how to force-focus a GTK widget on window switch?

[2021-12-08 12:28] aartaka commented on #1526
No, the iframe work I've done was purely request-related. For this issue, the fix should be something close to the #1828 fix (which I started but haven't yet finished implementing).

[2021-12-08 15:44] pdelfino opened #1923 "Feature request related to documentation: introduce a button in the manual to create an init-file, in case there is not one available"
The manual does not indicate that the `init.lisp` is **not** dynamically created.  It needs to be created by the user.

Even if the file is not created, the manual will show something like: "Nyxt configuration can be persisted in the user file `/home/pedro/.config/nyxt/init.lisp`." This leaves the impression the file was already created just like bookmarks or history which  can be especially confu

[2021-12-08 17:54] jmercouris commented on #1604
No progress so far. I wouldn't hold my breath for 2.2.4!

[2021-12-08 18:55] franburstall commented on #1755
I cannot reproduce either with nyxt -I so it is something in my init.  Will
bisect when I have the time.

On Wed, 8 Dec 2021 at 10:48, Pierre Neidhardt ***@***.***>
wrote:

[2021-12-08 19:11] franburstall commented on #1755
Ah.  Has the behaviour of `define-key` changed recently?  Can I still pass
the result of a `make-command` as BOUND-VALUE?

On Wed, 8 Dec 2021 at 18:55, Fran Burstall (Gmail) ***@***.***>
wrote:

[2021-12-08 19:31] jmercouris commented on #1755
Yes, that should still be possible if I remember correctly.

[2021-12-08 19:32] Ambrevar commented on #1604
Should I work on it then?

[2021-12-08 19:33] Ambrevar commented on #1755
Yes you can.  What's your code, what's your error?

[2021-12-08 19:34] jmercouris commented on #1604
Maybe. I have a very clear and strong opinion about how it should be done. If you don't mind how critical I will be about that specific patch, then go ahead :-D

[2021-12-08 19:38] jmercouris commented on #1463
Yes, i believe I already utilize this in the codebase.

[code]

then you need to wrap some sort of signal around window changing I believe.

[2021-12-08 19:39] jmercouris commented on #1463
There is a bigger problem though, the user may expect to click on a widget in another window and have it focused, if you instead jump the focus to the prompt buffer, then the user will be annoyed.

I suggest:

A binding to swap the focus between the prompt buffer and the main buffer.

[2021-12-08 20:29] pdelfino opened #1926 "Bug: In NixOS, Nyxt hangs if I am accessing a website blacklisted in my host files"
**Describe the bug**
I have a host file written to block some websites. If I access one of these websites, Firefox won't load them. But, if I try the same thing with Nyxt, it hangs.

**Precise recipe to reproduce the issue**
1 - put a website such as Twitter in your hostfiles: 127.0.0.1 twitter.com
2 - load Nyxt from source
3 - try loading twitter.com
4 - Nyxt hangs
5 - After awhile, there is a sc

[2021-12-08 20:48] pdelfino commented on #1926
Observation: If my memory serves me well, the same thing did not happen when I was using Ubuntu.

[2021-12-08 20:53] franburstall commented on #1755
Code:
[code]

Error (when I hit `C-h b`):
[code]

System info:
Nyxt version: 2.1.1-885-ga48e0cc5
Renderer version: GI-GTK
Operating system kernel: Linux 5.10.0-9-amd64
Lisp implementation: SBCL 2.1.1 (Dynamic space size: 1073741824)
Features: (:WEBKIT2 :WEBKIT2-2.34 :WEBKIT2-PASTE-PLAINTEXT :WEBKIT2-TRACKING
 :WEBKIT2-MUTE :WEBKIT2-EMOJI :WEBKIT2-MEDIA :WEBKIT2-SANDBOXING :GTK-3-22
 :GTK-3-20 :GTK

[2021-12-08 20:56] pdelfino opened #1927 "Bug: Reloading Nyxt multiple times will hang it"
**Describe the bug**
If you reload Nyxt multiple times, without expecting the process to finish, like putting on the queue multiple reloads, Nyxt will hang. Then, a pop-up with a force quit message will appear.

**Precise recipe to reproduce the issue**
1 - start Nyxt from source
2 - press the reload button multiple times
3 - Nyxt hangs
4 - then, a pop-up message about force-quitting it appears

T

[2021-12-08 20:57] pdelfino commented on #1927
@jmercouris know this bug, it is cause and how to fix it.

[2021-12-08 22:23] ycpei commented on #1910
On Tue, Dec 07 2021, Pierre Neidhardt wrote:

It did contain the full backtrace.  Or by "trace" did you want the full
stdout / stderr?  It was 61k+ lines.

Best,
Yuchen

--
PGP Key: 47F9 D050 1E11 8879 9040  4941 2126 7E93 EF86 DFD0
          <https://ypei.me/assets/ypei-pubkey.txt>

[2021-12-08 22:37] jmercouris commented on #1910
Yes, the full stdout/stderr, probably as an attachment.

[2021-12-09 08:43] Ambrevar commented on #1463
Yes, this is what I would need.  I can't find this signal however.
Maybe `::activate-focus`?
https://docs.gtk.org/gtk4/class.Window.html#signals
Or maybe `::move-focus`?

I don't think the user would be annoyed because the automatic focus
would only occur on window change.

Also a keybinding defeats the purpose of this fix because the point is
to have the prompt buffer _automatically_ focused.

[2021-12-09 08:57] Ambrevar commented on #1743
I believe #1922 fixes it, so closing this now.  Feel free to reopen if there is anything else.

[2021-12-09 08:57] #1743 closed

[2021-12-09 09:14] Ambrevar commented on #1755
You caught a bug, thanks!

Fixed in 9b14130de4c862c8cf90484b37d0afd422a1aac2.

By they way, the command name is supposed to be something meaningful.  I'm thinking of enforcing a non-boolean type so that `t` and `nil` won't be accepted.  @franburstall Does that make sense to you or do you think we should let users use `nil` if they want?

[2021-12-09 09:18] Ambrevar commented on #1927
I can't reproduce on `2-series`.  I've spammed the reload button 20 times and it succeeded in loading the page at the end.

@pdelfino Just a nit on the vocabulary, but initially I had misunderstood "reload Nyxt" as a reload from the REPL.  I think what you mean here is a web page reload, right?

[2021-12-09 09:18] Ambrevar commented on #1709
@mariari Can you test #1924 ?

[2021-12-09 09:20] Ambrevar commented on #1926
This bug should not occur on `2-series`.  John rename `load-status` to `status` on master, hence the error if you load old local files I believe.

[2021-12-09 09:21] Ambrevar commented on #1926
I don't believe it's related to NixOS.

[2021-12-09 09:21] Ambrevar commented on #1927
This is the same as #1926.

[2021-12-09 09:34] Ambrevar commented on #1916
@franburstall Can you try #1928 see if it does the trick for you?

[2021-12-09 10:13] pdelfino commented on #1927
Sorry. Yes. I meant a reload of the web page using Nyxt's GUI.

[2021-12-09 11:01] edgar-vincent commented on #1916
FWIW, in order to avoid having to keep two copies of Sly up-to-date, I simply made a symlink in `~/.local/share/nyxt/extensions/` to the `slynk` subdirectory of the `sly` package in my Emacs installation.

[2021-12-09 11:22] Ambrevar commented on #1794
I could not reproduce, it looks like we do take multiple histories into account.  Or am I missing something?

Anyways, I've spotted a bug in how we call `get-data`.  This API is broken :(  Until we rewrite the data-storage library, I've sent a fix with 14b0abc6c031050cfb814b8b84d828fa87c09956, should be good for now.

[2021-12-09 11:31] Ambrevar commented on #1794
Explanation: in `buffer-siblings`, we _do_ handle all "top level owners", so all buffers that don't have a creator.

We also compute the owner of a BUFFER from the current-buffer history.  So if BUFFER has another history, the owner won't be found and will be considered a top-level buffer.

This may not be the right code nor the right behaviour, but it allows for cycling through all buffers it see

[2021-12-09 18:09] franburstall commented on #1916
Yup: works perfectly.

[2021-12-09 18:12] franburstall commented on #1916
Good idea but I get the emacs sly from MELPA and so the location of the sly package changes with the version number which would break the symlink.

[2021-12-09 19:51] franburstall commented on #1755
On the one hand, anonymous commands feel lispy but, on the other, meaningful names makes things a bit more self-documenting.

As a general principle though, I think one should enforce things only when it is dangerous not to.  The present case does not meet that criterion

Related to this now-fixed bug: when nyxt reports errors, the printed representation of objects gets truncated.  The error I got

[2021-12-09 21:11] aartaka opened #1929 "Fast typing with search auto-completion hangs Nyxt"
**Describe the bug**
I've just updated Nyxt to post-#1741 commits and noticed it hanging (becoming unresponsive, not rendering anything, I have to force-close the window). It seems to happen when typing into the `set-url` prompt.

**Precise recipe to reproduce the issue**
- Start Nyxt from any commit.
- Open `set-url` prompt.
- If your Nyxt is post-#1741 one, start typing random text really fast,

[2021-12-09 21:13] aartaka commented on #1929
Again, this hang was there even before #1741, it's just that I only noticed it after using the current master for come time.

The reason is most probably some error in request/parsing completion functions that we don't muffle.

[2021-12-09 22:30] jmercouris commented on #1929
What is the error when ran from Slime?

[2021-12-10 06:47] aartaka commented on #1929
Ah, forget it. It was the typo in `renderer/gtk.lisp` that we left when transitioning from `load-status` to `status`. Should be fixed by 28c0803114e1203f5f8313a2c8620005c7eb5337.

[2021-12-10 06:47] #1929 closed

[2021-12-10 06:48] aartaka commented on #1926
28c0803114e1203f5f8313a2c8620005c7eb5337 should fix it.

[2021-12-10 06:48] aartaka commented on #1927
Can you try 28c0803114e1203f5f8313a2c8620005c7eb5337 and see if it appears there?

[2021-12-10 06:49] jmercouris commented on #1929
I see, thanks :-)

[2021-12-10 09:19] Ambrevar commented on #1916
Thanks for your feedback, Fran.
Closing now, feel free to reopen if there is anything else.

[2021-12-10 09:19] #1916 closed

[2021-12-10 11:50] guojing0 commented on #1904
Today I update Quicklisp with all latest dists, the issue is resolved.

[2021-12-10 11:50] #1904 closed

[2021-12-10 12:17] Ambrevar commented on #1755
This bug is due to us accepting HTML strings in the message area.

I've updated the `with-protect` macro to HTML-escape conditions in commit https://github.com/atlas-engineer/nyxt/commit/9bd535fb00e469d8cd4b303008e152a6fdc913f5.  This should fix most occurrences of this issue.

[2021-12-10 12:17] Ambrevar commented on #1755
Note that the `make-command` NAME argument makes it still anonymous in the sense that the symbol is internal to the command structure, it is not interned.

[2021-12-10 12:30] Ambrevar commented on #1755
If everything is OK now, feel free to close this issue.

[2021-12-10 18:20] jmercouris commented on #1904
Great! :-)

[2021-12-10 20:39] #1670 closed

[2021-12-10 20:39] #1758 closed

[2021-12-10 20:41] aartaka commented on #32
Now that #1762 is merged, there's a solid base to build uBlock support on top of. Here's a list of things to do for uBlock to work (copy-pasted from the linked pull request):
  - Methods (alphabetically, with unimplemented on top):
    - [ ] browser.browserAction.setPopup -- easy
    - [ ] browser.commands.getAll -- easy
    - [ ] browser.commands.reset -- easy
    - [ ] browser.commands.update --

[2021-12-11 00:12] gitrj95 commented on #1895
i have not been able to build successfully on an m1 machine, with or without rosetta. i'm very interested in macos support, though, and eventual integration into emacs. maybe wishful thinking

[2021-12-11 00:27] pdelfino commented on #1927
The bug is fixes! Thank you :)

[2021-12-11 00:27] #1927 closed

[2021-12-11 00:32] pdelfino commented on #1926
It is fixed. Thanks :)

[2021-12-11 00:32] #1926 closed

[2021-12-11 12:58] Ambrevar commented on #1709
Should be fixed with #1924.  Feel free to reopen if there is anything else.

[2021-12-11 12:58] #1709 closed

[2021-12-12 21:25] aartaka commented on #1918
Even better: clarify the documentation AND add a close button to all the panel buffers!

[2021-12-13 09:25] Ambrevar commented on #1905
I meant to clarify the doc and remove the ambiguity.

[2021-12-13 16:14] guojing0 commented on #1923
Hi, after seeing that you haven't sent a PR yet, so I was working on this.

During the process, I realize something: Instead of letting the user press the button, would it be OK to just let Nyxt automatically create `init.lisp`, if said file had not existed yet.

@jmercouris What do you think of this option?

[2021-12-13 17:28] pdelfino commented on #1918
Indeed, Artyom. I will split the tasks in this issue.

[2021-12-13 18:03] pdelfino opened #1935 "Bug: Nyxt stable release (2.0.0) does not load"
**Describe the bug**
Downloaded Nyxt (verison 2.0.0) does not launch successfully.  **Observation**: Under the same env, I **can run** from source the current version of Nyxt.

**Precise recipe to reproduce the issue**
- after installing Nyxt, open terminal
- try to open Nyxt with the command: `$ nyxt
- Nyxt does not launch succesfully, the terminal only indicates forever:
[code]

For website-spec

[2021-12-13 18:04] pdelfino commented on #1935
I found out it was a silly problem.  With `nyxt -IC` it **does** work. With `nyxt -C` it **does not** work. With `nyxt -I` it **does** work.Thus... the problem is this part in my init file:

[code]

The line commented out is the one problematic. The stable release 2.0.0.0 does not handle the `'nothing` command.

[2021-12-13 18:19] Ambrevar commented on #1935
This indicates your error.

Why did you close the issue?  Is this resolved then?  I don't understand what fixed it since 2.0.0.

[2021-12-13 18:23] pdelfino commented on #1935
Sorry. The backward compatibility of the problem on version 2.0.0.0 with command names changing in future versions was not fixed.

Since I solved the problem by tweaking my init file, I thought it would be appropriate to close the issue. I will let it open then.

[2021-12-13 18:29] aartaka commented on #1935
But wait, it was `noop` instead of `nothing` in 2.0, wasn't it? Opening the old version of Nyxt with the never initfile is not guaranteed to succeed, as some things have most probably changed. Am I misunderstanding something?

[2021-12-13 19:23] pdelfino commented on #1935
Not sure if _hang_ or _crash_ are the best words. Nyxt simply was not booting. The GUI was not even appearing on the screen. The behavior was like "waiting for it to launch forever". There was no error message. There is no pop-up with a message on "force quitting or waiting".

So, it _freezes as an infinite long initial boot of the application_, without ever showing off the GUI. For me, it feels w

[2021-12-13 20:23] pdelfino commented on #1310
Implemented -> commit id e8352c19313872c4378e1875a9dcef3e096b7ca9.

Thus, I am closing the issue :)

[2021-12-13 20:55] jmercouris commented on #1923
I think we should leave it in control of the user to create this file. I don't think the user would appreciate new files in `~/.config/` without explicit consent (this is of different than `~/.local/share/` (a directory in which we do automatically create files)).

[2021-12-13 20:57] jmercouris commented on #1905
I see. Perhaps. No comittment!

[2021-12-13 21:35] MithicSpirit opened #1936 "Build fails with `cc` error"
**Describe the bug**
Building from the latest commit or a recent commit (I suspect 529dbe8b28a8dde341616402dbce3737725bc186 is where the problem was introduced) causes the following error:
[code]
 I can provide the full log and backtrace if necessary but the docker instructions below should also work.

**Precise recipe to reproduce the issue**
Install docker and pull the `archlinux:base-devel` ima

[2021-12-13 22:58] jmercouris commented on #1935
I would call it a hang, insofar as you are concerned, the application is running, but frozen, even if no GUI is present.

[2021-12-13 23:16] pdelfino commented on #1935
Ok, then. It was indeed running. I did `ps -aux`to see it and `pkill nyxt` to kill it.

[2021-12-14 01:54] crocket commented on #837
I think cookies and site data need to be isolated per domain.

[2021-12-14 03:35] jmercouris commented on #1923
Jing pointed out that `auto-conf.lisp` is automatically created AND located in `~/.config`. This is of course a problem if the above comment makes nay sense. It is of my opinion therefore that we either prompt the user before the creation of the `auto-config.lisp` file OR move its location to `~/.local/share`.

[2021-12-14 07:45] guojing0 commented on #1601
If I am understanding @Ambrevar's comment in https://github.com/atlas-engineer/nyxt/commit/0bafa5cce36b051589c4e5e89e95bb40c0c356ed correctly: We or the users could use `make-command` or `define-command` to define `repeat-times-n` where `n` is some number chosen by the users.

We only lack a key-binding for this issue?

[2021-12-14 09:57] guojing0 opened #1937 "Feature: Built-in support for IRC in Nyxt?"
I was reading Demeter articles on official blog and then it came to me that Nyxt seemed to not have support for IRC (at least it's the result when I searched in GitHub)? After some research I found out that maybe [maiden](https://shirakumo.github.io/maiden/) and [cl-irc](https://www.common-lisp.net/project/cl-irc/) can be helpful.

I hope to implement this after completing most items in my to-do l

[2021-12-14 10:14] aartaka commented on #1601
Exactly.

[2021-12-14 11:38] aartaka commented on #1936
Is there any change that no C compiler is installed in the created Docker environment? Can you explicitly add GCC or Clang to the pacman-installed packages?

[2021-12-14 12:07] mrvdb commented on #1936
FYI, I'm not using Docker and seeing the same error (gcc 11.1.0 arch linux)

[2021-12-14 13:12] MithicSpirit commented on #1936
I'll try testing the script with adding them explicitly later today but `gcc` and `ld` are definitely installed in the `archlinux:base-devel` image.

Maybe there is some other missing dependency (though checking the folders listed with the `-I` flag and I think that they're all there), or maybe some sort of nondeterministic race condition is causing it to try to link the file before the dependency

[2021-12-14 17:16] mrvdb commented on #1936
For me this turned out to be the empty element after the libxml2.  Below is a quick fix which removes the last element of the list produced by split-string, but there's probably a better way to fix this.

[code]

[2021-12-14 17:39] aartaka commented on #1936
@mrvdb, thanks for the hint! 3fc187fbdcda07b08bada45b65fb49854ab7beb2 should make it work then.

[2021-12-14 17:40] aartaka commented on #1935
But wait, wasn't this feature of init file error ignores introduced after 2.0.0 too?

[2021-12-14 17:41] aartaka commented on #1935
I'm not sure, though -- it's been too much time since 2.0 xD

[2021-12-14 17:45] jmercouris commented on #1935
I believe we tried to do it for 2.0.0, but there may be some cases that we missed at the time! Let me consult the changelog/source...

[2021-12-14 19:11] hendursaga commented on #1937
@guojing0, you might want to check out [Mezzano](https://mezzanos.herokuapp.com/) the Common Lisp OS, they have an [IRC app](https://github.com/froggey/Mezzano/blob/f0eeb2a3f032098b394e31e3dfd32800f8a51122/applications/irc.lisp) you could draw inspiration/code from.

[2021-12-14 19:22] hendursaga commented on #675
Before anyone gets too attached to gettext, [Project Fluent](https://projectfluent.org/) is something I think would be important to take a look at. It's a research project backed by Mozilla, but I think it shows promise. Sadly I can't find any CL bindings or libraries, but there are JS and Rust libraries. I'm pretty sure Servo would be using it.

[2021-12-14 19:49] jmercouris commented on #1937
I would also like to do this, if you get started on this, please do let me know so that we are not doing the same work twice :-)

[2021-12-14 20:49] MithicSpirit commented on #1936
Yup, the build now works fine for me. Thanks!

[2021-12-14 20:50] #1936 closed

[2021-12-15 05:42] guojing0 commented on #1937
@hendursaga Thanks. I didn't know Mezzano also has an IRC app.

[2021-12-15 05:45] guojing0 commented on #1937
@jmercouris Of course. I was thinking about doing this after finishing that button thing and "headings buffer". Maybe I could start work on this during the break.

[2021-12-15 16:05] Ambrevar commented on #1935
Makes sense, thanks for clarifying that, John!

[2021-12-15 17:20] jmercouris commented on #535
I'm closing this for now, if there is something else you would like to talk about, please feel free to reopen!

[2021-12-15 17:20] #535 closed

[2021-12-15 17:22] jmercouris commented on #440
I believe this is out of the scope of Nyxt. Support for a VCS should be an extension in my opinion. Closing this for now. If you disagree, please feel free to reopen!

[2021-12-15 17:22] #440 closed

[2021-12-15 17:23] jmercouris commented on #439
I believe this is out of the scope of Nyxt. Support for a VCS should be an extension in my opinion. Closing this for now. If you disagree, please feel free to reopen!

[2021-12-15 17:23] #439 closed

[2021-12-15 17:26] jmercouris commented on #700
Closing this for now. If you are still having this issue, please reopen!

[2021-12-15 17:26] #700 closed

[2021-12-15 17:35] jmercouris commented on #904
The user can now add and remove modes via the "+" symbol in the far right. I almost want to make it a Δ because that would be cool, but I think the "+" is more obvious. Anyways, the criteria here are fulfilled. Closing for now. Please feel free to reopen!

[2021-12-15 17:35] #904 closed

[2021-12-15 17:41] jmercouris commented on #1590
This feature has now been fulfilled! If you feel there is something missing, please feel free to reopen!

[2021-12-15 17:42] jmercouris commented on #1065
Well, we are no longer using QL :-)

[2021-12-15 17:45] jmercouris commented on #1327
This is done! :-)

[2021-12-15 17:45] #1327 closed

[2021-12-15 17:47] jmercouris commented on #1538
The documentation now exists at : https://nyxt.atlas.engineer/documentation

I think anyone who wishes to contribute will probably look at the source on GitHub anyways :-)

Closing this for now unless you think there is something we haven't covered!

[2021-12-15 17:47] #1538 closed

[2021-12-15 17:52] jmercouris commented on #1937
OK! :-)

[2021-12-15 18:18] nyx-land commented on #1901
Sorry about the silence, I'm still working on this it just got sidelined for a bit.

I didn't get any obvious errors from running nyxt from the REPL, so at the moment I'm just stuck at investigating it further to see what's causing the race condition. Again if you have any suggestions for debugging @Ambrevar do let me know.

[2021-12-15 22:37] pdelfino commented on #1590
@jmercouris, I am afraid this is slightly different from #1330.

What we have now: a mode (`bookmark-frequent-visit-mode`) that when enabled will check if the **current web page** is frequently visited. if so, it will ask the user if they want to bookmark it or not.

What we still need to do (with this issue): a **command** in which the user selecst a subset (or the whole set) of history entries.

[2021-12-15 22:37] pdelfino commented on #1590
Did I miss something?

[2021-12-15 22:57] jmercouris commented on #1590
Ah yes, for some reason I thought we had merged that in!

[2021-12-16 10:33] Ambrevar commented on #1935
Good to close then?

[2021-12-16 10:41] Ambrevar commented on #1755
Closing, feel free to reopen if there is anything else.

[2021-12-16 10:41] #1755 closed

[2021-12-16 11:24] Ambrevar commented on #1546
I can't reproduce neither on master nor on `2-series`.
@aartaka Can you still reproduce?
Can you share with me an exact recipe with which URLs you've used for testing?

[2021-12-16 12:13] guojing0 commented on #1918
By "documentation" do you mean documentation in the code, beacuse I could not find any mentions of it in the [manual](https://nyxt.atlas.engineer/documentation)?

[2021-12-16 12:21] Ambrevar opened #1938 "Memory fault and load failures"
Since today I'm experiencing a strange issue, both on `master` and `2-series`: usually after some minutes of browsing, pages fail to load.  It's particularly visible when opening a URL in a new buffer: if that buffer shows a "load failed" message, then an immediate reload usually fails.  If I wait a few minutes, then the reload may just work!

Another and possibly related issue is that I get a mem

[2021-12-16 12:24] Ambrevar commented on #1901
So if you start Nyxt from the REPL and just wait, the performance issue pops up automatically, is that right?
Is there anything displayed in the REPL?

Are you loading the `nyxt/gi-gtk` or the `nyxt/gtk` system?  Try both and see if the behaviour changes.

The bug could be with GTK garbage collection, because otherwise I don't see why it would happen on its own.

[2021-12-16 12:25] Ambrevar commented on #1065
But we are not using CLPM yet, so I suggest we reopen this!

[2021-12-16 12:50] aartaka commented on #1938
In my case it was failing right at startup, crashing the whole browser.

But it could well be related. Or some WebKit misuse slipped through with #1762 :(

[2021-12-16 12:57] aartaka commented on #1546
Sure! The list that Nyxt reliably hangs trying to close:
[code]

[2021-12-16 13:02] aartaka commented on #1546
The recipe is simple: open 10+ (or 15+, or 20+, the number I'm not sure about) buffers and try to delete all of them, marking all of them in `delete-buffer` prompt.

The more detailed recipe for exactly how I just tested it:
- Start Nyxt.
- Navigate to `https://github.com/atlas-engineer/nyxt/issues`
- Run `follow-hint-new-buffer-focus` and select all the issue links (list above).
- Hit Return and

[2021-12-16 13:03] aartaka commented on #1938
Maybe yet another lagacy API use that stopped working with 2.34.1? xD

[2021-12-16 13:09] aartaka commented on #1938
Oh, and my crash has a different stack trace! `g-object::activate-gc-hooks` wasn't there for sure!

[2021-12-16 15:09] curtosis commented on #819
I'm seeing the "Unable to load foreign library (LIBFIXPOSIX)" error on Mac OSX (10.15.7). My suspicion is somewhere it's not using the correct path from MacPorts: this ports tree is installed --with-no-root-privileges. So even though libfixposix is installed with `port install`, Nyxt is looking for a path that depends on it being installed with sudo.

[2021-12-16 15:41] Ambrevar commented on #1546
Thanks!

First finding: I can reproduce with you list of 31 buffers.
With my list of 32 buffers, most of which are on my website, I cannot.
So it seems that the buffer content matters.

My supposition is that WebKitGTK takes more time to delete a heavy
buffer which is what triggers the race condition.

[2021-12-16 16:22] Ambrevar commented on #1546
There was actually a race condition in history access (due to how the data-storage library works, high time we fixed it).  I've fixed it in #1940 I believe.

[2021-12-16 16:57] mac230 commented on #1938
I'm having a lot of crashing issues w/ version 2.2.3.  Trace:

`CORRUPTION WARNING in SBCL pid 541501 tid 541516:
Memory fault at (nil) (pc=0x7fb8f8f00675, fp=0x4034000000000000, sp=0x7fb8e5b25b88) tid 541516
The integrity of this image is possibly compromised.
Continuing with fingers crossed.
<WARN> [10:53:01] Warning: Error on GTK thread: Unhandled memory fault at #x0.
`

[2021-12-16 17:15] Ambrevar commented on #1938
How did you install Nyxt? Did you build from source?

[2021-12-16 17:16] Ambrevar commented on #1938
Please share your `nyxt --system-information` details.

[2021-12-16 17:40] mac230 commented on #1938
Yes, I built from source.  I upgraded from 2.1.1 to address the issue w/ pages not loading when calling "history-backwards" and have had the issues w/ crashing since.  System information:

[code]

[2021-12-16 18:09] jmercouris commented on #1065
Why do we need CLPM though? I think pinning things the way we've done is probably the most robust, and doesn't require the user to install any other software.

[2021-12-16 18:11] jmercouris commented on #819
That's very possible, you can append and modify the path that Nyxt looks for foreign libraries. It is called the cffi load path.

[2021-12-16 18:53] jmercouris commented on #1918
Any documentation in the code is available to the user by using one of our "describe-*" type commands. These commands show the documentation interactively to the user. Therefore, something not appearing in the manual does not mean it is not in the documentation.

[2021-12-17 15:12] guojing0 opened #1942 "Good location to introducing show-headings-panel command?"
**Context**: I originally wanted to have a Wikipedia's Table of Contents-style summary for our manual and documentation. After a meeting with John, he suggested that said feature could be generalized to any websites with HTML headings.

**Goal**: I want to implement the command `show-headings-panel` (with its panel buffer) which shows a panel on the right side of the window, much like in the style

[2021-12-17 18:44] jmercouris commented on #1942
I think you should make a mode for this. I would also probably make a new file for this. Alternatively, you could put this in the same file as `jump-headings.lisp`. The choice is yours, either way is perfectly OK!

[2021-12-17 19:06] BlueFlo0d opened #1943 "_jsc_value_new_from_json and _jsc_value_to_json not found on macOS"
**Describe the bug**
Doesn't load or build.
**Precise recipe to reproduce the issue**
`(asdf:load-system :nyxt/gtk)` from dd03a7a2805828f77ff4b4e050edbca20916e704.

**Information**
- OS name+version: macOS 10.14.6
- How you installed Nyxt (Guix pack, package manager, build from source): source

  If you can't run `show-system-information`, try `nyxt --system-information` from
  a shell.  It this s

[2021-12-17 19:16] jmercouris commented on #1943
Are you using Quicklisp to fetch `cl-webkit` or are you using the submodules?

[2021-12-17 19:26] BlueFlo0d commented on #1943
Ah I see, I `grep`ed the `cl-webkit` in the `_build` and found the symbol.
Sorry for spam, but could you enlighten me on how to let `asdf` use the submodules instead of quicklisp? Thanks.

[2021-12-17 19:30] BlueFlo0d commented on #1943
Also if I try to `make all` it then gives
[code]

[2021-12-17 19:32] jmercouris commented on #1943
There are some options in the makefile for defining it, you can see them in `make help`. I don't want to copy them here, as they will go out of date!

[2021-12-17 19:38] BlueFlo0d commented on #1943
Yes `make` default to use the submodules, but not sure how to let `asdf` in repl do that.
Anyway, all ways still stumble upon that linker error...

[2021-12-17 20:45] BlueFlo0d commented on #1943
It seems that webkit2-gtk-devel from macport doesn't have _jsc_value_new_from_json and _jsc_value_to_json in JSCValue.h.

The latest webkit2-gtk-devel on macport is 2.27.3 which is 2 years old, maybe the functions are added only at a later version?

[2021-12-17 21:26] BlueFlo0d commented on #1943
It's finally working!! Using webkit2-gtk (w/o devel) from mac ports, and manually
do
[code]
in the REPL.
(`make all` won't do because it fails to find `ql-dist`, and even if I remove this blocker by removing `--no-userinit` from `LISP_FLAGS`, it eventually doesn't produce a binary `./nyxt` at the last step).

[2021-12-17 21:26] #1943 closed

[2021-12-17 22:25] jmercouris commented on #1943
Congratulations!

[2021-12-17 22:45] elais opened #1944 ""Page could not be loaded" error when using duckduckgo bangs"
**Describe the bug**
When the default search engine is set to duckduckgo, using a bang (i.e `!g beans` to search google for beans) causes nyxt to show "Page could not be loaded" when leaving a page and going back to the search engine. This only happens with javascript enabled.

**Precise recipe to reproduce the issue**
1. Set duckduckgo as the default search engine and make sure javascript is on
2

[2021-12-18 06:32] guojing0 commented on #1942
I think I will make a mode for this. I thought of using `jump-headings.lisp` as well, but it seemed a little strange to me, so I did not mention it in the post.

[2021-12-18 06:32] #1942 closed

[2021-12-18 12:12] guojing0 opened #1945 "Possibility for a new macro `define-private-mode`"
When I was testing for https://github.com/atlas-engineer/nyxt/pull/1941, I found out that even if I am on a normal website, say http://neversll.com/, I could still enable certain modes, like `buffer-listing-mode`, where it makes little to no sense for such website.

So I was wondering that given current architecture, do you think would it be possible and/or necessary to have another macro, `define

[2021-12-18 12:28] aartaka commented on #1944
Does it only happen for bangs? What about usual search (#1854)?

[2021-12-18 12:44] aartaka commented on #1945
This is somewhat reselmblant of #1198 in that the command should not be seen by the user.

[2021-12-18 16:32] Ambrevar opened #1946 "Increase dynamic space size for .deb and in makefile"
SBCL default dynamic space size varies across installation.

I suggest we set it to 3 GiB by default, it may fix some issues like the one reported by @jmercouris in https://github.com/atlas-engineer/nyxt/pull/1940#issuecomment-996929347.

Thoughts?

[2021-12-18 16:45] Ambrevar commented on #1938
Are you saying that 2.1.1 does not crash?
Can you provide a precise recipe that crashes on 2.2.3 ?

[2021-12-18 16:46] Ambrevar commented on #1945
I agree that this may be just #1198.  @guojing0 Do you confirm?

[2021-12-18 16:52] guojing0 commented on #1945
I confirm, hence closing this issue. I will add it to my to-do/think list.

[2021-12-18 16:52] #1945 closed

[2021-12-18 16:58] mac230 commented on #1938
Yes, 2.1.1 does not crash.  Unfortunately, I haven't been able to produce a precise sequence of events that reproducibly causes crashes w/ 2.2.3.  I can confirm the crashing occurs w/ nyxt started w/ no init file or history restored.  Sorry to not be more helpful, but if I can reproduce crashes I will report back.

[2021-12-18 17:39] aartaka commented on #1946
I'm always confused by SBCL docs regarding the `--dynamic-space-size`, as it says something about per-thread space. Because of that and because of the potential RAM usage restrictions (Windows restrictions in particular, as described [in the comments to this StackOverflow question](https://stackoverflow.com/a/7181683)), I suggest using something between one and two gigabytes.

[2021-12-18 18:00] jmercouris commented on #1946
The number 2048 appeals to me, I think we should use that :-)

[2021-12-18 20:36] johnrichardrinehart opened #1947 "shell.nix doesn't work"
**Describe the bug**
I tried to follow the instructions in [the developer docs for nix](https://github.com/atlas-engineer/nyxt/blob/master/documents/README.org#developer-installation-with-nix) but running `nix-shell` immediately failed with
[code]

I seemed to get around this problem by changing `stdenv.lib` to just `lib` on l57.

**Precise recipe to reproduce the issue**

Patch the `shell.nix` in

[2021-12-18 20:59] kchanqvq opened #1948 "list-systems causes SB-KERNEL::BINDING-STACK-EXHAUSTED-ERROR"
**Describe the bug**
list-systems causes SB-KERNEL::BINDING-STACK-EXHAUSTED-ERROR
**Precise recipe to reproduce the issue**
Start a fresh new Nyxt (without any init file loaded), do C-space list-systems, bang!
For website-specific issues:
Can you reproduce this issue with Epiphany / GNOME Web (https://wiki.gnome.org/Apps/Web)?

**Information**
- OS name+version: macOS 10.14.6
- How you installed N

[2021-12-18 22:46] BlueFlo0d commented on #1720
I guess this would be a nightmare to do for webpages on the large that ab(use) arbitrary JavaScript. But it could be very useful for Nyxt applications in user-internal-buffer so they can e.g. compute on demand.

I think the canonical idea is to have “lazy” dom element that can compute on demand.

[2021-12-19 13:03] Ambrevar commented on #1938
Thanks for the details, this definitely needs more investigation.

[2021-12-19 13:06] Ambrevar commented on #1946
I've hit errors twice in the past where I was pushed to set it 3 GiB
instead of two.

What we can do is take the mininum between the current dynamic space
size and 2 GiB, this way we ensure that we don't lower it.

[2021-12-19 13:08] Ambrevar commented on #1065
In the future, when Nyxt becomes more of a full-featured CL development
environment, having a proper Common Lisp package manager would be good!

[2021-12-19 14:34] guojing0 commented on #1937
### UX/UI design of IRC interface

As we can see from the following screenshot, Demeter has three main parts (list of feeds, specific feed, and the article) with prompt buffer. I am thinking about implementing something like [Textual](https://www.codeux.com/textual/)'s GUI, which means that for the prompt buffer, we could only need the prompt without the area below it (if it can be done).

Any tho

[2021-12-19 14:38] crocket commented on #1065
Can CLPM build nyxt offline? Gentoo Linux builds programs offline. All dependencies should either be specified in gentoo package or exist as a separate gentoo package.

[2021-12-19 17:43] danrobi11 opened #1949 "Feature Request: Visual-mode. Make caret follow search-buffer result"
It would be handy if the caret would jump to the search-buffer `"C-s s"` result location in `visual-mode`.

[2021-12-19 17:46] aartaka commented on #1946
You mean maximum? If so, that sounds sane :D

[2021-12-19 17:57] aartaka commented on #1937
Doesn't sound right to me. The area below prompt input is useful, as it allows listing arbitrary suggestions information.

But, if you insist, prompt-buffer shrinking is definitely possible. `ffi-window-set-prompt-buffer-height` can be of help there -- just set it to input height and you're all set for the suggestion-less prompt!

[2021-12-19 20:17] aartaka commented on #1947
@jmercouris?

[2021-12-19 20:20] aartaka commented on #1948
Hmmm, it's interesting that the error message is not even saying anything about `list-systems`. Is it reproducible when you run `list-systems` a while after starting Nyxt? Does this error appear after some time running Nyxt, without `list-systems`?

[2021-12-19 23:58] danrobi11 opened #1950 "Crash output: fatal error encountered in SBCL Heap exhausted, game over."
**Describe the bug**
Nyxt crashing. Happens a lot. Hence why I was running Nyxt from a shell.

**Precise recipe to reproduce the issue**
No clue. I was browsing as usual.

For website-specific issues:
Can you reproduce this issue with Epiphany / GNOME Web (https://wiki.gnome.org/Apps/Web)?

I was in a github page. I tried to go to: `https://github.com/mqudsi/syngesture/releases` and Nyxt crashed.

[2021-12-20 08:59] Ambrevar commented on #1946
Yes, maximum !

[2021-12-20 11:18] Ambrevar commented on #1950
Seems to be the same as https://github.com/atlas-engineer/nyxt/issues/1938, no?

I wonder why this started happening to everyone, possibly suddenly.  Was 2.2.3 (and 2.2.2) crashing with memory errors for everyone?

@aartaka @jmercouris @pdelfino @guojing0 ?

[2021-12-20 15:45] aartaka commented on #1950
No crashes on my side. At all (O_O;)

[2021-12-20 16:18] jmercouris commented on #1950
It only happens when having many many buffers open at the same time. I typically only have about 5-10 buffers open. I only had many buffers for the purposes of testing killing many buffers- and thus triggered the issue.

[2021-12-20 16:45] Ambrevar commented on #1950
I've encountered these issues with relatively few buffers (10-15) too.  This never
occurred before last week.

[2021-12-20 17:18] Ambrevar commented on #1065
I don't know yet, but that's indeed a critical requirement.

[2021-12-21 03:54] BlueFlo0d commented on #1948
Ah I think it's indeed unrelated to `list-systems`. I just tried to browse some actual Internet and it happens whenever I open any "complicated" webpage like YouTube. Seem like web browsing on macOS isn't really usable at the moment, but my main interest is to use Nyxt as a Lisp environment so not a big problem for me ~_<

[2021-12-21 10:28] BlueFlo0d opened #1955 "Is it necessary for document-model to be an :around method?"
`buffer.lisp` defines an `:around` method for `document-model`, which checks for changes and updates `document-model` heuristically. However, `:around` method can't be easily disabled by subclasses and this creates trouble when I try to make a subclass of `buffer` that maintains DOM from Lisp side. Is it better to use an ordinary primary method instead?

[2021-12-22 02:57] Zaijab opened #1956 "`copy-hint-url` does not copy the link that `follow-hint` would go to."
**Describe the bug**
The URL that `follow-hint` goes to and `copy-hint-url` copies is sometimes different. I hope I am correct in assuming that we wish for the two to be the same.
For most links, the two URLs are the same. However, on Youtube I notice that when I copy a URL from a hint, then I only get the URL "https://www.youtube.com/watch" rather than the expected form "https://www.youtube.com/w

[2021-12-22 15:37] khinsen commented on #1883
Since this is really bothering me (so many Web sites crash that I can't use Nyxt as a general browser), I tried something else: install the Ubuntu 20.04 package for Nyxt 2.2.3. This doesn't remove the crash but at least produces a somewhat more informative error message:
[code]

The main surprise is the hint at `WebVTT`. I have no idea what that is, but it looks essential and is missing. Does this

[2021-12-22 18:23] aartaka commented on #1956
It seems we weren't copying the URL query string when completing URLs. Thanks for reporting! Should be fixed in 9dfea80624d6595914b87fcf99efe2f7d4beedd5.

[2021-12-22 18:46] aartaka commented on #1955
I remember we talked on IRC, and I wasn't sure that I was able to communicate this point: `document-model-delta-threshold` is configurable via `define-configuration`, e.g.,
[code]
And it will change the threshold for all the buffers Nyxt creates and all the subclasses you might have for `buffer`. So, if you only need to chang this small thing, you needn't rewrite all of `buffer`, just use `define-

[2021-12-22 18:47] aartaka commented on #1955
On a related note: there should be a way to disable/delete methods via MOP, although I'm not one hundred percent sure about it.

[2021-12-22 19:44] aartaka commented on #1944
Oh, I see what's going on. It's `WEBKIT_NETWORK_ERROR_CANCELLED`. It's been on master for 2 weeks now. @Ambrevar, can you add 4d39a518bf57d24f7a8781ee587aa30eee918281 to `2-series`?

[2021-12-22 19:55] jmercouris opened #1957 "Compiling master with Nix Shell"
Lately I've been unable to compile master with the Nix shell. I can't possibly understand:

[code]

any ideas?

[2021-12-22 19:56] jmercouris commented on #1957
I find it odd that I can in fact run EXACTLY what it is claiming fails.

[2021-12-22 23:23] BlueFlo0d commented on #1955
The problem is the scope -- either `define-configuration` (it seems) or MOP affect the behavior globally, while I want to limit it to one particular buffer. Also changing `document-model-delta-threshold` doesn't prevent the element counting from happening, which is sort of a waste of CPU.

Thanks for 2579f9576881471700d6807860f825a42a393cdc!

[2021-12-22 23:23] #1955 closed

[2021-12-22 23:54] jcguu95 commented on #1743
By unbinding by setting `"O"` to `NIL`, using

(define-key (override-map (current-buffer)) "O" nil)

returns the following error.

[code]

[2021-12-23 01:05] BlueFlo0d commented on #1441
I'm having the same `DIVISION-BY-ZERO` problem, when calling `newQApplication`. Calling it directly from C (by building interface.cpp as a executable) however works, weird.

[2021-12-23 02:13] ergpopler opened #1958 "Why does Nyxt have Alpine support but says "GNU/Linux""
Not trying to be annoying, but just saying, Alpine Linux isn't a GNU/Linux distribution, nor is it MacOS or FreeBSD, yet it is supported clearly, as it is in the Alpine repositories. Alpine is for the most part GNU-less, so...

[2021-12-23 13:58] aartaka opened #1960 "Account for asynchronous attribute computation everywhere"
Right now `prompter::attribute-value` and `prompter:active-attributes` don't account for the function-based attributes, and it breaks e.g. `switch-buffer` due to `prompter` functions expecting strings where functions are.

[2021-12-23 16:43] elais commented on #1944
Sorry for theatw reply I was traveling.

It happens almost always with bangs and intermittently elsewhere.

[2021-12-23 21:48] mcatanzaro commented on #1909
Fixed upstream: https://bugs.webkit.org/show_bug.cgi?id=233230

That said, the conclusion is you still need a hard dep on gst-plugins-bad (and also gst-plugins-good).