[2018-12-06 15:10] Ambrevar commented on #163
Sounds reasonable.  @jmercouris?

[2018-12-06 15:14] Ambrevar commented on #165
Just to be clear: what would you like from Next?

[2018-12-06 15:15] Ambrevar commented on #166
Wouldn't that insert "C-v"?

[2018-12-06 15:16] jmercouris commented on #163
It does sound reasonable enough, so I would type "make macos"? how about "make darwin" instead, just because that sounds cooler? I'm of course ok with either but yeah :D

[2018-12-06 15:19] jmercouris commented on #166
I was saying something like:

`(define-key *minibuffer-mode-map* (key "C-v") #'(lambda () (self-insert *minibuffer* (get-clipboard-contents))))`

if that makes sense

[2018-12-06 15:20] Ambrevar commented on #164
Everything is possible with Next! :)

[2018-12-06 15:21] jmercouris commented on #164
@Ambrevar I've been thinking we should make something like this: https://html5zombo.com for Next :D

[2018-12-06 15:51] Ambrevar commented on #56
Use Quicklisp to install CFFI.  I'm not sure how it works on Windows, sorry if I
cannot help more here.

You don't necessarily have to edit the Makefile, you can simply pass the
following argument:

  make next LISP_FLAGS=--non-interactive

[2018-12-06 15:53] Ambrevar commented on #164
@jmercouris: ?!?!? :D

[2018-12-06 16:01] Ambrevar commented on #166
Oh, absolutely.  What about using http://quickdocs.org/trivial-clipboard/ then?

[2018-12-06 16:07] jorgeavaldez commented on #158
Looks like there might be a possible fix coming with https://github.com/atlas-engineer/next/pull/168 since it addresses your issue @bjb568

[2018-12-06 16:12] jmercouris commented on #158
yeah, I am seriously thinking about bundling XML-RPC-C within the Next repository...

[2018-12-06 16:13] jmercouris commented on #166
that sounds like a good cross-platform solution!

[2018-12-06 17:04] vindarel commented on #153
Does that look like a correct way to run Next ?

it shows a blank window (sometimes) and loops on "Polling platform port..."

(yeah excellent choice of Guix)

[2018-12-06 17:11] Ambrevar commented on #153
Yes, you can install it this way.  You can also extend your PATH environment
variable, or set `*gtk-webkit-command*` from your ~/.config/next/init.lisp.

It should only show "Polling platform port..." a couple of times.  Does it loop
indefinitely?

Have a look at /tmp/next-webkit-gtk.log for more details.

But did you manage to build next-gtk-webkit properly in the end?  If libsoup is
missing, it'

[2018-12-06 17:39] vindarel commented on #153
ok thanks.

I'm surprised libsoup is an old version in this docker image (Debian testing) but thanks for the remainder. Have to (re(re))check.

yes it loops indefinitely.

[2018-12-06 17:39] Ambrevar commented on #156
Updated, thanks for reporting!

[2018-12-06 17:39] #156 closed

[2018-12-06 20:47] bradrn commented on #56
That helped the process run a bit more but eventually it still gave me the same `sqlite` error it was before.

[2018-12-06 20:47] vindarel commented on #153
allright one more step, I made it work from within Docker.

[2018-12-06 20:53] Ambrevar commented on #56
If you know a little bit about Common Lisp, try the following:

- Fire up a REPL (in this case "sbcl").
- Install Quicklisp.
- Run (ql:quickload :cffi)
- Run (push "/path/to/your/lib/folder/" cffi:*foreign-library-directories*)
- Run (ql:quickload :cl-sqlite)

If you can get the above to work manually, then you should be able to install
Next.

The Common Lisp community might know more.

[2018-12-06 20:53] Ambrevar commented on #153
Great!

[2018-12-06 20:57] bradrn commented on #56
I've already run the first line, and the second line is in my `~/.sbclrc` as per earlier. Running `(ql:quickload :cl-sqlite)` in the REPL gives me this error:

[code]

[2018-12-06 21:05] jmercouris commented on #56
@bradrn that is because the system name is actually `:sqlite`, sorry for the confusion!

[2018-12-06 21:43] bradrn commented on #56
That gives me a very familiar error again:

[code]

Should I report this issue to the sqlite library? (Although I'm not quite sure where I would go to do this...)

[2018-12-06 21:53] jmercouris commented on #56
Then what I said was true, CFFI cannot find SQLITE, or it is installed
in some strange location. I wish I could help, but I don't know the
specifics of your system, sorry! Maybe there is some SQLITE
documentation (the Lisp system) about Windows specifically
https://common-lisp.net/project/cl-sqlite/

-John

<#secure method=pgpmime mode=encrypt>

[2018-12-06 21:54] Ambrevar commented on #56
No, it should work on your system.

One of the following

$ pacman -Ql msys/libsqlite
$ pacman -Ql mingw32/mingw-w64-i686-sqlite3
$ pacman -Ql mingw64/mingw-w64-x86_64-sqlite3

should return some "libsqlite3" or "sqlite3".

What "push" have you done?
What's in your .sbclrc?

[2018-12-07 00:18] bradrn commented on #56
@Ambrevar All those give me `error: package ________ was not found` messages. Which is odd, because I do have some installed SQLite packages:

[code]

My `.sbclrc` contains the following:

[code]

[2018-12-07 07:48] Ambrevar commented on #56
Refer to the documentation of msys2, the answer must be there.

For the push, it's probably more something like "/mingw64/lib/", but I could be wrong.

[2018-12-07 11:31] bradrn commented on #56
Nope - making that change doesn't do anything.

I originally got that directory from the output of this command finding the installation location of SQLite:

[code]

[2018-12-07 12:21] Ambrevar commented on #56
Hmm, just had a look at the source of cl-sqlite and it might not support Windows.  Not sure.
You should ask the devs.

[2018-12-07 12:21] Ambrevar commented on #56
(Sorry, clicked the wrong button :p)

[2018-12-07 12:24] novoid commented on #42
I'm too late for the indiegogo campaign.
Do you (by chance) do have an IBAN + BIC where I can simply transfer some money?

[2018-12-07 12:32] jmercouris commented on #42
@novoid Thank you so much for asking! We are working on setting up something! We do have an official bank account, but not an easy way to pay as it is an American account so I don't think we have IBAN/BIC, not sure though.

[2018-12-07 12:40] novoid commented on #42
I'm not an expert in these things but it might be possible that you open up an account for free at https://n26.com/en-at where you get IBAN/BIC which enables free-of-charge money transfer at least for all European people. You can then transfer money in bulk to the US.

[2018-12-07 14:30] Ambrevar commented on #110
dom1n.com certificate seems to be invalid.  If you try http://dom1n.com it works just fine.
Same with Firefox.  I'll work on the Lisp interface with invalid certificates so that the use can decide what to do in case the certificate is invalid.

[2018-12-08 12:48] eubarbosa opened #169 "[GUIX] Unable to create server"
Hey, as I run  next on terminal I receive this error and it wont open

`Unable to create server: Could not listen on address 0.0.0.0, port 8082: Error binding to address: Address already in use`

Thanks

Debian SID
Guix 0.16 (guix-install.sh)
T430

[2018-12-08 12:55] Ambrevar commented on #169
Check your running processes and kill all "next" / "next-gtk-webkit" that are running, then try again :)

For now we have limited subprocess management, we are working on it.

Also note that you can configure both ports from Lisp, e.g.
[code]

[2018-12-08 20:08] eubarbosa commented on #169
oh great!

[2018-12-08 20:34] eubarbosa commented on #169
Next won't open.

Might be a something only on Guix package as Next works correctly by locally compiling it!

[2018-12-08 20:56] Ambrevar commented on #169
It works here on GuixSD.  Please post the commandline plus backtrace when you start it, and post the content of /tmp/next-gtk-webkit.

[2018-12-08 22:00] dangirsh opened #170 "Document Guix install steps"
I was unable to find instructions for installing next with Guix.

Eventually, I found [this issue](https://github.com/atlas-engineer/next/issues/92), which led me to believe the magic command was `guix package -i sbcl-guix`.

Originally, I tried unpacking the linkned `.tar.lz`. Some searching around led me to use `lzip -d`, then `tar -xf` to extract it. I ran `bin/next` from the extracted archive,

[2018-12-08 22:33] Ambrevar commented on #170
Are you familiar with Guix or did you  just install it because of Next?

When I wrote this part of the README, I imagined that Guix users would know how
to install the package (indeed with `guix package -i sbcl-next`).

I guess adding the command to the README would not hurt ;)

Regarding the Guix pack: it's currently broken, I'm working on it.  Sorry for
the mess!

[2018-12-09 01:04] dangirsh commented on #170
This line in the README made me believe installing Guix was the best path to getting Next running on Linux:

"Guix is a package manager that can be installed on any GNU/Linux distribution; should Next be missing from your distribution, there is always the possibility to install Guix on your system and use it to install Next."

It seems like the best current approach for most (non-Arch / non-GuixSD

[2018-12-09 09:34] Ambrevar commented on #170
I'll reword it then.

Both approaches are fine:

- If Guix is easily available for your distribution (e.g. as a package), then
  this is definitely the simplest route.
- If not, or if you want to help developing Next, then building from source is
  the commended route.

Hopes that makes sense!

Does it work well with the Guix package by the way?

[2018-12-09 18:43] dangirsh commented on #170
Great, thanks.  Might be helpful to also give the Guix package name and full install command. My guess is that many people trying the Guix option will be using Guix for the first time.

I ended up running `guix package -i sbcl-next`. It took a few hours on my laptop to build the deps. When it finished I had to run `export PATH="/home/dan/.guix-profile/bin${PATH:+:}$PATH"` (helpfully recommended by

[2018-12-09 18:53] Ambrevar commented on #160
@gumblr: Does Next fully work for you with the symlink trick?

[2018-12-09 18:54] Ambrevar commented on #170
What do you mean?  Isn't  `guix package -i sbcl-next` enough?

You can use a substitute server (which might not be enabled by default on your
system) to get the pre-built binary.  In which case it will install in seconds.
See https://www.gnu.org/software/guix/manual/en/html_node/Substitutes.html.

That's what I'm working on.  Sadly I'm facing a blocking issue: the result
cannot use XML-RPC properl

[2018-12-10 19:44] swedebugia commented on #165
Good question Pierre :)
I would like to know if it is possible to make a plugin that provides this functionality (to hash passwords in password input fields).
Are there any plugins at the moment?
Would it be practical/possible to write the plugin in Guile? (I never used common lisp before).

[2018-12-10 20:17] Ambrevar commented on #165
This should be quite easy to implement indeed!

Next is a regular Common Lisp application, and as it accepts extensions as regular Common Lisp packages!  Which is extremely powerful, obviously! :)

Common Lisp will be quite familiar if you know Guile, and even more so if you know Emacs.
To get started, have a look at Next's own code.  It's short and it should be quite readable.

To go further, hav

[2018-12-10 20:21] Ambrevar commented on #165
A quick lookup gave me this: http://quickdocs.org/cl-pass/
It does not seem to be exactly what you want, be it could get you started :)

There is also http://quickdocs.org/cl-password-store/, a wrapper to
https://www.passwordstore.org/.

[2018-12-10 20:46] equwal opened #171 "Debian stable users shouldn't use testing packages"
Using the wrong fork packages in debian is [not recommended as it has a tendency to blow up the operating system](https://wiki.debian.org/DontBreakDebian#Don.27t_make_a_FrankenDebian) through dependency issues. The right recommendation is to upgrade the whole system to the testing fork.

[2018-12-10 21:34] jmercouris commented on #171
I'm not sure what exactly you're trying to say here. You'll have to be more specific with regards to what exactly you wish for us to change.

[2018-12-10 21:42] dangirsh commented on #170
Yes, just didn't see you recently updated the README with that.

Thanks for the info on the substitute server. Ubuntu 16.04 users won't have this as a default.

Glad to hear you're working on a standalone binary.

[2018-12-10 21:42] #170 closed

[2018-12-11 01:39] equwal commented on #171
Don't recommend using the testing repository from stable, instead recommend reinstalling the operating system as testing.

[2018-12-11 03:55] #169 closed

[2018-12-11 07:47] Ambrevar commented on #169
@eubarbosa : Could you fix the issue?  What was the problem?

[2018-12-11 07:48] Ambrevar commented on #171
Agreed, I'll merge this recommendation.

[2018-12-11 07:48] #171 closed

[2018-12-12 20:00] peterohanley opened #173 "Arrow keys crash Next (OSX Mojave)"
Using the arrow keys in the mini buffer crashes next if it's launched from spotlight, but not if it's launched with `open -a next`.
[Crash log](https://gist.github.com/peterohanley/6678cec89cf7da25260fb364048927db)

To reproduce: launch, C-l, hit an arrow key. Launched from spotlight it will crash, from the terminal it will just display a missing character box.

[2018-12-12 20:03] jmercouris commented on #173
Hi, thank you very much for the report! I think I know what is happening. Because the arrow keys are not mapped in the minibuffer, it'll try to insert them as a character, but that character somehow crashes it in the first instance, but not in the other.

I wonder if it doesn't crash in the second instance you describe because it has standard-out when launched from the terminal. Not sure, I will t

[2018-12-13 18:43] jmercouris commented on #167
It is now!

[2018-12-13 18:43] #167 closed

[2018-12-13 18:46] jmercouris commented on #162
Yes this is in fact confusing/frustrating behavior and I can reproduce. Unfortunately it is the way webkit implements the query to show the visible element. There's nothing we can do about this short of writing a mini library of our own to show the position of an element on screen.

[2018-12-13 18:49] jmercouris commented on #144
The new binding is `C-s s`, you can look through `search-buffer.lisp` to see how it works. It needs a lot of work, all PRs are appreciated :D

[2018-12-13 18:49] #144 closed

[2018-12-13 18:51] jmercouris commented on #173
Just wanted to update you and let you know that I did a little investigation and have figured out what the issue is. Thinking about how to patch it, will get back to you when I have a fix in place! Thank you for your patience!

[2018-12-13 20:11] Ambrevar commented on #162
I haven't studied the code much yet.  Can you explain the issue a little more?

I'm confused: if the cursor position is right when pressing "C-n C-n", why can't
we have the same display when pressing "C-p" afterwards?

[2018-12-13 21:35] jmercouris commented on #158
@bjb568 could you please try pulling the source again and compiling, it should work now

[2018-12-13 21:42] jmercouris commented on #158
I should probably also update the binary as well, since the info plist has changed. I've uploaded a new version of the binary with all the changes: https://next.atlas.engineer/download please give it a try and let me know I this fixes your issues.

[2018-12-14 00:01] Colelyman commented on #158
@jmercouris fixes the issues for me! (On 10.14.1 (18B75)) Thanks!

[2018-12-14 04:40] rprimus commented on #163
Fri Dec 14 04:33:16 GMT 2018

After a `git pull`, `make cocoa-webkit` is still failing (with the same error):
https://gist.github.com/05ce874538434ac5f28a194805d0fba2

Removing `/usr/local/include/**` from `Header Search Paths` allows for a successful build:
https://gist.github.com/39614025c7a8c9ef9c83ae1cfd5db5c3

`open build/Next.app` now works properly.   Whoop, Whoop! 🥇

(Will close this at no

[2018-12-14 04:56] bjb568 commented on #158
@jmercouris I'm getting this error.
[code]

[2018-12-14 08:40] Ambrevar commented on #158
@jmercouris: You might an `#include <errno.h>` or similar.

[2018-12-14 08:51] Ambrevar commented on #162
I understand there is an issue with the current code, but I'm quite convinced
that this problem has a solution.  Consider the following:

- M-x
- C-n C-n ... (enough until we reach the line before the last one).

Now we are in state A.  Then:

- C-n
- C-p

At this point, we would like to be in state A again.  But unfortunately, we are
in a state where the selected line is at the top.

If the desir

[2018-12-14 13:42] jmercouris commented on #162
Using the current implementation of Webkit which puts the current element in view, it is impossible to go back to state A, we would have to implement a browser native function ourselves, which will be very expensive time/computationally speaking

[2018-12-14 16:16] swedebugia commented on #167
Fantastic! :)

[2018-12-14 17:00] #163 closed

[2018-12-14 17:08] jmercouris commented on #163
@rprimus thank you for verifying that it builds successfully! I wonder why removing `/usr/local/include/**` from the Header Search Paths was necessary though :\

[2018-12-14 19:24] Atreus-Tantalus opened #174 "Something like Noscript & vertical tabs"
Any plans for implementing noscript like ability to block individual scripts on websites and/or vertical tabs?

[2018-12-14 21:01] Ambrevar commented on #174
I think Atreus-Tentalus meant "tabs laid down vertically".  You can do that with
Firefox.

That said, I think Next takes the right approach with the concept of "buffers".
Conversely, a vertical, side-by-side display of the minibuffer would fit the
"vertical tabs" role.

[2018-12-19 21:46] Ambrevar commented on #28
Hey all!

I'm going to work on this for the next few days.
There are a lot of good ideas in this thread, so I'll consider all that.

I'm wondering if any Evil gurus would have suggestions before we get down to work.
@TheBB, @wasamasa, @jojojames, @justbur, @noctuid, @jgkamat?

It's not just about Evil/VI keybindings, but also about more general concepts
such as key translation, leader keys, etc.

[2018-12-19 21:48] Ambrevar commented on #166
Implemented in be23c2e3ff0c31d3164e0202223d6e19ec78fc92.
Feel free to re-open if there is something else.

[2018-12-19 21:48] #166 closed

[2018-12-19 21:49] Ambrevar commented on #148
@azzamsa : Is it all good for you now?  Shall we close this issue?

[2018-12-20 10:46] wasamasa commented on #28
It bears repetition that Evil is first and foremost about implementing Vim's text editing model. Most of its smarts is about implementing Vim's grammar in an elegant and extensible way. Assuming you don't plan on implementing Vim's editing model in text input fields (it's far easier to just shell out to an external editor), this leaves a few much smaller concerns to worry about:

- The flexibility

[2018-12-20 15:08] noctuid commented on #28
Fwiw, `general-key-dispatch` is general-purpose (though the implementation is still hacky).

The various vim browser extensions I've tried support timeouts, so this is a feature worth considering. It matters less when you don't have operator/object keybindings though (since this is generally where people use this functionality besides in insert mode).

I think this is also worth considering. It's

[2018-12-23 05:32] swedebugia opened #177 "Feature request: Send keystroke directly to renderer"
vimb has this. c-v they choose for this.
It is real nice e.g. when using web-applications like roundcube.

[2018-12-23 10:31] jmercouris commented on #177
see application-mode.lisp, if you also did a setf on the global bindings and saved them in a slot while you were in that mode, you would effectively unbind everything,

-John

[2018-12-23 10:53] Ambrevar commented on #177
I'm a bit confused here:

- What setf?
- Which slot?
- How do we switch to application mode?

[2018-12-23 11:34] jmercouris commented on #177
I'm saying you'd switch the mode to application-mode.lisp (which is designed with this intent), and then you would do something like `(setf *global-map* (make-hash-table))` and store the existing =*global-map*= in a slot of application-mode.

Then you'd have to bind at least one key within application-mode called something like "q" for "quit" and it would reassign =*global-map*= to the original =*

[2018-12-23 15:14] Ambrevar commented on #177
Yes it does, thanks for clarifying.

Now we need to need to think about modes: Can we activate several modes at once?
If so, then we would need to nullify all active mode maps, right?

[2018-12-23 16:45] jmercouris commented on #177
Only one mode may be active at once (per buffer). However, though not yet designed, one should probably be able to have multiple minor modes, much like Emacs.  I've been thinking about this idea for a long time. What are minor modes in the context of Next? I don't know, something we'll have to think about, however that does not pertain to this particular problem and is a bit off tangent :D.

[2018-12-24 13:42] Ambrevar commented on #160
1.2 is out!  I've just uploaded a new Guix pack which should now fix this issue.  Can anyone confirm?

[2018-12-24 22:11] bradrn commented on #56
@omrisim210 Unfortunately, that didn't do anything. I'm using MinGW, so firstly I'm using `libsqlite3-0.dll`, which is already on PATH. But even when I rename it to `sqlite3.dll`, it doesn't do anything.

[2018-12-25 00:03] jmercouris commented on #56
well, at least sqlite is our only CFFI based dependency (that I am aware of), so if we can do without (which we have been considering), we could potentially improve portability quite a bit...

[2018-12-25 06:02] eubarbosa commented on #159
Exactly!

[2018-12-25 06:10] eubarbosa opened #178 "[which-key] displays available keybindings in popup"
Hey, is there any feature as Emacs which-key package or even something like VSCode that calls a pdf file with a keybindings chart?

More: https://github.com/justbur/emacs-which-key

Thanks!

[2018-12-25 06:22] alexanderbarbosa opened #179 "[C-x b] Switch to next buffer if there only two buffers open"
Hey, I dont think that even Emacs has it:

If there are only two buffers open, C-x b would just switch to  the next buffer imeddiately...

That is it! :D

[2018-12-25 06:39] alexanderbarbosa opened #180 "[GUIX] Next freeze as quitting (c-x c-c)"
hi,

Quiting Next freezes/hangs for a long time and wont shut down!

Backtrace:
[code]
**SPEC**
sbcl-next
Guix 0.16
Debian SID
Xmonad
Kernel 4.19
Lenovo T430

[2018-12-25 06:42] alexanderbarbosa opened #181 "[GUIX] Next do not remember passwords"
Hi, As I close Next and run it again it is not saving password even if "remember me" is selected.

It do remembers all my bookmarks, though!

Related to: https://github.com/atlas-engineer/next/issues/180

Thanks !

**Spec:**
sbcl-next
Guix 0.16 (user install)
Debian SID
Awesome 4.3
Kernel 4.19
Lenovo T430

[2018-12-25 14:05] Ambrevar commented on #181
Are you running Next 1.2+?

Which website?

Can you check if the cookies are save in ~/.local/share/next?

[2018-12-25 14:17] eubarbosa commented on #181
the latest next from Guix
reddit, github, gitlab ...

No cookies... at all, just bookmark.db and history.db

https://i.ibb.co/3ND52RZ/shot-2018-12-25-T12-16-35-02-00.png

[2018-12-25 17:38] Dav1d23 opened #182 "Arch: whenever minibuffer is used, next freezes"
I've built next from sources (commit: 7a62fa280e6ac7a5b51f7b3b1d00cfea9df1f608) and I'm able to start it up.
But I have several freezes, and there is a systematic one whenever I open the minibuffer (M-x) and scroll down using the arrows. Next freezes and there is no way to get it back.

Is there a way to have debug informations, in order to give you more details?

[2018-12-25 18:44] Ambrevar commented on #182
I can reproduce after a lot of up/down keypresses (20-30).
How long does it take for you?

I believe this issue is due to the major cause of instability in Next: it might be something with having 2 webkit views in the same window.

@jmercouris: Can you reproduce?  You might have to press up/down a lot.  If not, then it's  WebKitGTK+-specific.

[2018-12-25 18:45] Ambrevar commented on #182
I can reproduce on `C-l`, so this must be a global issue.

[2018-12-25 18:52] Ambrevar commented on #179
Inded, that's a cool idea, thanks for the suggestion!

Would you like to work on this?  It would be an easy first contribution ;)

[2018-12-25 18:58] jmercouris commented on #182
I cannot reproduce, I can even spam C-g with no problem.

[2018-12-25 19:02] jmercouris commented on #179
I disagree that this is a good idea, I think inconsistent UI is bad practice. C-x b should always show you the buffer list so you can be aware there is only one other buffer

[2018-12-25 19:03] Ambrevar commented on #178
We've been working on keybindings last week, more features coming soon, including:

- Display keybinding next to the command name in `M-x`.
- Display keybindings in the result of `inspect-command`.

Next <1.0.0 had hydras, but this was broken with the new API so we would need to re-implement them.

Which feature of `which-key` do you procisely want?  E.g. when you press a prefix binding, the echo

[2018-12-25 19:08] Ambrevar commented on #180
Yes, this is an issue.  I'll work on it.

In the meantime you can close next by closing all its windows.

[2018-12-25 19:08] eubarbosa commented on #178
Good to know!

Exactly a list of avaialable bindings but its up to you all! :+1:

[2018-12-26 10:47] jmercouris commented on #153
@vindarel any updates on this?

[2018-12-26 11:32] Ambrevar commented on #182
I found a way to reproduce (assuming it's the same issue): keep
pressing "C-g", Next should hang immediately.

@jmercouris: does it work for you?

@Dav1d23: can you reproduce?

[2018-12-26 12:38] jmercouris commented on #182
@Ambrevar that's what I meant when I said I can spam "C-g" without it hanging. I can continuously press it. I suspect, that probably what the issue is in WebKitGTK it doesn't like if there is more than one javascript request evaluating from the Lisp Core at once.

[2018-12-26 12:54] Ambrevar commented on #179
I misunderstood the initial request: I thought that @eubarbosa meant that the defalut selected buffer should be the "other one".

At the moment, with two buffer, `C-x b` will always default-select the same buffer.  It would be convenient if we could just press `C-x b RET` to always switch back to the other buffer.

[2018-12-26 12:57] Ambrevar commented on #180
@eubarbosa: Why did you close the issue, is this solved for you?  I'm still planning to fix it! :)

[2018-12-26 12:59] eubarbosa commented on #179
Or, C-x b SPACE?

[2018-12-26 13:00] eubarbosa commented on #180
Nah, I thought it was irrelevant as you said to be aware of this issue! :+1:

[2018-12-26 13:07] Ambrevar commented on #180
No, it is relevant, Next should close properly with `C-x C-c`.

[2018-12-26 13:22] jmercouris commented on #179
The thing with the buffer order is that it is based on the buffer creation order and not on last access. We aren't using a stack or anything like that (which would recreate Emacs default behavior), since it is basically just the hash-table values dumped by Alexandria. We could compose a data structure that combines the two to reproduce this kind of behavior (the re-ordering of the buffers).

[2018-12-26 13:35] easbarbosa opened #183 "Next do not remember last position of a just visited page"
Hi, As we go back in history (c-b), most browsers recall the last position of the just visited page the user was reading.

Next seems not be able to do it or it's a bug!

:hamster:

[2018-12-26 14:00] Ambrevar commented on #183
I think this has to be implemented explicitly, it just hasn't  been done yet! ;)

[2018-12-26 14:47] jmercouris commented on #68
This has now been officially implemented and is available in the latest release! :)

[2018-12-26 14:47] #68 closed

[2018-12-26 14:48] jmercouris commented on #40
hi @anhluong156 I'm sorry for the huge delay, but this finally works :)

thank you for your patience!

[2018-12-26 14:48] #40 closed

[2018-12-26 14:51] jmercouris commented on #183
@Ambrevar you are correct

[2018-12-26 14:54] jmercouris commented on #68
please let me know if you experience any further issues and feel free to re-open the topic, thank you!

[2018-12-26 15:43] jmercouris commented on #40
if you encounter any issues, please do not hesitate to re-open this issue! thanks!

-John

[2018-12-26 16:47] BonfaceKilz opened #184 "Next freezes in EXWM"
I tried out Next from a the Emacs subreddit when someone suggested that it would be a nice fit to EXWM's environment. Next freezes(there's a blank screen) whenever I try to follow a link. I have downloaded Next from ArchLinux's AUR repositories. Any help fixing this would be highly appreciated.

[2018-12-27 10:39] Ambrevar commented on #184
Can you run `M-x NEXT-VERSION` and report the result?

I also use EXWM and it works fine by me.  Can you share an offending website and the link
on which you click that make Next go blank?

[2018-12-27 11:04] Dav1d23 commented on #182
The best way to reproduce it right now is:
* C-l www.google.com
* M-x
* PageUp PageDown PageUp PageDown PageUp PageDown PageUp PageDown
* press delete to clean the minibuffer

BTW, I tried again and just C-g a couple of time (fast) on the next quickstart page did the job.

[2018-12-28 06:11] BonfaceKilz commented on #184
The Next version I'm using is: Version 1.2.0-7a62fa2

The blank page appeared from the QuickStart guide when I tried to open the user manual link. In the morning, the issue was still there, but now (tbh I have no idea what has changed) links are working. Imo this is weird. Is there a way that Next logs errors in some log file?

[2018-12-28 07:50] Ambrevar commented on #184
Next logs errors in /tmp/next-$USER/next-gtk-webkit.log.

I've experienced this issues a few times but only very rarely.
This might be the same as #182.

@jmercouris, thoughts?

[2018-12-28 08:10] jmercouris commented on #184
maybe the page isn’t loading because of your internet, does the minibuffer ever appear and say “loading”? or does it just stay the same?

[2018-12-28 09:44] Dav1d23 commented on #182
Here are some logs

`** Message: 10:43:17.883: XML-RPC message: PUSH-KEY-EVENT (keycode, keyval, modifiers, window id) = (42, 'g', ['C'], '0')
** Message: 10:43:17.888: XML-RPC message: CONSUME-KEY-SEQUENCE, window id 0
** Message: 10:43:17.894: Method name: window.active
** Message: 10:43:17.894: Method parameter(s): 0
** Message: 10:43:17.897: Method name: window.set.minibuffer.height
** Message

[2018-12-28 11:00] BonfaceKilz commented on #184
I've restarted Next and it's frozen. @jmercouris  I don't the problem is the internet. Next has been frozen for the past 10 minutes now. Here's the log:

[code]

[2018-12-28 23:16] jmercouris commented on #182
sorry, touchscreen caused me to accidentally close issue

[2019-01-04 21:35] PlasmaShift opened #185 "Abilty to hook into other tools for downloading and other stuff"
I nice feature that I don't really see that would be nice to see is the ability to hook into other projects for more flexability / performance enhancements. An Idea for downloads would be something similar to https://addons.mozilla.org/en-US/firefox/addon/aria2-integration/ using aria2 for speed performance and https://github.com/mayswind/AriaNg for the UI. This shouldn't exclude the reason to hav

[2019-01-04 22:31] jmercouris commented on #185
@PlasmaShift this is an interesting idea for consideration! Thank you for bringing it up! When designing how the download manager will work, we’ll try to think of how we can make it extensible and connectible with other tools. After all the “EXT” in “nEXT” used to stand for “extension” :D

[2019-01-04 22:33] jmercouris commented on #185
@PlasmaShift on a completely unrelated note, but since I have no other way of contacting you, I remember that you were one of the first people to star the project. How has your experience been with Next? have you had a chance to try it out?

[2019-01-04 23:03] PlasmaShift commented on #185
A little bit on my thinkpad using guix, maybe an hour so far and only on stock settings. Mostly I am keeping an eye on it. At the moment I don't have a linux computer my thinkpad got water damage :( so I have to bring up my desktop on linux or bsd, don't think bsd has guix support though.

But so far I like it just rough around the edges

[2019-01-04 23:41] jmercouris commented on #185
That would be actually very interesting to know if you can get it to compile on BSD, it should work, and you should be able to build it rather easily from source, not using guix or anything

[2019-01-05 10:59] Ambrevar commented on #185
Generally speaking, Next can be plugged onto any program since it's a full-blown
Common Lisp program.  For instance, you can use `(uiop:run-program ...)` from
the user configuration file.

Regarding download management, I can imagine the following implementation:  the
download buffer would display a list of downloads in progress, and each download
uses a specific download source (HTTP, torrent, et

[2019-01-07 17:07] BonfaceKilz commented on #184
@Ambrevar and @jmercouris I've started reading the code base(I'm getting into CLisp), and I noticed that there are zero tests. How do you guys test the browser?

[2019-01-07 18:38] jmercouris commented on #184
We test the browser manually. It is changing too much to write significant test cases. When we hit a more solid API we’ll write some tests.

[2019-01-10 23:34] eubarbosa opened #186 "Copy links hint"
Hi,

An early Firefox extension called [Vimfx](https://github.com/akhodakivskiy/VimFx) had a cool feature that instead of jump to links hint offers to copy hints URL.

Eg:

- Ctrl-g (display links hints)
- hit Ctrl-g again
- as we type link hint number it just copies its URL and close NExt mini buffer!

[2019-01-11 00:11] jmercouris commented on #186
Hi, thank you for your interest and feature suggestion! This feature already exists, as

COPY-ANCHOR-URL

which you can invoke by M-x, or `C-x C-w` or by binding it to another binding of your choice.

[2019-01-11 01:07] eubarbosa commented on #186
Wow, That is awesome! Thanks!

[2019-01-11 04:42] spiderbit commented on #184
I also have much crashes with exwm/next especially if I try to follow a link with C-g

not sure that helps.

[2019-01-11 09:04] Ambrevar commented on #184
I think this is #182 and I don't think EXWM is related to this.

Why do you think it freezes in EXWM in particular?  Have you tried without EXWM?

[2019-01-11 11:36] spiderbit commented on #184
Yeah sorry didn't test it outside exwm yet, will do that. But in the linked bug there is talk about spamming a key comb, I only try 1 C-g and it loads a white screen instead of the page selected.

[2019-01-11 11:42] Ambrevar commented on #184
From which page and on which link?

[2019-01-23 02:16] azazel75 commented on #146
@GrafBlutwurst do you have anything to share, even just half baked?

[2019-01-25 07:42] GrafBlutwurst commented on #146
@azazel75 I'm very sorry for the late response. I tinkered around with it for a couple days but ultimately capitulated because I couldn't get sbcl with the dependencies correctly set up as part of a nix build. So I really don't have anything actionable but would be very happy to help as I at least found out how to get next to run on nixOS.

However you can find what meager stuff I tried on my fork

[2019-01-25 16:58] spiderbit commented on #184
Every page / every link or most.

[2019-01-26 12:33] pvinis commented on #173
What did you find out in the investigation?

[2019-01-26 15:32] pvinis commented on #173
Interesting. Looking forward because I'm curious about the solution. This project seems very nice. Also feels very weird for an application to crash but just pressing an arrow, so that made me even more curious about that actual code would be needed.

Thanks for your work and good luck with the project! I will keep trying it and I can't wait for the fix :D

[2019-01-28 15:15] GrafBlutwurst commented on #146
but now with the released guix package I might give this another crack and just depend on it. that should be far easier

[2019-02-05 19:07] Profpatsch opened #188 "Is there Sandboxing?"
Searching through the github repo, I can’t find any mentions of the word “sandbox”.

Sandboxing is a pretty important feature of modern browsers, preventing the Javascript code of one tab to access another, or to access e.g. the file system.

Is there sandboxing in NEXT, comparable to other mainstream browsers (Chromium, Firefox), and if so, what are the security guarantees compared to those brows

[2019-02-05 19:18] Ambrevar commented on #188
Sandboxing is coming to WebKitGTK.
(https://webkitgtk.org/2018/11/22/webkitgtk2.23.1-released.html.)

I think the macOS version already has sandboxing.  @jmercouris ?

Another way to go on GNU/Linux / *BSD would be that package maintainers sandbox
the next-gtk-webkit executable.  This would probably scale better than having
all security sensitive programs re-inventing their own sandboxing every ti

[2019-02-05 19:53] jmercouris commented on #188
macOS, indeed has sand boxing, ditto on what ambrevar said about regarding webkitgtk

[2019-02-15 15:26] mardukbp opened #189 "Use the webview library instead of writing platform ports"
The [webview](https://github.com/zserge/webview) library is cross-platform and uses the native web renderer in macOS, Windows and Linux.

Thank you so much for this project! I have been dreaming of a browser like this for a long time.

[2019-02-15 15:44] mardukbp opened #190 "Use Go instead of C"
Go has built-in XML and RPC libraries, there is a [UI library](https://github.com/andlabs/ui/) with native bindings for macOS, Windows and Linux, there is a [JavaScript compiler](https://github.com/gopherjs/gopherjs), it has bindings to the [webiew](https://github.com/zserge/webview) library, and it makes it really easy to [deploy](https://goreleaser.com) cross-platform applications.

[2019-02-15 15:47] jgkamat commented on #189
On February 15, 2019 7:26:42 AM PST, "Marduk Bolaños" <notifications@github.com> wrote:

I don't see the advantage of this library over using webkitgtk directly, it seems to use webkitgtk itself.
--
Sent from my Android device with K-9 Mail. Please excuse my brevity.

[2019-02-15 15:52] mardukbp commented on #189
It uses webkitgtk only on Linux. In my view, it frees the Next devs from maintaining the bindings to the rendering engines of each platform, which gives them time to write more Lisp :)

[2019-02-15 16:01] jgkamat commented on #190
On February 15, 2019 7:44:45 AM PST, "Marduk Bolaños" <notifications@github.com> wrote:

Where is the C code that will be replaced?

--
Sent from my Android device with K-9 Mail. Please excuse my brevity.

[2019-02-15 16:10] mardukbp commented on #190
In the ports directory there are C headers interacting with C libraries.

Don't get me wrong. I just think that Go has got everything that Next needs and it could simplify the development.

[2019-02-15 18:13] Ambrevar commented on #190
I guess this could work.  I'm still not completely sure we would really benefit from it, as "Go-over-webview-over-[webkitgtk|whatever]" would add a significant layer of complexity.

Anyways, it would not cost much to write a "Go platform port" as it would work side by side with the current ports.  @mardukbp: Would you like to propose a patch?

[2019-02-16 13:06] jmercouris commented on #189
an interesting idea to look into, however we were also planning on a pyqt platform, what are some reason we might choose this over pyqt?

[2019-02-16 20:40] noloop opened #191 "How does the Next deal with the videos and audio HTML5?"
I'm looking for the project, it attracted me a lot, in time I'm looking for a simple and customizable browser. So I downloaded the Next, I liked it a lot, but he did not open the videos, I get the message:

"Your browser does not currently recognize any of the video formats available."

I do not know if something is wrong here or the Next can not see videos. I wonder if the Next supports videos an

[2019-02-17 00:21] jmercouris commented on #191
hi @noloop thank you for your interest in the project! Did you make sure that you have all of the dependencies for Linux installed? Did you install from source? There are options dependencies for video codecs. A little more information about your set-up could help us debug this issue! thank you :)

[2019-02-17 00:28] noloop commented on #191
I'm on Void Linux, I downloaded this link:

https://next.atlas.engineer/static/release/next-linux-gtk-webkit.tar.lz

So it is possible that some codecs are missing, which ones should I have? or is it already included in the unzipped "gnu" directory?

[2019-02-17 11:02] Ambrevar commented on #191
This is a known issue with Guix and its `gst-*` packages.  I'll get down to fix it as soon as possible.
In the mean time @noloop you can compile Next following the instructions in the [developer's README](https://github.com/atlas-engineer/next/tree/master/documents).

A Void Linux package would also be neat :D

[2019-02-18 10:54] mardukbp commented on #189
IMHO, using PyQt amounts to adding a lot of complexity on top of Chromium, which sits at the core of the QtWebEngine module. I would say that the platforms should be the web engines themselves: WebKit, Blink (through the Chromium Embedded Framework), MSHTML/Trident, Gecko-Quantum.

webview uses native windows and provides bindings to Cocoa WebKit, GtkWebKit and MSHTML. The minibuffer can be implem

[2019-02-18 11:14] mardukbp commented on #190
On the bright side, webview is a single-header library that provides an interface to the native rendering engine of the three major operating systems. Plus, the Go bindings are officially supported. I really think it would be a good match for Next. I will work on it in my free time and let you know.

[2019-02-18 11:47] jmercouris commented on #189
The mini buffer is already implemented with JavaScript inside the window. However, for reasons of sandboxing, it is a completely separate web view. Why? Because we wish to be able to invoke Lisp code directly when the user clicks on something within the minibuffer. Could we get this same level of security if we were using an embedded JavaScript minibuffer within the main window? I don't believe so

[2019-02-18 13:11] mardukbp commented on #189
You are right. What I really meant is that the minibuffer does not need List widgets from Qt or Gtk. That kind of UI can be implemented with JS. The windows can be provided by the cross-platform [UI library](https://github.com/andlabs/ui) for Go, which uses native widgets.

[2019-02-18 14:06] jmercouris commented on #189
I'm not sure I understand what you are saying, can you please clarify? We would or would we not use a separate webview?

[2019-02-18 14:23] mardukbp commented on #189
Yes. I agree with you that they are necessary for security. I am just saying that one could avoid using big GUI toolkits just to get a window with two panels.

[2019-02-18 16:45] mardukbp commented on #189
After doing some research and thinking about it, I concluded that it is better to stick to what you have now, which coincides with my idea above: the platforms should be the web engines themselves. Wrappers reduce flexibility. And webview is meant for developing SPA in JS.

I leave it up to you to close this issue or leave it open just to remember that webview exists. It should provide some hints

[2019-02-18 17:00] mardukbp commented on #190
I have been thinking that the XML-RPC client-server infrastructure should be independent from the rendering engines. As stated in the README of the `ports` directory, it is the bridge between Lisp and the ports. Therefore, it should be a common component living in a separate directory. And I think that go is the right tool for the job.

What do you think?

[2019-02-18 19:48] drysdam opened #192 "'make all' on Debian 9 fails"
[output.txt](https://github.com/atlas-engineer/next/files/2877193/output.txt)

[2019-02-18 21:46] Ambrevar commented on #192
Hi @drysdam, this is an issue with SBCL (and many other libraries) being heavily outdated on Debian 9.  In particular, WebKitGTK is quite old on Debian which can is most critical, considering the speed at which web renderers evolve.
You need at least Debian Testing (or Unstable?) to compile Next.

[2019-02-18 21:48] Ambrevar commented on #192
Alternative, if updating/re-installing your system is not an option, you can consider installing [Guix](https://guix.info): it works side to side with your current system and allows you to install a whole bunch of (mostly up-to-date) packages, including Next.

[2019-02-19 12:13] jmercouris commented on #190
If I am understanding correctly, the XML-RPC should have a middleware between the Lisp Core and a Platform Port? Why? Could you please clarify the logic behind adding another layer to the stack?

[2019-02-19 12:38] Ambrevar commented on #189
I find it interesting, actually.  It might be better than the python/qtwebengine approach, but I'd need to have a closer look at `webview` to make sure.

[2019-02-19 13:01] mardukbp commented on #190
No, I am not suggesting to add a new layer. What I am saying is that the XML-RPC client-server coupled to the ports could be factored out. As I see it, this component is platform-independent, but it interacts with platform-specific GUI and web renderers.

What I have in mind is a modular design in which each port consists of a GUI, a web view, and an implementation of the `port` interface. The XML

[2019-02-19 13:33] mardukbp commented on #189
Well, I wouldn't discard a Chromium port. That is actually a cross-platform web renderer. And, [apparently](https://github.com/cztomczak/cefpython), PyQt could provide an easy route to implementing it.

[2019-02-19 15:32] Ambrevar commented on #190
The XML-RPC component in the platform port is tightly coupled with the underlying web renderer.  There is almost no platform independent code at all.  Or did I misunderstand what you meant?  Maybe you can provide a concrete code example?

[2019-02-19 16:52] mardukbp commented on #190
I know that. The question is whether that is really necessary or a good idea. The goal of Next is to provide a web engine-agnostic emacsy web browser. Therefore, it is important to distinguish which parts are platform-agnostic and which are platform-specific.

For example, the list of buffers and the minibuffer as data structures are common to all platforms. However, their visual representation wi

[2019-03-02 13:18] Kunderscore commented on #152
same here, would appreciate if a bigger font size can be set

[2019-03-09 21:59] peterohanley commented on #173
I was curious and it also crashes if you hit the arrow keys just on a webpage.

[2019-03-09 22:08] jmercouris commented on #173
depends on if the web page frame is in focus or not :)

[2019-03-16 22:09] leungbk opened #193 "Help installing from source and connecting with SLIME/SLY"
`make all` doesn't seem to work for me; my full compile log is here: http://paste.debian.net/1073423/

[code]

seems to be where things first start to go awry.

Related question: I'm having trouble getting SLIME and SLY to work with the Swank server using a Guix-managed installation of Next (from the provided .scm recipe). After hitting `C-h s` (it seems there's a typo in the manual) in Next to st

[2019-03-17 07:11] Ambrevar commented on #193
I assume your are using Guix System.

For sqlite: the errors occurs because in Guix libraries are not found in the
traditional locations.
There are a bunch of options.  You can either

- Install sqlite to your user profile and set the following in your `~/.sbclrc`:

[code]

- Or get the location of the sqlite lib with

  $ guix build sqltie

then add this to the cffi:*foreign-library-directories*

[2019-03-17 08:22] leungbk commented on #193
Thanks for your response! I'm still getting a similar error though. http://paste.debian.net/1073451/

Strangely enough, `("libsqlite3.so.0" "libsqlite3.so")` are both in `~/.guix-profile/lib`, but neither will get loaded. I've also tried the second approach of pushing the executable location directly.

[2019-03-24 13:12] FrozenPigs commented on #182
This is what I can get by spamming C-g:
[code]

[2019-03-24 15:12] jmercouris commented on #182
Hi, firstly, thank you for the detailed logs. It seems to me that S-XML-RPC is sending malformed XML-RPC. We'll have to take a look at the raw request to verify this.

What is interesting though is that somehow something happens and then there exists a buffer without a mode? I wonder how that is possible...

[2019-03-26 15:00] vindarel commented on #153
I upgraded my Debian system and the installation worked smoothly, so I am not working on this Docker image anymore. Closing.

[2019-03-26 15:00] #153 closed

[2019-03-26 22:38] FrozenPigs commented on #182
On that point I am using exwm so could be related to #184 in some way.

[2019-03-27 17:28] Ambrevar commented on #184
I've tried using Next without EXWM (with StumpWM), and I can reproduce the hangs / crashes.  I don't think that EXWM has anything to do with this issue.

[2019-03-27 17:29] Ambrevar commented on #182
I've tried using Next without EXWM (with StumpWM), and I can reproduce the hangs / crashes.  I don't think that EXWM has anything to do with this issue.

[2019-03-29 00:03] ryukinix opened #194 "How to fix this giant status bar to be more-like a mini-buffer?"
![](https://imgur.com/E0NUhuQ.png)

[2019-03-29 01:28] bradjcheme commented on #194
For what it's worth if you hit `C-f' it will go away.

[2019-03-29 10:34] ryukinix commented on #194
Thanks @bradjcheme! That's a nice workaround, i'll use. However, do you know how to limit the height of this pane for the moment that is recreated?

[2019-03-29 16:20] jmercouris commented on #194
This is an implementation problem with the webkit-gtk port and I do not know if it can be fixed without updating the webkit-gtk port. It is on our radar though! You can also type in `C-x q` to dismiss the echo area.

[2019-03-29 21:39] ryukinix commented on #194
Good news! o/ at leasting is not only in my machine. Thanks for the nice reception and info.

This project it's incredible. I really afford it. I hope I can contribute with something oneday, I have some Common Lisp experience but not that much.

[2019-04-09 16:38] timmyjose commented on #190
@mardukbp I still don't get what would be the actual benefits of using Go specifically in lieu of the existing C, even given the architecture you have in mind.  Could you elaborate?

[2019-04-12 10:02] sandersantema commented on #87
Any updates on this?

[2019-04-12 10:53] jmercouris commented on #87
Nothing to report yet, sorry! We are actively working on some more architectural changes, this is on our radar though- as soon as we finish the tasks from our first campaign.

[2019-04-13 16:51] sivark opened #195 "A question about workflow"
Thanks for a very interesting browser concept!

This is more in the spirit of a workflow question, and possibly feature requests, rather than an issue. Feel free to redirect to a more appropriate place.

----

I seek more control and deliberation in the way I interact with the information I'm accessing through my browser. As a start, I would like to manage my tabs programmatically (by performing o

[2019-04-13 17:50] Ambrevar commented on #195
Thanks back!

Long story short: yes, this is very much the mindset of Next!

Some of those ideas are already possible, at least from the REPL.
The user interface is still at a very early stage of development
however, so for now not much of it is possible without significant
work on the Lisp side.

Note that in Next terminology, "tabs" are "buffers" :)

Some things I'd like to see implemented, hope

[2019-04-14 06:26] sivark commented on #195
Thanks for the prompt response and useful suggestions.

I like the sound of this!

I haven't really programmed with Common Lisp or used Emacs much, but I've played around a little with Racket, so I'm absolutely happy to get my hands dirty with Lisp in a REPL, and start learning.

Concretely, IIUC: To access the BUFFER class and the BUFFERS slot in the REMOTE-INTERFACE class in a REPL, I need to se

[2019-04-14 07:05] Ambrevar commented on #195
Great to see you getting started!

And yes, you understood correctly! ;)

Regarding your issue, please report

- Your Common Lisp compiler and its version
- Your version of Emacs and SLIME

The backtrace shows that SLDB cannot be invoked properly, so there is
mostly likely an issue with your SLIME installation, or with the AUR
package.

You could try the following:

- Use vanilla Emacs and install

[2019-04-19 08:09] Ambrevar commented on #85
Actually, I disagree with point 1: building the documentation into the browser means it matches the browser version and is not out-of-sync.

Regarding 2, the build step:
- What about generating all the documentations programmatically e.g. from the docstrings, etc. à-la Emacs?
- Else we would need to snarf the Org files.  Either at build time by first using pandoc to bake the HTMLs into the executa

[2019-04-19 08:28] Ambrevar commented on #173
@jmercouris : Is this fixed now?

[2019-04-19 08:29] Ambrevar commented on #174
Also see #55.

[2019-04-19 08:31] Ambrevar commented on #192
Closing.  Feel free to re-open if there is anything else.

[2019-04-19 08:31] #192 closed

[2019-04-19 08:35] Ambrevar commented on #181
Oops!  Looks like this slipped under my radar...  Sorry about that.
Cookies should be stored properly with Next 1.2.0 onwards.
Make sure that no Next process is already running, i.e. kill everything then restart it.

Regarding your last issue, this will be fixed in the upcoming release.

[2019-04-19 08:35] Ambrevar commented on #181
(Closed accidentally.)

[2019-04-19 08:41] Ambrevar commented on #193
Have you managed to fix this?  Can you share your `.sbclrc`?
Sorry, the above paste.debian.net is gone.  Can you post it here?

[2019-04-19 10:34] jmercouris commented on #173
Yes, all good (not fixed in binary yet though, hasn’t been recompiled yet)

[2019-04-19 21:48] leungbk commented on #193
I had an unrelated issue that I fixed just now, and everything seems to work. Thanks for your help.

[2019-04-20 08:30] Ambrevar commented on #193
Great!  Feel free to try out the latest version on master if you feel like experimenting a bit, loads of changes are going to land soon! :)

[2019-04-20 16:30] peterohanley commented on #173
I can confirm it doesn't crash. As a bonus, the arrow keys even work!

I'll close this when the release is updated or you can close it now of course.

[2019-04-22 05:54] sivark commented on #195
Thanks for that suggestion @Ambrevar !

I managed to get the Slime/Swank connection working by [running Next from source](https://github.com/atlas-engineer/next/tree/master/documents#run-from-source)
(still using spacemacs, so that doesn't seem to be a dealbreaker, for anyone who comes across this later).
So it's probably something with the AUR package being dated. Thanks for that suggestion.

Now

[2019-04-22 11:28] Ambrevar commented on #195
Thanks for the feedback!

- AUR package: I wrote it, but I don't use Arch Linux anymore and I
don't have easy access to it, so I'm afraid I won't maintain it just as
well as the Guix packge for instance.  If you are up for it, you could
adopt it and fix it if there is any issue.  I'd be happy to help if you
have any question of course.

- Hacking example: yes, this is exactly how you do it!  This

[2019-05-04 19:02] alexherbo2 opened #202 "How to load JavaScript? (With bookmarklets?)"

[2019-05-04 20:16] jmercouris commented on #202
You can take a look at the `define-parenscript` macro which you can use. It is used several times in the codebase, you can then wrap it in a `define-command` to invoke it interactively. If you like I can expand upon it more.

[2019-05-04 21:36] Ambrevar commented on #202
By the way: currently keys can be bound to any function, not just command.
Should we restrict keys to commands just like in Emacs?

[2019-05-04 23:48] jmercouris commented on #202
I don't think we need to make this distinction between (interactive) and not like Emacs does. I can't think of a good reason to do it really (except for maybe enforcing the existence of docstrings for commands or something).

[2019-05-05 02:17] alexherbo2 commented on #202
Can you show me how to source a file and execute a function from a key-binding?

[2019-05-05 06:59] Ambrevar commented on #202
@jmercouris: Off the top of my head, some good reasons:
- Interactive functions cannot take arguments (at least for now), so restricting bindings to argument-less commands is a way to ensure the bindings won't be broken.
- Some functions are inherently too low-level to be called interactively.  Commands can be seen as a way of telling the user "this can be used as a bingind" while other functions

[2019-05-05 07:06] Ambrevar commented on #202
@alexherbo2: You can load a file with

[code]
It must be a valid Common Lisp file.
Example:

[code]

The documentation is in the process of being updated, stay tuned! :)

[2019-05-05 13:55] alexherbo2 commented on #202
@Ambrevar I mean how to source a JavaScript file in the context of web pages, and execute a JavaScript function from a mapping.

[2019-05-05 14:59] jmercouris commented on #202
Hi @alexherbo2 , do you mean something like the following?

[code]

You would then create a command to invoke that parenscript.

[2019-05-05 15:05] jmercouris commented on #202
@Ambrevar that is a good point. If a function accepts arguments it can't exactly be called interactively- YET! What if we had interactive functions that can accept argument values by prompting the user for the value of each argument?

E.g. weI could write something like

[code]

then when I M-x "scroll-down", I would get a prompt in the minibuffer like "Distance?"

[2019-05-05 19:24] Ambrevar commented on #202
@jmercouris: Yes, we could prompt for the arguments.  This would require
a bit of work though, I'm not sure if it's possible to introspect the
function arguments in Common Lisp.

Something to keep on the table for sure.

Anyways, for now I've pushed a commit turning all commands to mode
methods, and as such bindings can only execute methods on modes now.
We can still change this behaviour later.

[2019-05-05 21:02] jmercouris commented on #202
@ambrevar fantastic! agreed

[2019-05-06 20:39] easye commented on #202
There is indeed no portable way to inspect function arguments.

q.v. https://stackoverflow.com/a/8363279/450422

[2019-05-06 22:55] jmercouris commented on #202
So, the define-command macro needs to become more sophisticated, and then we have a class to store the meta data :D

[2019-05-06 23:46] alexherbo2 commented on #202
@jmercouris Can you give me some concrete examples?

[2019-05-07 00:03] alexherbo2 opened #203 "Add a tutorial for non-Lisp users"
With meaningful examples.

[2019-05-07 00:04] alexherbo2 opened #204 "Add a document to interact with JavaScript"

[2019-05-07 00:07] jmercouris commented on #204
I would be willing to extend the documentation, but not add a document specifically about dealing with JavaScript interaction. I am however willing to listen to any rationale for why adding a document specifically about JS only would be advantageous.

[2019-05-07 00:19] alexherbo2 commented on #204
Can we talk on [IRC]?

[IRC]: https://webchat.freenode.net?channels=nEXT-Browser

[2019-05-07 07:05] Ambrevar commented on #203
It's a good idea!

I'll work on it, but eventually I'd like to have it all "embedded and
discoverable".

For instance, we could have a generic "help" command, and one of the
topics could be "Lisp" (or "config" or "init.lisp") and this would
prompt a page with a crash course, some examples and some links to more
documentation (e.g. Practical Common Lisp).

Thoughts?

[2019-05-07 09:13] latiagertrutis opened #205 "No column "visits" in typed table"
I was getting this error when running next (compiled from source in Manjaro 18.0.4):
[code]

I added the column manually and it works fine:
[code]

Just a little report, keep it up and kind regards.

[2019-05-07 09:22] latiagertrutis commented on #205
Hmmm, probably this was caused because was previously installed from Arch AUR repository, and the table created with this AUR version was not updated and did not contain visits.

[2019-05-07 09:39] Ambrevar commented on #205
Thanks for reporting.

I had taken provisions for updating the history database to include the
new "visits" field, but it seems that in your case it didn't work.

Did you solve the issue?  How?

[2019-05-07 10:10] latiagertrutis commented on #205
The point is that before compile it from source I installed it from the [AUR](https://aur.archlinux.org/packages/next-browser-git/) repository (not updated since 2018-12-20) so when executed this binary it generated a table that I assume that has a different format from the new version of your git repository, so when launched the binary compiled from the git, it detected that the DB was already cr

[2019-05-07 10:27] Ambrevar commented on #205
I understand.  But the latest versions should add the "visits" column
automatically to an existing history database.  We must obviously be
doing this wrong :p

Do you know a bit of Common Lisp?
If so, you can have a look at `%initialize-history-db` in `history.lisp`
if you can spot the problem.

[2019-05-07 11:37] latiagertrutis commented on #205
I started learning Common Lisp a few days ago, but I'll be glad to help if you are not in hurry for this point.

[2019-05-07 13:10] easye commented on #205
@Ambrevar I ran into the same problem this morning trying to run `master`.  I saved a copy of the database that refused to update if you would like to diagnose it.

[2019-05-07 13:30] Ambrevar commented on #205
Sure, feel free to send it to me, I'll have a look.
Do you have any idea what could cause the issue?  (It could be my
misunderstanding of SQL, I'm not very good at it.)

[2019-05-07 13:37] easye commented on #205
Sent via email.

[2019-05-07 14:20] Ambrevar commented on #205
Fixed on master!
Thank you @latiagertrutis and @easye!

[2019-05-07 14:20] #205 closed

[2019-05-07 14:41] alexherbo2 commented on #203
I can understand the examples, but not in the details, and I’m lost to know where a particular function comes from.  Is Common Lisp, Next or a package?

There is a ton of functions and wording in the function names themselves.  When I have to write something myself, I have the feeling to not know which is the right function to use, and the idiomatic way to do things.

A good starting point could b

[2019-05-07 14:56] jmercouris commented on #203
I'm not sold on the idea of a "Common Lisp for JavaScript Developers" document. The programming languages are very different. Furthermore, we would have to write a document for every popular programming language. I believe this is a large task, and outside of the scope of Next :(

I do think there is a good middle ground though: I can recommend many great resources on learning how to write Common

[2019-05-07 15:03] alexherbo2 commented on #203
I would like to hear the thoughts of other users as well.

Personally, I still think it makes sense, because JavaScript is the primary language to interact with the DOM.

[2019-05-07 15:05] jmercouris commented on #203
There is no javascript anywhere in the codebase, we are only using parenscript. Please see the following URL for more information: https://common-lisp.net/project/parenscript/

[2019-05-07 15:09] Ambrevar commented on #203
Well, I won't lie: if you want to hack Next, you'll need to know some
Common Lisp :) (See below for a recommendation.)  If you've never hacked
in a Lisp language before, this can be a little demanding at first.  But
once you've acquired the basics, much of it will become straightforward.

Lisp languages, by their very nature, are heavily interactive.  In other
words: the code is much easier to exp

[2019-05-08 17:51] Ambrevar commented on #64
Proxy support has been added to Next 1.2.1.  You can try it out with the `%toggle-proxy` command (experimental, it will probably be replaced with a mode in the future).

Note that proxy is only support with gtk-webkit for now.  We plan to switch the macOS version to using qtwebengine in a coming release.

Feel free to re-open if you have any question or issue with the implementation.

[2019-05-08 17:51] #64 closed

[2019-05-08 17:51] Ambrevar commented on #76
@vindarel : Do you think we could get a .deb for Debian testing?

[2019-05-08 17:51] Ambrevar commented on #76
(Now that 1.2.1 is out?)

[2019-05-08 17:52] Ambrevar commented on #82
This should be fixed in Next 1.2.1.  Feel free to re-open if you still experience the issue.

[2019-05-08 17:52] #82 closed

[2019-05-08 17:53] Ambrevar commented on #84
@jmercouris: Is this still an issue?

[2019-05-08 17:53] Ambrevar commented on #90
This should be fixed in Next 1.2.1.  Feel free to re-open if you still experience the issue.

[2019-05-08 17:53] #90 closed

[2019-05-08 17:56] Ambrevar commented on #102
For point 2., you can delete the file stored in `XDG_DATA_HOME/share/next/cookies.txt` if you are on GNU/Linux.

For point 3., I hope to implement proper VI-style bindings soon.  See issue #28.

[2019-05-08 17:57] Ambrevar commented on #110
Now that we have full network interception, maybe we should add some helper functions / modes to help defining the behaviour of Next when hitting a bad certificate.

[2019-05-08 18:01] Ambrevar commented on #138
Next does not support Debian stable and older (I've made sure to mention it in the README) so I'm closing this.

[2019-05-08 18:01] #138 closed

[2019-05-08 18:05] Ambrevar commented on #145
This has been implemented in 1.2.1 (thanks to @FrozenPigs)!  You can now change the default search engines (duckduckgo and wikipedia).  To add new search engines:

[code]

Later I plan to merge the search engine feature with bookmarks.  See #79 for more details.

[2019-05-08 18:07] Ambrevar commented on #146
Next 1.2.1 is out!  @GrafBlutwurst: Interested in giving this another spin? :p

[2019-05-08 18:08] Ambrevar commented on #150
@azzamsa : This is now possible in Next 1.2.1!  There is now high-level command for now, but all network resources are intercepted and can be filtered from the Lisp side.  I will work on something like a "no-image mode" soon!

[2019-05-08 18:08] Ambrevar commented on #160
This should be fixed in Next 1.2.1. Feel free to re-open if you still experience the issue.

[2019-05-08 18:09] #160 closed

[2019-05-08 18:09] #173 closed

[2019-05-08 18:09] Ambrevar commented on #173
This should be fixed in Next 1.2.1. Feel free to re-open if you still experience the issue.

[2019-05-08 18:10] Ambrevar commented on #180
This should be fixed in Next 1.2.1. Feel free to re-open if you still experience the issue.

[2019-05-08 18:11] Ambrevar commented on #181
This should be fixed in Next 1.2.1. Feel free to re-open if you still experience the issue.

[2019-05-08 18:11] #181 closed

[2019-05-08 18:11] Ambrevar commented on #182
This should be fixed in Next 1.2.1. Feel free to re-open if you still experience the issue.

[2019-05-08 18:11] #182 closed

[2019-05-08 18:11] Ambrevar commented on #184
This should be fixed in Next 1.2.1. Feel free to re-open if you still experience the issue.

[2019-05-08 18:11] #184 closed

[2019-05-08 18:12] Ambrevar commented on #191
This should be fixed in Next 1.2.1. Feel free to re-open if you still experience the issue.

[2019-05-08 18:12] #191 closed

[2019-05-08 18:17] jmercouris commented on #84
Yes, this is still an issue, and a bit difficult to solve. You
can however open local files now using file:// syntax

[2019-05-08 23:37] azzamsa commented on #150
@Ambrevar Failed to compile latest source. I run `make all` and this is what I get, with no '/ports/' and 'next' produced.

[code]

[2019-05-09 03:11] joseph8th opened #206 "Search engine only works when installed as root (Linux w/ guix install)"
Love this project. Noticed that the search engine redirect (i.e., `C-l` > "s search something") only seemed to work when I did `sudo guix install sbcl-next`. If I installed as user, it would not redirect the search. If I did `M-l` first, I just got `about:blank`. With `C-l` it just concats my search string, including the initial "s", to the end of the current URL.

I ran it in the terminal, and go

[2019-05-09 08:40] seagle0128 opened #207 "Error: cocoa-webkit quit unexpectedly"
![image](https://user-images.githubusercontent.com/140797/57439658-10348f00-7279-11e9-9fee-e59461d38203.png)

[code]

[2019-05-09 08:58] jmercouris commented on #207
Were you perchance opening a new window?

[2019-05-09 09:22] seagle0128 commented on #207
No. Just click the link or `Cmd-L`, `Cmd-f` on the page.

[2019-05-09 09:40] Dav1d23 commented on #182
I tested this morning on my Ubuntu installation and it looks working, I'll let you know if It works on Arch as well asap.

(small note: I have issues in youtube playback on Ubuntu - the video is greenish -, it is already reported?)

Thanks!

[2019-05-09 10:09] jmercouris commented on #207
That's interesting, thank you for the report! I cannot reproduce, but I will continue to look into it!

[2019-05-09 10:59] Ambrevar commented on #182
Thanks for the feedback!

About the video: can you test with another webkitgtk browser like GNOME
Web (epiphany)?  This is probably a problem with you distribution / hardware.

[2019-05-09 12:32] khinsen commented on #64
Thanks! Judging from a first quick test this seems to work fine.

[2019-05-09 15:16] Ambrevar commented on #150
You need webkitgtk 2.22 or newer.
If you are on Debian, you can either upgrade to Debien Testing or
install Guix and run

    guix install webkitgtk@2.24

I recommend the latter ;)

[2019-05-09 15:29] stevenbagley opened #208 "On Mac OS, can't type space or return"
Next version 1.2.1, Mac OS 10.14.4

Navigate to www.google.com. Type "this is a test". The spaces don't echo, and I can't enter using the RETURN key.

[2019-05-09 16:58] alexanderbarbosa commented on #180
Just installed, Next under Debian/Guix all my issues are gone, this one included!

Great work, thanks!

[2019-05-09 16:59] #180 closed

[2019-05-09 17:04] Ambrevar commented on #180
Thanks for the feedback!

[2019-05-09 17:08] pbgc commented on #208
1.2.1 and MacOX 10.14.4 here.

I cannot use ESC

If I press ESC ... NExt crashes. Running it from the command line I get:

`debugger invoked on a SB-INT:SIMPLE-STREAM-ERROR in thread
#<THREAD "main thread" RUNNING {10006605B3}>:
  Couldn't write to #<SB-SYS:FD-STREAM for "socket 127.0.0.1:8081, peer: 127.0.0.1:57494" {1004B8D7A3}>:
    Broken pipe

Type HELP for debugger help, or (SB-EXT:EXIT) to

[2019-05-09 17:38] Ambrevar commented on #206
I think I understand the problem:  "s" is no longer a prefix for the
default search engine.
Just type what you want and press C-RET to search with the default search
engine.

Notice the difference:

- RET will open the completion candidate.
- C-RET will open whatever input you've typed.

The reason why you had a different experience as root is because there
was no history database and RET would fa

[2019-05-09 19:04] jmercouris commented on #206
hi @ambrevar, can you expand what you mean by having the “raw input” as part of the candidates at the top? a screenshot perhaps?

thanks,

-John

[2019-05-09 19:05] jmercouris commented on #208
Interesting. I'm not sure if we are capturing or handling space anywhere in the codebase, but it seems they are not being properly created by the endpoint that is supposed to generate events

[2019-05-09 19:13] Ambrevar commented on #206
Recipe:

- C-l foo

Minibuffer result I'm suggesting:

[code]

[2019-05-09 19:22] jmercouris commented on #206
how does it help to see the raw input as the first selection? are you saying so that a user can just press RET instead of having to press C-RET?

[2019-05-09 20:08] Ambrevar commented on #206
Yes, and to make it obvious that they can send the raw input at all.
I don't expect many users to know about C-RET (took me an embarrassingly
long time to realize its existence :p)

[2019-05-10 09:18] Dav1d23 commented on #182
I checked right now, and while not smooth as with Firefox, it is definitely working (video playback works just fine with no green artifacts, the volume button is "shaky" but still working).

May I help in any other way?

[2019-05-10 09:36] Ambrevar commented on #182
Hi!  Thanks for the feedback!
I'm glad to hear it's working now :)

Could you detail what is not as "smooth as with Firefox"?  We can try
fixing that :)

Sure! :)  What are you interested in?  Enhanced bookmarks, privacy / Tor
support, image blocking, ...

Do you know Common Lisp? :)

[2019-05-10 09:45] Dav1d23 commented on #182
Does "I use emacs" count? ;p

I did some introduction to lisp, but no, not good.
But I'm willing to learn, do you have a place where to start?

Cheers.

On Fri, May 10, 2019 at 11:36 AM Pierre Neidhardt <notifications@github.com>
wrote:

[2019-05-10 10:00] Ambrevar commented on #182
"I use Emacs" does count!
Emacs Lisp is grammatically and syntactically very close to Common Lisp,
so if you can read/write ELisp you are already a good way in :)

I think two good starting points would be:

- Practical Common Lisp, a book available for free here:
http://www.gigamonkeys.com/book/.

- The cookbook: https://lispcookbook.github.io/cl-cookbook/

[2019-05-11 22:50] AlbertoEAF opened #209 "next doesn't launch - sqlite"
Hello,

I downloaded from github the project, changed the Make file to use as prefix my $home/.local (to avoid installing with sudo) and running next ends in this:

![Screenshot from 2019-05-12 09-02-01](https://user-images.githubusercontent.com/3976753/57579500-a55f9f80-7494-11e9-9eb5-25c734b19d35.png)

Where the code in the screenshot is this:
`(base) [2016]alberto.ferreira:/home/alberto.ferreir

[2019-05-11 23:24] al3xandru commented on #207
I'm seeing the same error for many different commands.  Being my first time, I have tried different `Ctrl` commands, most of them resulted in the same error.

[2019-05-12 07:49] Ambrevar commented on #209
Thanks for the feedback!
(Please next time make sure to send a textual copy of the output instead of a screenshot :p)

I'm not sure why you'd get an SQL syntax error.  Maybe a corrupt history.db?
@jmercouris @FrozenPigs any idea?

[2019-05-12 08:04] AlbertoEAF commented on #209
Hello Ambrevar :)
This is a fresh install, first I ever done of next, don't see how I could have corrupted the history.db without using it right?
I just revised my report to provide what you asked for.
Thanks!

[2019-05-12 08:21] Ambrevar commented on #209
Can you report

- your OS and version,
- the output of `sqlite3 --version` in a shell

?

[2019-05-12 08:38] AlbertoEAF commented on #209
Sure, I'm using an ubntu 18.04 (64 bit) with sqlite3 (3.26.0):

Linux Laptop-1107 4.15.0-48-generic #51-Ubuntu SMP Wed Apr 3 08:28:49 UTC 2019 x86_64 x86_64 x86_64 GNU/Linux
(base) [2001]alberto.ferreira:/home/alberto.ferreira$ sqlite3 --version
3.26.0 2018-12-01 12:34:55 bf8c1b2b7a5960c282e543b9c293686dccff272512d08865f4600fb58238b4f9

[2019-05-13 09:07] AlbertoEAF commented on #209
Anything else I can help? How can I launch next from SLIME so I can help debug this?

I was connecting to sqlite3 manually and trying to issue the same SQL command that fails in next with a syntax error near "on" (look closely at the bug report) and got this inside sqlite3:

`sqlite> select * from typed;
id|url|visits
1|about:blank|1
sqlite> insert into typed (url, visits) values (?, 1) on conflic

[2019-05-13 10:31] jmercouris commented on #209
Well, the error seems quite clear, it's trying to set a value of nil for the URL, when the URL is a required column within the sqlite database.

This must be happening within `history-typed-add` based on the signature of the SQL. Therefore, I believe, somewhere in the code, something is calling `history-typed-add` with a URL of nil.

An easy fix would be to wrap everything in a `(when url ...)`, h

[2019-05-13 10:57] Ambrevar commented on #209
Indeed.  @AlbertoEAF how are you invoking Next?

[2019-05-13 14:04] AlbertoEAF commented on #209
I did only this steps:
1. Clone from github
2. Change Makefile's prefix to ~/.local <- so I can avoid make install with sudo
3. Simply run 'next' in the command line <- it is found automatically in $PATH
That's when I get that error.

[2019-05-13 23:10] AlEmerich commented on #209
Hi everyone,

Just to let you know I have the exact same error, on Ubuntu 18 and sqlite 3.22.

I builded next in ~/tools/ , add the lisp code snippet in ~/.config/next/init.lisp and try to ./tools/next/next from $HOME

[2019-05-13 23:10] llelf commented on #209
You need newer `sqlite`

[2019-05-13 23:17] alexanderbarbosa commented on #209
@llelf
sqlite 3.26 release date: 12/03/18

[2019-05-13 23:20] AlEmerich commented on #209
@llelf Ok, thanks. I just installed sqlite 3.28 (built from [Sqlite](http://www.linuxfromscratch.org/blfs/view/svn/server/sqlite.html) but the issue remains

[2019-05-13 23:24] llelf commented on #209
[code]
vs
[code]

[2019-05-13 23:25] alexanderbarbosa opened #210 "BUG: incorret results using search via search-engines ("s term")"
Hi,

Next User Manual(outdated) state that searching with search-engines,  users must use  **c-l "s search-term"**

But, instead of returning a duckduckgo.com page it uses the current visited website search engine.

Eg: If user is visiting github.com, Next **"s cnn"** uses github internal search engine, returning a "cnn" from its repositories.

screenshot01: https://i.ibb.co/z6J0Dz1/2019-05-13-204

[2019-05-14 00:05] AlEmerich commented on #209
The error remains with the version `3.27` as well.
It is working in command line like you suggest (version `3.28` worked on a command line as well, by the way), but not from `next`

[2019-05-14 00:30] alexanderbarbosa commented on #209
@llelf
Oh, you meant @AlEmerich instead op! :+1:

[2019-05-14 10:44] Ambrevar commented on #209
You need to rebuild Next against the newer SQLite.
Make sure to delete `~/.cache/common-lisp` before.

[2019-05-14 11:05] Ambrevar commented on #210
That's a lot of title changes ;)

Thanks for reporting this.  There were two issues indeed:

- First the documentation was out of date, the `s` search prefix does not exist anymore.  To use the default search engine (DuckDuckGo) you need no prefix anymore.

- Second there was an issue with invalid URLs that didn't start with a search prefix.  This should now be fixed with ff18601baede6aae088786b19

[2019-05-14 11:05] #210 closed

[2019-05-14 11:12] Ambrevar commented on #202
Try the following from a REPL:

[code]

[2019-05-14 11:33] alexanderbarbosa commented on #210
@Ambrevar lol

[2019-05-14 22:11] AlEmerich commented on #209
@Ambrevar Good, that did the trick !

Do you guys know why it doesn't work with the latest stable release of Sqlite (3.22) ? Some syntax changed from 22 to 27 ?

[2019-05-16 13:23] lxbarbosa opened #211 "DuckDuckGo: Going backward on history returns a weird char "l/""
Hi,

Searching any term on ddg in a new tab (m-l), visiting any site and going back to that ddg search, now it returns a weird char "l/" instead of "asd"

https://i.ibb.co/jkj9TLq/2019-05-17-010242-1366x768-scrot.png

**Reproduce:**
- m-l (new tab)
- searching for "asd"
- enter any site of that search
- backward on history (c-b)
- returns a ddg page with "l/"

--------------------------
Next: sbcl

[2019-05-16 13:34] Ambrevar commented on #211
I've experienced this myself.
I'm not sure where that could come from.

@jmercouris any idea?

[2019-05-16 21:07] waynee95 commented on #209
I ran into the same problem. I am also on Ubuntu 18.04 with sqlite3 3.29 build from source. I think I am missing something, since I still get the same error. Is there something else I need to do besides running `make all` and `./next`? I removed `~/.cache/common-lisp` and also tried to do it on a fresh clone of the project.

[2019-05-17 09:32] Ambrevar opened #212 "Athenticated RPC"
In commits c4d63433d481247b533319dba676cc07843594b0 and dc96d84f5c1c20702097c20429601247d3e031f5 @jgkamat implemented authentication of RPC messages to avoid remote execution exploits.

@wasamasa: I was told you had investigated this issue as well.  Would you be interested in reviewing those commits before I release 1.2.2?

[2019-05-17 09:53] alexherbo2 opened #213 "Leverage existing JavaScript libraries"
It could be cool to be able to source JavaScript and CSS into the web pages from the configuration file, similarly to the [content scripts].

[Content Scripts]: https://developer.chrome.com/extensions/content_scripts

[2019-05-17 17:46] alexanderbarbosa opened #214 "Google as default search engine"
I prefer using FLOSS everywhere, and DDG partly covers me well on that topic, but a general browser should not be that optionated unless is there any other issue I am unaware about.

I reckon that most users init files will just overide ddg with google, so why not just make it easier!

What you all think about this?

Thanks!

[2019-05-17 17:53] alexanderbarbosa commented on #213
Dark theme :D

[2019-05-17 17:59] alexanderbarbosa commented on #212
@joaotavora would be add great value to Next team as Sly author! :D

One can only dream!

[2019-05-17 18:11] Ambrevar commented on #214
Hi!

Opinionated about the default browser?  You can change it in your
init.lisp if that's what you are asking.

Or are you suggesting we put Google as a default search engine?

[2019-05-17 18:11] Ambrevar commented on #212
Yes, he is a great developer, but what's the link between Sly and Next?
Also what's the link with this issue in particular?

[2019-05-17 18:14] alexanderbarbosa commented on #214
@Ambrevar

yes, indeed, that what I do, as most probably do/will too.

Google as default search engine, but on that point, I argue that its kinda too pushy choosing some cool services instead of "famous" ones.

IMHO!

[2019-05-17 18:15] Ambrevar commented on #209
@waynee95 Weird.  Can you retry and make sure the proper sqlite version is being used?
@vindarel Any idea?

[2019-05-17 18:16] alexanderbarbosa commented on #212
@Ambrevar
Reading some lisp files Ive seen that is in the Next plan a REPL-like feature... that is why! :+1:

[2019-05-17 18:17] jmercouris commented on #214
To be absolutely clear, we will not set Google as the default search engine as it is completely against the ethos of Next

[2019-05-17 18:18] alexanderbarbosa commented on #214
@jmercouris
Oh! I understand now. fair enough!

[2019-05-17 18:18] #214 closed

[2019-05-17 18:30] vindarel commented on #209
Same problem for me, SBCL 1.4.5 Debian, sqlite 3.22, after a rebase from master of ±1month, I have to investigate.

[2019-05-17 19:10] waynee95 commented on #209
@Ambrevar
Sure! How exactly can I test that?

I don't know if that helps, but I tried to find the first commit that does not work for me.
`8d618216cf7d49d02f267d7134695e31bd68ceb4` is the last commit that works for me.

[2019-05-18 06:38] wasamasa commented on #212
@Ambrevar I've briefly looked over it, looks good so far. The problem with this kind of code is that there's no obvious way of proving it correct, one would instead need to try hard to break it.

[2019-05-18 08:04] Ambrevar commented on #212
Thanks @wasamasa!
This is only a temporary measure though, I'd like to replace the current RPC with
dbus as soon as possible.  This way we would greatly reduce the attack
surface.

[2019-05-18 08:06] Ambrevar commented on #209
Yes, that was to be expected, the subsequent commit by @FrozenPigs is
the one that changes the SQL query which causes the error.

[2019-05-18 08:20] Ambrevar commented on #214
While DuckDuckGo stands for privacy, it does not give many guarantees
either.  In particular, it's not free software.

The only free software option that I know of is
https://asciimoo.github.io/searx/.  Unfortunately, I find the result
rather poor in practice.  We could still make it the default and make it
more obvious in the documentation on how to change it.

Thoughts?

[2019-05-18 08:26] Ambrevar commented on #214
To clarify: Searx is a meta engine, so its results depends on other search engines.  Searx can be configured to retrieve Google, DuckDuckGo and many other sources results.

The nice thing with Searx is that it's rather easy to use a local instance.  With Guix, it would be easy to have Next rely on it.

About using public instance, from Searx' doc:
[code]

[2019-05-18 21:57] alexherbo2 opened #215 "Support for key code mappings"
It could be nice to be able to map physical keys on the keyboard (as opposed to the characters generated by pressing keys).

[2019-05-19 02:02] alexanderbarbosa commented on #214
@Ambrevar
Cool, using searx now! ...

[2019-05-19 07:06] Ambrevar commented on #215
There is provision for hardware keycode support, although `define-key`
does not expose it.
If you look at the `key-chord` structure, you'll see it has a `key-code` slot.

Patches are welcome!  Otherwise, I'll work on it when I start working on
the VI bindings.

[2019-05-19 12:27] Ambrevar commented on #206
@jmercouris: Thoughts?

[2019-05-19 17:11] jmercouris commented on #206
@Ambrevar I thought I had answered this, sorry about that! Sometimes I answer things in my head, but don't actually write them down.

I think that is a good idea, I quite like it! I can't think of any downsides to it (other than a little bit of screen real estate being consumed).

[2019-05-19 19:10] Ambrevar commented on #206
Acknowledged!

[2019-05-20 11:13] vindarel commented on #214
Yacy ! http://search.yacy.net/ Works on distributed, peer-to-peer instances. Results are… different, too few people run instances. And the search doesn't work right now.

[2019-05-20 11:34] Ambrevar commented on #214
Interesting!  Never heard about it, and yet it seems to be... 14 years
old :p

[2019-05-20 11:38] vindarel commented on #145
and to set the list:

[code]
from https://github.com/atlas-engineer/next/pull/198

[2019-05-20 11:48] vindarel commented on #76
Putting this on my todolist:

- create a (new) binary with Gitlab CI first
- see how to create a .deb (I never created a .deb), maybe from the binary.

[2019-05-21 10:52] Ambrevar commented on #212
1.2.2 has just been released!  I'll now move on to working on a proper dbus implementation.  Thanks all for your contributions!

[2019-05-21 10:52] #212 closed

[2019-05-22 17:37] fapapa opened #217 "Requires MacOS 10.14"
When I download the latest MacOS binary, or install the home-brew cask, and try to run the application, it gives me an error saying that MacOS 10.14 (Mojave) is required. Can support for High-Sierra (and earlier) be added?

[2019-05-22 18:45] jmercouris commented on #217
Yes, probably, it will have to wait on the QT port though, so soon!

[2019-05-22 22:30] nshamaev opened #218 "Support for drop-down buttons (<select> HTML tags) in element hinting"
Hello! Great idea with emacs like browser.
Do you think about adding navigation with keys by inputs, as it was in Vimperator and Surfingkeys, for example?
In NEXT:
![image](https://user-images.githubusercontent.com/838566/58213252-17887d80-7cfa-11e9-829b-50927d9a53e3.png)
In Surfingkeys:
![image](https://user-images.githubusercontent.com/838566/58213268-296a2080-7cfa-11e9-92cb-d355ffb20217.png)

[2019-05-22 23:33] alexanderbarbosa commented on #218
You mean scrolling up/down the page with keybinds? If so, for, now, only emacs binding: c-n/c-p

[2019-05-23 02:16] #195 closed

[2019-05-23 03:13] alexherbo2 commented on #195
@Ambrevar How modes would work?

[2019-05-23 07:52] Ambrevar commented on #195
Modes are a work-in-progress and for now they are simply classes with
key bindings and some specific slots.
I have been thinking quite a lot about what a mode could do and I hope
to implement it in the near future.  More discussions coming ;)

[2019-05-23 13:36] alexanderbarbosa opened #219 "Next ignores history if using mice to acess links"
Hi,

Using mice to surf through pages links and going backward on history (c-b), Next jumps to the earliest page that user use links-hint (c-g) or start page.

**Reproduce:**
- open github.com page
- click on pull EXPLORE link (navbar)
- click on any repository
- hit c-b (back on history)
- jump to github.com page, instead of EXPLORE page.

------
OS: Debian
Next (cfe5ae5) (1.2.2)

[2019-05-23 13:40] jmercouris commented on #219
Hi, can you please try on a site that doesn't use jquery to load things?

[2019-05-23 22:45] alexanderbarbosa commented on #219
@jmercouris
You spot in on.
Cnn, reddit and twitter work as it is supposed.

[2019-05-23 22:45] #219 closed

[2019-05-23 22:53] alexanderbarbosa commented on #186
@jmercouris

what about simetric key binds as Emacs: Binding **copy-anchor-url** to C-g C-w.

[2019-05-23 23:33] jmercouris commented on #186
Feel free to submit a PR with this additional keybinding! :)

[2019-05-23 23:34] jmercouris commented on #186
Note, that t may conflict with C-g, for "go" to link though, so maybe a different prefix scheme will have to be thought up, I am all ears though.

[2019-05-24 11:59] novoid commented on #76
No Guix on Debian:

[code]

[2019-05-24 12:48] Ambrevar commented on #76
Yup, that's a problem, although you can easily install it from the binary at http://guix.gnu.org/download/ : it's easy to install and uninstall, and it won't interfere with you file system hierarchy.

[2019-05-24 15:18] alexanderbarbosa commented on #76
@novoid
There is a script that takes no more than a few seconds to set Guix up! Worth a few megabytes on your drive! :+1:
Eg: If your Distro dont provide some packages, as Fedora, you wont need to install a third-party repo that most of its commiters are not well verified!

[2019-05-27 12:16] alexanderbarbosa opened #220 "GuixSD: Next do not load XDG init.lisp configuration"
Hi,

Next is loading some other config, default one I presume, instead of the init.lisp under XDG_CONFIG_HOME (~/.config/next/init.lisp)

[code]

GuixSD: >1.0
sblc-next: 1.2.2

[2019-05-28 14:20] jmercouris commented on #209
I have fixed this in the latest source with commit bae50c8. I will leave this open until a new packaged release is made/the fix is verified.

[2019-05-28 14:26] vindarel commented on #209
I rebased and ran `(next:start-with-port)`, and I still get

[code]

this lends us to `history-typed-add`, which your commit doesn't touch (so I don't understand it).

[2019-05-28 15:15] jmercouris commented on #209
Hi Vindarel, you are right, I only fixed part of it, there is also
history-typed. I will get to this.

Thanks for pointing it out!

[2019-05-28 15:19] jmercouris commented on #209
That is, assuming the version of SQLite everyone has does not support the following query:

`insert into typed (url, visits) values (?, 1) on conflict (url) do update set visits = typed.visits + 1`

[2019-05-28 16:12] Ambrevar commented on #220
I can reproduce, this is a mistake of mine!  Will fix as soon as possible!

[2019-05-28 16:14] Ambrevar commented on #218
@nshamaev I'm not sure I understand your question, could you give a detailed example?

[2019-05-28 16:16] Ambrevar commented on #212
If you are interested, you can check out the dbus-2 branch, it contains a fully-working implementation for gtk-webkit!

I'm planning to merge tomorrow.

[2019-05-28 18:22] wasamasa commented on #212
OK, looks like the GTK port and the Lisp parts use it, but what about the Cocoa port? Does it still work after this change? If no, what changes would be needed to make it work again? Does DBus even stand a chance of running on macOS?

[2019-05-28 18:26] jmercouris commented on #212
Yes, DBus runs just fine on macOS, it will be part of the pyqt port which will become the new port for macOS due to limitations in the Cocoa Webkit Port

[2019-05-29 09:18] 717g301github opened #223 "GTK Compilation Issue"
[code]

Does it use some special version?

[2019-05-29 09:22] jmercouris commented on #223
Hi, can you please rephrase your question? Does what use a special version of what?

[2019-05-29 09:27] 717g301github commented on #223
Of that gtk webkit?

[2019-05-29 09:34] Ambrevar commented on #223
It should work out of the box.

Can you report
- your operating system + version
- webkitgtk version
- glib version

Thanks!

[2019-05-29 09:40] 717g301github commented on #223
Operating system: Hyperbola GNU/Linux-libre

extra/webkit2gtk 2.16.1-3.hyperbola1 [installed]
     GTK+ Web content engine library, without geoclue2 support
 extra/webkitgtk 2.4.11-6.hyperbola1 [installed]
     Legacy Web content engine for GTK+ 3, without geoclue2 support

core/glib2 2.52.3-1.hyperbola1 [installed]
     Low level core library

[2019-05-29 10:08] Ambrevar commented on #223
Your webkitgtk is way too old.  (Beware of security issues!)
You'll need 2.22 at least to compile Next.

[2019-05-29 14:31] #209 closed

[2019-05-29 14:41] vindarel commented on #209
oops, I thought of discussing this on a PR. Nonetheless, it works for me©, sqlite 3.22.

GIven this: https://sqlite.org/lang_conflict.html the "on conflict" extension to INSERT was added in 3.24. I made the query in two steps instead of a one-liner, so improvements are possible.

[2019-05-30 22:15] seanfarley opened #225 "Case sensitivity"
Unfortunately, it seems I cannot run this due to an assumption that the filesystem is case-insensitive. I had a pull request a while ago to fix the `next` -> `nEXT` but it seems other dependencies are also missing (perhaps dynamic loading?). I didn't have time to figure out which ones but at the very least not a single keybinding is working.

Just making this issue in case someone has time to inve

[2019-05-31 07:51] Ambrevar commented on #225
Thanks for the report, but you might be looking in the wrong direction, we make no assumption on case sensitivity.
We spell it "Next" in writing and `next` in the code.

[2019-05-31 18:08] seanfarley commented on #225
Oops, sorry I (out of habit) typed `nEXT`. I meant that I couldn't compile the cocoa port due to typos in capitalization:

[code]

But even after compiling this is the error:

[code]

And to fix that required:

[code]

Even after all that is done, keybindings still don't work. Which I'm guessing is because something is trying to load a file but is specifying the wrong case.

... but now that I pul

[2019-05-31 18:08] #225 closed

[2019-06-01 13:12] IvanDelsinne opened #227 "Blocking extension support, or blocking mechanism support"
The well-known ublock origin extension is really something that cannot be ignored nowadays.

Having a browser without it is really a shame, so if integrating an extension mechanism is not something to be expected, why not implement a blocking mechanism based on lists *right in the browser*?

[2019-06-01 13:15] IvanDelsinne commented on #56
I don't yet know how the build process is managed on this project, but wouldn't relying on something like Travis windows be a good idea?

[2019-06-01 13:56] alexherbo2 commented on #227
[Megumin][Megumin pouting]!

[Megumin pouting]: https://vignette.wikia.nocookie.net/konosuba/images/d/d3/Megumin_pouting.jpg

[2019-06-01 14:05] Ambrevar commented on #227
@IvanDelsinne This is one of the 3-4 top-priority items on our TODO-list :)
In fact, it's already possible to block domains from your user config.  See the `request-resource` end point in `remote.lisp`.

Next step is to make a high-level mode and implement some database synchronization system.  Patches are welcome ;)

[2019-06-01 14:07] Ambrevar commented on #56
It does not seem to build on Windows, so I guess "Travis windows" would be premature at this point.

[2019-06-01 14:52] Arteneko opened #228 "Developer tools"
Is there any way to open developer tools when on a page?

[2019-06-01 15:05] Ambrevar commented on #228
Not yet :/

[2019-06-01 16:39] joseph8th commented on #206
Thanks!

[2019-06-01 16:39] #206 closed

[2019-06-02 04:46] cup commented on #56
👍

[2019-06-02 04:53] hatelove85911 opened #229 "cannot be opened on macOS Mojave 10.14.5"
I just downloaded next browser and cannot open it on macOS Mojave 10.14.5.
The application icon just appears on the dock for just one second and immediately disappears.

[2019-06-02 04:59] #229 closed

[2019-06-02 05:00] hatelove85911 commented on #229
it can be opened now, strange.

[2019-06-02 06:02] Eskatrem opened #230 "Problem building Next on ubuntu with file ffi-types-unix.c"
When running `make all`on Ubuntu, I get:

`; g++ -m64 -Wno-write-strings -I/home/samuel/code/next/quicklisp/dists/quicklisp/software/iolib-v0.8.3/src/grovel/ -o /home/samuel/.cache/common-lisp/sbcl-1.4.5.debian-linux-x64/home/samuel/code/next/quicklisp/dists/quicklisp/software/iolib-v0.8.3/src/syscalls/ffi-types-unix /home/samuel/.cache/common-lisp/sbcl-1.4.5.debian-linux-x64/home/samuel/code/next

[2019-06-02 08:24] Ambrevar commented on #230
Yes, you need to install `libfixposix`.

I had forgotten to add it to the list of dependencies in the README.
Fixed now, thanks!

[2019-06-02 08:27] Eskatrem commented on #230
Indeed, it works now, thanks!

[2019-06-02 08:28] #230 closed

[2019-06-02 13:57] alexanderbarbosa opened #231 "Method make_buffers signaled an error: Method error"
As I call next, it issues this error:

[code]
----------------------------
OS: Debian SID
next: 1.2.2 (git pulled now)
webkitgtk: `libwebkit2gtk-4.0-37/unstable,now 2.24.2-1 amd64 [installed]`
glibc: 2.28

[2019-06-02 14:56] Ambrevar commented on #231
Have you recompiled the platform port?

[2019-06-02 15:09] alexanderbarbosa commented on #231
lol. my bad:

[code]

[2019-06-02 15:10] #231 closed

[2019-06-02 19:14] alexherbo2 opened #232 "Is Next adapted for non-Lisp users?"

[2019-06-02 19:24] jmercouris commented on #232
Not sure what this question is asking.

[2019-06-02 19:30] Ambrevar commented on #232
For now Next mostly targets power users, but in the future we might even make it more attractive to a broader audience.  Time will tell!

[2019-06-02 20:06] Aphsai commented on #209
Hi, I'm still getting the same error :(

[code]

I'm not sure it'll help but this came up as I was installing:
[code]
Though I imagine warnings shouldn't pose too much of a problem.

My SQLite version is :
`3.28.0 2019-04-16 19:49:53 884b4b7e502b4e991677b53971277adfaf0a04a284f8e483e2553d0f83156b50
`

[2019-06-02 20:24] waynee95 commented on #209
@Aphsai
Did you delete `~/.cache/common-lisp` before building next?

[2019-06-02 23:17] Aphsai commented on #209
Yup

[2019-06-03 00:44] alexanderbarbosa commented on #232
Nope.

[2019-06-03 00:59] alexherbo2 commented on #232
Do you mind adding a wiki to the project?

The wiki could have a page dedicated to the configuration.  Having a link to known Next user configs could be helpful to learn by example.

[2019-06-03 01:04] alexanderbarbosa commented on #232
@alexherbo2
https://github.com/atlas-engineer/next/blob/master/documents/MANUAL.org#customization

[2019-06-03 01:18] mark-watson opened #233 "latest macOS version: hitting the escape key crashes app"
I can add the 'report to Apple' stack trace if you need it.

[2019-06-03 07:47] jmercouris commented on #233
Hi Mark,

Thank you for the offer, but that will not be necessary, the port for macOS is getting a rewrite.

thanks,

John

[2019-06-03 08:03] Ambrevar commented on #232
I'd rather stay away from a wiki for now: it's an extra maintenance
burden and it's certainly going to get out of sync as we release new
versions.

Instead, I'd like to focus on embedded, explorable documentation.  We
can also embed a manual and tutorials à-la Emacs.

[2019-06-03 10:11] vindarel commented on #209
It doesn't seem the same error. I wrote the problematic sql line in the patch of this issue. It works without warnings for me.
Can you open a new issue ?

[2019-06-03 10:25] vindarel commented on #227
closing in favor of https://github.com/atlas-engineer/next/issues/32

[2019-06-03 10:25] #227 closed

[2019-06-03 10:48] #145 closed

[2019-06-03 10:51] Ambrevar commented on #220
Fixed in 93b26abe0abc3392305c535faf70d0125a2ff786.  Feel free to re-open if the issue persists.

[2019-06-03 10:51] #220 closed

[2019-06-03 13:31] Aphsai opened #234 "Next not starting: SQLite Error"
Hi, I'm getting an error that's preventing Next from starting

[code]

I'm not sure it'll help but this came up as I was building:
[code]
Though I imagine warnings shouldn't pose too much of a problem.

My SQLite version is :
`3.28.0 2019-04-16 19:49:53 884b4b7e502b4e991677b53971277adfaf0a04a284f8e483e2553d0f83156b50
`

Edit: Another piece of important debugging information I forgot to add:
[code]

[2019-06-03 15:32] vindarel commented on #234
ok, the important bit here is `Code ERROR: no such column: visits.`. Thanks for the report.

Can you try deleting the db and re-running Next ?

[2019-06-03 15:38] Aphsai commented on #234
Oh, it worked but after rerunning:

[code]

So after deleting the database, the browser runs successfully the first time, and any successive attempts cause that.

[2019-06-03 15:45] jmercouris commented on #234
I assume that reading the number from the database does not properly get a NUMBER value, but rather a string of some sort. Perhaps PARSE-INTEGER needs to be invoked on the value before INCF'ing?

[2019-06-03 15:56] vindarel commented on #234
btw, this first error probably happens because you tried Next some time ago and you tried again recently, after we made (deliberately) a breaking change in the DB structure, but after we removed the migration code (which also brought problems of its own with oldish sqlite versions).

[2019-06-03 15:59] Aphsai commented on #234
Ah, makes sense. I did try Next a month or two ago before coming back to it.

Also in reply to the parse-integer attempt:

I tried adding it over the retrieval from the database and it gave:
[code]

This was the code I added:
[code]

[2019-06-03 20:14] jmercouris commented on #234
So if you remove the history code, Next starts properly? If you manually increment the value as you've done in your example, and then update the database, does that work?

[2019-06-03 20:25] Aphsai commented on #234
If I delete the SQLite database, next starts properly, but if I visit the same page twice, which is when the visit counter increments I imagine, it fails.

[2019-06-03 20:30] jmercouris commented on #234
Ok, so you executed the code in the REPL rather than modifying the sources?

[2019-06-03 20:32] Aphsai commented on #234
Uh no I modified the source, I'm not very familiar with lisp so I'm not sure how to work with the REPL.

I modified the source and rebuilt.

[2019-06-03 20:35] jmercouris commented on #234
Ok no worries, thank you for the information, one of us will take a closer look later! That was very helpful!

[2019-06-06 15:52] kreisys commented on #208
Does `M-l` work for you on macOS?

[2019-06-06 19:05] jmercouris commented on #208
It seems not at the moment, latest release broke some things. The new PyQt port should address all of these issues though. Sorry for the problems!

[2019-06-07 16:34] Ambrevar commented on #28
Thank you all for your comments and sorry for the absurdly long delay (lots of work had to be put into more urgent things).
Initial VI binding implementation is in progress in #235.  It does not cover all the fancy features of Pentadactyl but it's a start ;)

[2019-06-11 14:11] Ambrevar opened #236 "Inheritance in key binding schemes"
Currently key binding scheme are completely independent.
This can be a limitation if we'd like a scheme to fall back on another.

@noctuid had some good points about this: https://github.com/atlas-engineer/next/pull/235#issuecomment-500493457.
Emacs Evil does implement this feature.

[2019-06-11 14:18] Ambrevar opened #237 "Hooks"
We need hooks to let the user customize any event.

Emacs has hooks but there are limited.

Some questions need to be answered:

- What can be hooked?  Modes, commands, what else?  Buffers?
It's quite clear that we need a hook for network events.  So should we add this hook manually or should we add a hook to all RPC endpoints?

- What should the hook be allowed to do?  I'd say it should be allowe

[2019-06-11 14:21] Ambrevar commented on #28
I've just merged the pull request!

Let's keep this open until the remaining, more advanced features that could be expected from VI bindings are implemented:

- Repeat key (e.g. C-s s s s)
- Keyboard macros
- Numeric arguments
- Conflict resolution with timeout (e.g. j/k to escape)

[2019-06-13 03:11] oochen opened #239 "stumpwm doesn't show next"
Thanks for the great tool.
However when I use the next with stumpwm, it does not show properly.
The output says:
<INFO> [11:07:10] next base.lisp (load-lisp-file form-fun-4) -
  Loading configuration from /home/oo/.config/next/init.lisp...
 <WARN> [11:07:10] next base.lisp (start) -
  swank:*communication-style* is set to :SPAWN, recommended value is :fd-handler

debugger invoked on a SIMPLE-ERROR

[2019-06-13 03:36] alexanderbarbosa commented on #239
I had this very error, but now its working fine.

[2019-06-13 07:40] oochen commented on #239
indeed, the next does not seem to source the config file when it says it does.
I try to get the variable proxy-url I set,
WARNING:
   Method handler (NEXT::CORE-OBJECT
                   NEXT::PUSH-INPUT-EVENT) signaled an error: The function
                                                                #<STANDARD-GENERIC-FUNCTION NEXT::HELP-MODE (1)>

[2019-06-13 08:02] Ambrevar commented on #239
Are you running Next 1.2.x or a version compiled from master?

Your first error

means you are running 1.2.x, while the last error

means you are running against master.  Did you mix both?

Regarding your issue with setting proxy-url: It's broken on master, but
I'm going to fix it for good in the coming days.

[2019-06-13 12:39] noctuid commented on #237
[Pentadactyl's autocommand documentation](http://bug.5digits.org/help/pentadactyl/autocommands.xhtml) is probably worth looking at. I didn't have a ton of autocommands. Besides page loading, the main one I used was `DownloadPost` to open dired or ranger with the downloaded file cut.

I remember there being a reasonably portable advice library but can't remember its name right now.

[2019-06-13 18:32] Ambrevar commented on #32
I'm on this!  Expect at least a host-based blocker + image blocker + javascript toggle from the work I'm going to put on this in the coming days :D

[2019-06-13 18:45] Ambrevar commented on #218
OK, I got it: you mean that Next does not place hints on buttons or input fields?
Yes, this is a known limitation.  It's not too hard to fix (see `link-hint.lisp`).  I'll work on it later, but if anyone has time to fix it I'll happily take a pull request! :D

[2019-06-13 18:52] Ambrevar commented on #223
Feel free to reopen if you have more questions.

[2019-06-13 18:52] #223 closed

[2019-06-13 19:46] alexanderbarbosa commented on #211
@jmercouris @Ambrevar

I just noticed that the URL as user go backward on history do change, it is not the early DDG search URL :

**ddg search:**  https://duckduckgo.com/?q=meugas+asda&ia=web
**backward history:**  https://duckduckgo.com/l/?kh=-1&uddg=https%3A%2F%2Fgroceries.asda.com%2Fshelf%2Fdining-glassware%2Fsingle-mugs%2F_%2F111421

Maybe DDG do something just before we access a site, like p

[2019-06-13 19:53] alexanderbarbosa commented on #218
@Ambrevar
There is any "open hinted linked in a new tab"? ... could not find... ty.

[2019-06-13 20:01] Ambrevar commented on #218
Yup, it's `go-anchor-new-buffer-focus`, bound to `M-l` by default.

[2019-06-13 20:02] alexanderbarbosa opened #240 "Next opens a blank page with `target="_blank"` links"
Hi,

Some pages force browsers to open clicked links in a new window or tab.

On next it it opens a new instance but a blank page is provided.

Reddit is known for always open links as a new window/tab: https://www.reddit.com/r/javascript/comments/bzq1j9/functional_javascript_traversing_trees_with_a/

[2019-06-13 20:02] Ambrevar commented on #211
This is what I found as well.
I suspect that we need to check the HTTP return code (probably 200 here)
and decide whether or not to add the URL to the history.

[2019-06-13 22:44] noctuid commented on #237
I think [cl-advice](https://bitbucket.org/budden/budden-tools/src/default/cl-advice/?at=default) is the library I was thinking of.

[2019-06-14 00:09] oochen commented on #239
Yes, I was running 1.2.x. compiled from the source.
Thanks.

[2019-06-14 07:30] Ambrevar commented on #239
Which commit did you check out?
Either check out tag 1.2.2 or latest master, but it seems that the commit you chose for a check out was broken :p

[2019-06-14 07:32] Ambrevar commented on #237
Thanks for the links, @noctuid!  I'll look into it.
Another project worth looking into is https://github.com/cxxxr/lem I believe.

[2019-06-14 07:35] Ambrevar commented on #237
StumpWM also has hooks, but I believe they are quite limited.

[2019-06-14 14:52] Ambrevar commented on #32
I've just pushed the resource blocker.  Javascript toggle coming soon.
Not too sure about the image blocker actually, does anyone know how to deal with image in WebKitGTK?

[2019-06-15 09:31] impaktor commented on #32
Nice! I assume it will be documented as well?

[2019-06-15 10:05] Ambrevar commented on #32
It already is (a little):
https://github.com/atlas-engineer/next/blob/master/documents/MANUAL.org#resource-blodking-ad-blocking

[2019-06-16 07:33] oochen commented on #239
Sorry for the delay.
I clone the latest. I will try the stable version :)

[2019-06-19 20:49] Ambrevar commented on #240
This should now be fixed in 53d37cfdc238370cb3d3909044d9fb5967e3de8a.
Feel free to reopen if there is another issue.

[2019-06-19 20:49] #240 closed

[2019-06-19 20:52] Ambrevar commented on #30
This is the same as #218.

[2019-06-22 11:59] alexanderbarbosa opened #244 "Search: Jump to next term if none is found at viewport"
Hi,

If no search term matches are not found on current viewport, Next should just jump to the first match, if any.

So we wont need to yet do **c-s n**, just to find the next term.

Thanks!

[2019-06-22 12:02] alexanderbarbosa opened #245 "Search: if no term are found, echo "no term found""
Hi,

Searching for  a term on Next, and no matches are found, Next silently just "forgets" we searched.

A little feedback for users would be helpful, something like: "Search term not found"

Thanks!

[2019-06-22 14:01] lxbarbosa opened #246 "history: soft and hard navigation history clearing"
Hi,

One neat feature Next is lacking is clearing browser history.

It should clear all visited pages history but keep pages cookies and bookmarks.

And a buffer listing user browsing history.

Of course it would be great to have an option to clear everything, too.

Thanks!

[2019-06-22 14:07] easbarbosa opened #247 "incognito mode"
Hi,

May be it still too early to an incognito mode to arrive, but at last I will make it known!

Thanks!

[2019-06-22 14:08] jmercouris commented on #247
It is not too early, you could implement it quite easily at the moment. Maybe a fun exercise to do ;)?

[2019-06-22 14:13] alexanderbarbosa commented on #239
Just build next and stumpwm "shows" it.

Stumpwm: Upstream
Next: upstream

[2019-06-22 15:46] Ambrevar commented on #246
At the moment, the history can be fully cleared by removing
`~/.local/share/next/history.db'.  Same with cookies, bookmarks, etc.

It would be nice to be able to select-delete entries from the
browser.

[2019-06-22 16:11] Ambrevar commented on #244
Fixed in 20845335366a07ab54f9fab26e265dedecc62724.
Thanks for the idea!

[2019-06-22 16:11] Ambrevar commented on #245
Fixed in 90236cfdc0a707e2d8f773939da518e1e4436796.
Thanks for the idea!

[2019-06-22 16:12] #245 closed

[2019-06-22 16:12] #244 closed

[2019-06-22 16:13] Ambrevar commented on #174
There is now a Noscript mode, but we still miss a good way to hook it per-domain.  Also see #237 for hooks.

Vertical tabs are still to be implemented.

[2019-06-22 16:15] Ambrevar commented on #150
Back to the topic: I've added a buffer-set endpoints which allows for customizing arbitrary settings on the platform port.  WebKit can block images, sadly for now it's an "all or nothing" option.  So technically we can have a "no-image mode", but it'd be better if we could replace pictures with place holders and have them load on click.

[2019-06-22 19:22] jmercouris commented on #150
@Ambrevar I believe what are you suggesting is doable by injecting some JS before the HTML page is loaded to replace the image source tags and store the URL somewhere or something

[2019-06-23 06:33] Ambrevar commented on #237
Hooks could also effectively supersede the setf-ability of `get-default`.
The latter has multiple issues:
- Changes are irreversible.  If A sets a default and B too, we lose information.
- It's not compatible with all compilers, e.g. CCL.  Ultimately it would be nice to have CCL/ECL support.

[2019-06-24 11:08] alexanderbarbosa opened #248 "NOSCRIPT: Is it enabled by default?"
Hi,

Since noscript has been added to Next, most heavy-on JS pages are issuing: "Enable Javascript..."

To get JS back working I need to "enable noscript" then "disable noscript" and reload page again.

Thanks!

[2019-06-24 11:20] Ambrevar commented on #248
Yup, I've noticed the bug and I've fixed it this morning.
Pushing soon, stay tuned!

(And thanks again for the continuous feedback!)

[2019-06-24 11:22] alexanderbarbosa commented on #248
Ya guys, rocks!

o/

[2019-06-24 11:48] Ambrevar commented on #248
Should be fixed in 0b598f16d9610edb9c5a517bf50e3aa2a31bad06.
Let me know if it works for you.

[2019-06-24 15:39] flnth commented on #184
Having been affected by this the first time I tried out next, I just came back to see if the issue was still persisting. Unfortunately, it is.

I tried both the current guix version, as well as the provided 1.2.2 from your website. As soon as I try to load some website using C-l, e.g. www.google.de, the browser freezes, showing me all but an open (expanded?) minibuffer which says "Loading: https:/

[2019-06-24 17:21] jmercouris commented on #184
@flnth have you perchance tried to compile the latest from source? A lot has changed since the Guix pack available on our site. I am sorry to disappoint you. We try to package all dependencies and test, but we can't always get everything. With regards to unit tests, that would not help in this case as there are two programs interacting, we would have to write integration tests.

[2019-06-24 18:43] Ambrevar commented on #184
For what it's worth, on master I can load google.de with no problem.
If you can't compile master, 1.3 is coming soon and should be a deal
changer, hopefully it will work for you :)

Thanks for your patience!

[2019-06-24 19:54] #248 closed

[2019-06-25 13:13] alexanderbarbosa opened #249 "link hints: single letters at viewport"
hi,

Vimium has a neat feature that most link hints at viewport are single letters

That helps a loooot!

![vimium screenshot](https://krzysztofmorcinek.files.wordpress.com/2013/08/vimium-links-chrome.png)

And, as we are at it, maybe, what would help even more is colorfoul hint links, so to differ from page's background, usually white/black. (color blind people would thank you, for one).

Thanks!

[2019-06-25 13:22] Ambrevar commented on #249
The screenshot you linked shows hints with 2 letters as well.  What's
the difference with Next?

Regarding the colors, it's an easy tweak.

But most of the current link hinting implementation will be replaced
after 1.3 by a much more powerful system that will perform completion
based on the link URL and title.

In the meantime, pull requests are welcome of course :)

[2019-06-25 13:25] alexanderbarbosa opened #250 "Search engine: unable to search for results"
Hi,

In "Open URL in buffer", should user type a search engine term as **Algol** and hit return, Next use term as last part of a url: **https://algo/** and issue:

`Error resolving “algol”: Name or service not known`

Thanks!

[2019-06-25 13:26] jmercouris commented on #249
I would like to point out that not all links contain text as the body, so the existing link hint system will still have to exist for image based links.

Additionally a salient point, you can edit the colors of the link hints if you want, please see link-hint.lisp line number 42:

`(setf (ps:@ el style background) "rgba(255, 255, 255, 0.75)")`

You can copy this whole function to your init file and

[2019-06-25 13:29] jmercouris commented on #250
Hi, thank you for your report! Just to clarify, does it create a url: `https://algo/` or was that a typo and it is supposed to be `https://algol/`?

[2019-06-25 13:31] alexanderbarbosa commented on #249
@Ambrevar

bad example.

Still, would be easier as single letter at viewport. Vimium aint perfect.

@jmercouris

I get that Next is fully customizable but I was point out those as Next default, following Vimium, Vimfx...

Thanks, anyway!

[2019-06-25 13:34] alexanderbarbosa commented on #250
@jmercouris

![2019-06-25-103351_1366x768_scrot](https://user-images.githubusercontent.com/40282381/60102787-c292b980-9734-11e9-8c12-6fba17768490.png)

Reproducing:

c-l

type algol

hit return

https://algol/

[2019-06-25 13:35] Ambrevar commented on #249
Good point with the picture, also true for input fields, etc.
We could still complete over the picture URL or the input field ID, etc.

And mix-match both approaches.

[2019-06-25 13:38] alexanderbarbosa opened #251 "Spell check"
Hi,

I see that webkitgtk has a built-in spell check, maybe its a TODO?

Thanks!

[2019-06-25 13:44] easbarbosa opened #252 "Mute Tab (microphone)"
Hi,

A neat feature of Chromium and Icecat is muting tab or all tabs.

I know that webkit has that mute feature. Cant say for Webkitgtk

Thanks!

[2019-06-25 13:45] lxbarbosa opened #253 "Reopen closed tab"
Hi,

Yet another feature would that of reopening just recently closed tab.

Thanks!

[2019-06-25 15:02] Ambrevar commented on #250
Indeed, this is because "algo" is a valid domain...  But fair enough,
it's probably not what the user expects.

I've fixed this in commit 79bad9ad7372bf86c241ea342faa940a827f29a6 which
handles 2 extra edge cases, hopefully it will cover all user
expectations now.

[2019-06-25 15:03] Ambrevar commented on #249
I agree that the defaults are not so good.
Anyone willing to change them?

Also the color customization should be made easier.  I'll work on it.

[2019-06-25 15:04] Ambrevar commented on #251
I think we can implement this in pure Lisp.  Now we will need to see if
it's not a performance bottleneck.

I could find a few libraries:

http://quickdocs.org/search?q=spell

We could also look at how Emacs does it.

[2019-06-25 15:44] #250 closed

[2019-06-25 18:30] alexanderbarbosa opened #254 "Opening page with Next through terminal"
Hi,

Next still need some cool terminal interface features, one of those is opening pages:

`$ next duckduckgo.com`

So we can open pages with Next from anywhere.. eg: Emacs' `browse-url-at-point`.

Or:

`$ next fortran syntax`

And it opens a page searching 'fortran syntax' in duckdckgo.com!

o/

[2019-06-25 18:50] Ambrevar commented on #254
This should work already.  What's the output?

[2019-06-25 19:05] alexanderbarbosa commented on #254
Its working correctly.

Thanks!

[2019-06-25 19:05] #254 closed

[2019-06-25 20:22] alexanderbarbosa opened #255 "Bookmarks: Import, Export and Manage"
Hi,

Ive been wondering if there is a way to export so I can version control bookmarks.

either way, those features are basic in most browser.

Though I would like some way to sync with version control bookmarks.

[2019-06-25 20:38] jmercouris commented on #255
You might try synchronizing your sqlite database of bookmarks, we don't currently persist/export in a S-EXP format or anything like that. Though we would really like to! Thank you for starting the conversation!

[2019-06-25 20:42] montaropdf commented on #239
Hello,

I have a similar problem on fedora 30 with stumpwm compiled from sources and next compiled from sources.

Bellow are what  I got in the terminal
[code]

[2019-06-25 20:44] Ambrevar commented on #255
Hi,

bookmarks are almost at the top of my priorities for post 1.3.
I had opened an issue a long time ago with a rough roadmap: #79.

Feel free to close this issue and continue the discussion in #79.

[2019-06-25 20:47] Ambrevar commented on #253
I think this would amount to keeping the history of a buffer in memory.
Should we keep just one history?  All of them?  A configurable amount?  I'd vote for the latter ;)

[2019-06-25 20:53] Ambrevar commented on #239
How do you start stumpwm?

Do you have a D-Bus session bus running?

Also make sure there is no left-over process or Next that's running
(both "next" and "next-gtk-webkit").  Then try again.

[2019-06-25 20:53] jmercouris commented on #253
It is not about keeping the history of a buffer in memory, it is about keeping a history of buffers that have existed in memory. I think this is part of a more generalized solution/problem. Perhaps events should never be destructive, and all actions should be on a stack of limited height (so that we can eventually garbage collect things).

So every action has a converse action, kill buffer, make b

[2019-06-25 20:59] Ambrevar commented on #252
Indeed.  Actually this might already be doabe, now that Next can set arbitrary settings on the platform port with the `rpc-buffer-set` method.

Something like `(rpc-buffer-set *interface* (active-buffer *interface*) "enable-webaudio" nil)` (untested).

For a full list of options, see
https://webkitgtk.org/reference/webkit2gtk/unstable/WebKitSettings.html.

[2019-06-25 21:02] #255 closed

[2019-06-25 21:19] alexanderbarbosa opened #256 "Search using previous visited sites instead of a new search"
Hi,

How can I force Next to search for a term instead using recent visited pages?

Reproducing:
[code]
What I expect:
[code]
Same occurs with any search that have any term matching recent visited pages.

Emacs' ido let users to ignore history with c-j and just do "what I mean"

I think that the default behavior should be always do what user mean, but if user want to use visited pages with another

[2019-06-25 21:20] alexanderbarbosa commented on #239
`pkill next`, should kill everything!

[2019-06-25 21:46] Ambrevar commented on #253
I don't understand the difference (beside the plural).

Regarding the more general problem, I believe you are true, but this
seems rather hard.
The most obvious use case is restoring tabs, and I believe we can
implement that quite easily.  As you said, let's think a little more
about it and see what comes up.

[2019-06-25 22:00] Ambrevar commented on #256
Use `C-RETURN`.

This is somewhat unintuitive, and I believe a better way would be to do
like Helm does in Emacs, to propose the "raw input" as the first entry
of the list.

But was can't do that for all completion list (it does not always make
sense) and this needs some refactoring of the minibuffer completion system.

[2019-06-25 23:55] #256 closed

[2019-06-26 01:35] spiderbit commented on #184
Yes I have to defend the next-browser devs here, the software itself is in a early status and then you have EXWM another software that not that many people use even for Linux standards :D you can't expect them writing for everything tests on top of that.

It's hard to have unit tests for everything or like @jmercouris said integration tests for everything, even if you are trying.

I did not do it

[2019-06-26 01:44] alexanderbarbosa commented on #184
building from source and loading next thorugh sbcl would get you more insight of what is the issue.

Anyway, 1.3 might solve your issue, if you are not into building...

[2019-06-26 08:22] Ambrevar commented on #256
This was also brought up in #206.  We need to work on this quite soon, I guess this confuses a lot of users.

[2019-06-26 15:17] flnth commented on #184
Thanks for the answers, everyone. Unfortunately I can indeed not build next on my system at the moment:

[code]

Looks like I will have to wait for your 1.3.0 release. Looking forward to it.

[2019-06-26 17:22] dj67 opened #257 "Socket error in "socket""
Hi,
I try to install next browser with the AUR package, no problem but Next can't run, could you help me?

Here find the message after typing next on a terminal

Thank you and excuse my english
DJ

Polling platform port...
Polling platform port...
Polling platform port...
Polling platform port...
Unhandled SB-BSD-SOCKETS:SOCKET-ERROR in thread #<SB-THREAD:THREAD "main thread" RUNNING

[2019-06-26 18:36] montaropdf commented on #239
Hello,

I have a similar problem on fedora 30 with stumpwm compiled from sources and next compiled from sources.

Bellow are what  I got in the terminal
[code]

Hi,

- I start stumpwm from the login manager. I have create a desktop file in /usr/share/xsessions with the following content:

[code]

- You will, also, find attached the Makefile I used to compile Next.
[Makefile.txt](https://github.com

[2019-06-26 19:23] montaropdf commented on #239
Hello again,

1. The pre-compiled version of next is working (I am using it to write this comment)
2. My compiled version of Next don't work with GNOME be it in Wayland or X.org, so my problem seems different.

@oochen, did you try with another WM?

[2019-06-27 10:20] Ambrevar commented on #257
The backtrace you shared is from a very old version of Next.
Did you install it from the AUR recently?  Please retry, the error
should go away if you build against the latest Git version.

[2019-06-27 10:25] Ambrevar commented on #239
What is the pre-compiled version of Next?  Do you mean the 1.2.2 Guix
pack?
If so, it does not use D-Bus, so that might explain the difference.

As far as I know, GNOME relies on D-Bus, so it should be started when
you log in.
Can you make sure that

    ps -U $USER | grep dbus-daemon

returns something?

[2019-06-27 10:39] Ambrevar commented on #184
Make sure you've installed all the required libraries:

- WebKitGTK+ also known as webkit2gtk (make sure to use the most
  recent version for security reasons -- /Debian Stable won't do/)
  Minimum supported version as of now is 2.22.
- SQLite
- glib-networking (for WebKitGTK+)
- gsettings-desktop-schemas (for WebKitGTK+)
- libfixposix
- gstreamer, gst-plugins-* (for HTML audio/video)

What's your

[2019-06-27 16:54] dj67 commented on #257
Thank you for your reply;

yes I used the latest version on the AUR repositories, downloaded yesterday

I will try with the Git version

[2019-06-27 17:10] dj67 commented on #257
I try with the GIT version, same problem ....il you execute /usr/local/bin/next to get started, as you whrite in the documentation
but il you use /bin/next al works fine.

Thank you. DJ

[2019-06-27 17:16] jmercouris commented on #257
It is not possible that you have the same problem, we are not using BSD sockets anymore, only Unix domain sockets. The binary in /usr/local/bin/next must be old.

[2019-06-27 20:29] montaropdf commented on #239
@Ambrevar , yes, version 1.2.2 Guix pack

On my system, the message bus daemon is  composed of dbus-broker and dbus-broker-launch, according to the man page it is another implementation of the message bus protocol.

[2019-06-27 22:03] Ambrevar commented on #257
The AUR package does not install to /usr/local/bin/next.

However, the Guix pack does.  So I think you've extracted the Guix pack
to your root some time ago.

I hope this fixes it.  If so, feel free to close the issue.

[2019-06-27 22:05] Ambrevar commented on #239
What is your system?
Never heard of dbus-broker, this could be a problem indeed.
Can you install regular D-Bus?

[2019-06-28 09:08] dj67 commented on #257
It's right the binary was old, Now, everything works fine, thank you.

some remarks for your documentation "extract the archive (you need lzip)" and then extract the file.tar you have obtained after extrating the file.tar.lz and then "execute ./usr/local/bin/next to get started!"

[2019-06-28 09:49] montaropdf commented on #239
I use Fedora 30

dbus-daemon is there with a service in systemd. Unfortunally, if I start it, it stop with an error. I suppose it is due to the presence of dbus-broker.

I will try to find a way to replace dbus-broker with dbus-daemon.

I will keep you informed.

[2019-06-28 12:46] Ambrevar commented on #257
In practice you don't extract with lzip, you just extract everything in
one go with tar (or your favourite archiver, like `aunpack from atools).
I guess we could specify this in the docs.

[2019-07-01 13:47] alexanderbarbosa opened #258 "Link hints: Not working anymore"
Hi,

I noticed that Next is not anymore following links, it does generate links but once we  ask to follow it does nothing.

Thanks!

Next: Upstream
OS: Debian SID

[2019-07-01 13:56] jmercouris commented on #258
Hello, indeed, we happened to accidentally break it while trying to add support for input boxes! We will get this fixed!

[2019-07-01 16:36] Ambrevar commented on #258
I've reverted the offending commit, it wasn't working anyways.
We will fix it properly later.

Thanks for reporting!

[2019-07-01 18:04] #258 closed

[2019-07-01 22:19] noctuid commented on #249
FWIW, here is some css similar to vimium that looks nice:
[code]

[2019-07-02 10:03] Ambrevar commented on #249
Thanks for sharing, I tried it and I like it a lot.

That said, we need a more convenient way to compose parenscript elements
together.

For instance, we would probably like to extract the function that sets
the style of the hint.
But how do we do that?  We could concatenate the PS results, e.g.

[code]

But that is not ideal.

@jmercouris @vindarel ?

[2019-07-02 10:23] jmercouris commented on #249
you could inject a style using `cl-css` instead of setting the properties of each element dynamically,

https://github.com/Inaimathi/cl-css

you can already see this approach being used in `minibuffer.lisp`

[2019-07-02 10:33] Ambrevar commented on #249
There is `PS:DEFPSMACRO` which works quite well, for instance

--8<---------------cut here---------------start------------->8---
(ps:defpsmacro make-hint (text)
  `(ps:let* ((el (ps:chain document (create-element "span"))))
     (setf (ps:@ el class-name) "next-link-hint")
     (setf (ps:@ el style background) "linear-gradient(to bottom, #FFF785, #C38A22)")
     (setf (ps:@ el style foreground) "b

[2019-07-02 10:39] jmercouris commented on #249
You can invoke two separate functions. One of them using compiled Parenscript, and one evaluating at run time. The one evaluating at run-time simply injects the CSS which is defined as part of a function like `(link-hint-style () ...)`

[2019-07-02 10:48] Ambrevar commented on #249
@jmercouris: Good call with cl-css.

[2019-07-02 10:56] Ambrevar commented on #249
Not sure what you mean with "two separate functions".

Something that would work is to make ADD-LINK-HINTS dynamic, e.g. with

--8<---------------cut here---------------start------------->8---
(define-parenscript add-link-hints (_)
--8<---------------cut here---------------end--------------->8---

(Notice the `_` dummy argument.)

But at this point I'm wondering if using static parenscript is a go

[2019-07-02 11:17] jmercouris commented on #249
I would tend to agree based on the above information, seems to be premature optimization! I had assumed the penalty was greater!

[2019-07-04 08:47] Ambrevar commented on #249
I've fixed this:
- Now the `define-parenscript` macros only generates dynamic parenscript, which makes everything so much simpler.  Should we ever need static parenscripts, we can always extend it differently later.
- The link hints _and_ search boxes are now customizable from the `box-style` slot of the `buffer` class.  See the documentation update and commit 644a341a1ea7914049cd6627d6c0cdf2f0491

[2019-07-04 08:47] #249 closed

[2019-07-04 14:47] noctuid opened #259 "Cannot build, OPERATION-FORCED is undefined"
I'm having a similar issue to #138. I've tried running `(ql:quickload :next)` with sbcl 1.5.4, and I get the error `The function ASDF/INTERFACE::OPERATION-FORCED is undefined.`. My asdf version is 3.3.1. I've tried installing next from the aur (sbcl 1.5.2) and get the same error. Any ideas?

I will probably trying installing from guix in order to try it out, but I'd prefer to run next from the sou

[2019-07-04 15:07] Ambrevar commented on #259
Hmm, off the top of my head, this could be because some
defsystem-depends are missing.

Using Quicklisp, make sure that `trivial-features` and `prove-asdf` are
installed.

Yes, you can run Next by simply calling `(next:start)` from a REPL.

Note that current Guix version (1.2.2) is now quite outdated, 1.3 is
coming out soon and will improve Next tremendously.

Please do, that would be fantastic!
T

[2019-07-04 15:10] Ambrevar commented on #259
I could find this similar error for Lem:

https://github.com/cxxxr/lem/issues/84

Rings a bell, @vindarel?

[2019-07-04 15:37] vindarel commented on #259
No, I didn't fix it, it just disappeared.

You can still try to delete the cached fasl files, moreover if you tried Nex with another config before. They are located at ~/.cache/common-lisp/.

[2019-07-04 16:52] noctuid commented on #259
Both are installed, and I didn't have any luck with deleting the cached files.

[2019-07-04 16:53] jmercouris commented on #259
What happens when you update ASDF?

[2019-07-05 02:05] alexanderbarbosa opened #260 "Editing: SPACE, not working anymore!"
Hi,

Latest commit added the canonical scroll up/down with SPACE/s-SPACE, but somewhat it works in vi-mode but not in Emacs-mode.

Next scroll down page instead of add a space between words in "writing mode".

------------------------------------
Next: Upstream
Debian SID
SBCL: 1.4.16

[2019-07-05 02:11] alexanderbarbosa commented on #249
@jmercouris @Ambrevar

Sorry to yet again annoy you all:

Upcase words would make it easier for users to notice which letters should be typed...

:D

[2019-07-05 08:00] Ambrevar commented on #249
I guess it's a matter of taste, I wrote an example in the manual on how
to configure it and make it uppercase.  Would that be enough for you?
Would you argue that the defaults are better in uppercase?

[2019-07-05 08:33] Ambrevar commented on #260
Oops!  My bad, fixed in
bb6b04ea95f6f7085f71c47baed600db14d52775.
Thanks for the thorough testing as usual! :)

[2019-07-05 10:59] #260 closed

[2019-07-05 11:00] alexanderbarbosa commented on #249
@Ambrevar

Its a matter of taste. :D

Thanks!

[2019-07-05 13:04] Ambrevar commented on #259
@noctuid I know at least one Arch user who can build it properly, so there is something specific with your system.
Do you have a ~/common-lisp folder or similar (registry folders) with local checkouts of common lisp libraries?  Try to clean them up.

Finally you could try building in a chroot, see if that helps.

[2019-07-05 15:04] noctuid commented on #259
It looks like `operation-forced` was removed from asdf in 3.2.0, but the version of swank I have is outdated and still relies on it. Is there some way to see where quicklisp is trying to load something from? I don't have anything in `~/common-lisp` or my quicklisp local projects folder, and I don't use slime. Did you install swank/slime in some other way?

[2019-07-05 15:23] Ambrevar commented on #259
Ha!  Looks like we are getting closer, thanks for investigating.

What's your version of Swank?  I have tested with 2.22 and 2.23 here.

Swank is usually installed with SLIME, so make sure you use an
up-to-date SLIME version and you should be alright.

But Swank is also a dependency of Next, and it's pulled by Quicklisp.
If you look in your quicklisp/dists/quicklisp/software/, you should see
a "sl

[2019-07-05 16:06] noctuid commented on #259
`(asdf:locate-library :swank)` told me that it was trying to load swank from a `.cask` folder (for lispy). Oops :man_facepalming: looks like I had this in my asdf search path. Got rid of emacs stuff from the search path, and everything works fine. My bad!

[2019-07-05 16:06] #259 closed

[2019-07-05 16:42] Ambrevar commented on #259
Thanks for reporting this.  Any idea why Lispy would require an old
swank?
Was it a (very) old install?
Do you know which version of swank it was?

[2019-07-05 16:49] noctuid commented on #259
I don't think this would affect a normal lispy user. Cask is used for development/testing, and I had a version of slime from 2017 left lying around from testing on an older version of Emacs.

[2019-07-05 17:12] Ambrevar commented on #259
Understood.  It's probably not worth mentioning in the readme then, but
I'll try to remember if some other unlucky dev hits the same issue :)

[2019-07-05 17:34] #257 closed

[2019-07-05 22:35] azzamsa commented on #232
@Ambrevar I think this issue is solved. We shouldclose this and other solved issues.

[2019-07-05 23:38] jmercouris commented on #232
Agreed

[2019-07-05 23:38] #232 closed

[2019-07-06 04:09] azzamsa commented on #150
@Ambrevar I have installed guix, and install sbcl-next succelfully. But my os can't find neither `next` or `next-sbcl`.

Also, I tried to `make all` but always failed here (after pull the newest commit from master):

[code]

[2019-07-06 08:34] Ambrevar commented on #150
With guix, you can run next from a shell by simply typing `next`.

To compile from master, you need to install `libfixposix` as well as all
the deps listed in the developer README:

https://github.com/atlas-engineer/next/blob/master/documents/README.org#gnulinux-dependencies

[2019-07-06 10:20] azzamsa commented on #150
Oh yeah, I can type `next` now in terminal after some reboot.

For manual compile, I still failed.

[code]

Next, I will add `apt install list of packages` under https://github.com/atlas-engineer/next/blob/master/documents/README.org#gnulinux-dependencies

[2019-07-06 10:34] Ambrevar commented on #150
What's your distribution?  libfixposix is on Debian:

https://packages.debian.org/search?keywords=libfixposix&searchon=names&suite=all&section=all

The problem is that we can't possibly list all commands for all
distributions.

Ideally, Next would be _packaged_ for all distributions, then there
would be no need for instructions as the dependencies would come with
the package itself.

[2019-07-06 11:48] alexanderbarbosa commented on #150
@azzamsa

Guix install Next as `sbcl-next`

[2019-07-06 12:27] Ambrevar commented on #194
Lo and behold!  One of Next's most tenacious bug has just been fixed with e23232844f4425ae7ceada0d955da2f76cd80507!

[2019-07-06 12:27] #194 closed

[2019-07-06 12:29] Ambrevar commented on #161
Implemented in 5b2abeba88adaf140d12fb8eac33afcfc2cf9d95!

[2019-07-06 12:29] #161 closed

[2019-07-06 12:45] Ambrevar commented on #188
Update: Sandboxing will be included with WebKitGTK 2.26.
We will also be able to enable it on the QtWebengine platform port.

[2019-07-06 14:58] azzamsa commented on #150
distributions.

Yes, but at least we have some example for some popular distro :)

I choose to use the Guix installation, manual installation always drag me to an error.

[2019-07-06 15:13] Ambrevar commented on #150
Which error?  Can you report the command you've issued and the output?

[2019-07-06 15:33] azzamsa commented on #150
1) Is it better for us to have something like slack/irc channel, so that we can discuss the error from manual compiling without messing issue thread? (maybe)

2) Why I recommend to add `sudo apt install every dependency with version`. Take an example of gstreamer in [debian repo](https://packages.debian.org/search?suite=default&section=all&arch=any&searchon=names&keywords=gstreamer), it's hard to

[2019-07-06 15:35] jmercouris commented on #150
@azzamsa

1. IRC Channel: next-browser
2. Sounds like a problem with Debian rather than Next
3. Which packages have you installed?

[2019-07-06 15:38] azzamsa commented on #150
I've successfully build and use next last month, now when I pull new revision, I get those error. I will try to check every dependency one by one again.

[2019-07-06 15:51] Ambrevar commented on #150
The log you've shared shows that you are compiling against an outdated
version of webkitgtk.  Make sure you have webkitgtk 2.22 at least.

[2019-07-06 19:21] azzamsa commented on #150
I have installed the newest webkitgtk using `guix`, Sorry, but how to make sure compiling `next` choose the installed webkit from `guix`?

[2019-07-06 20:05] Ambrevar commented on #150
That's your issue.  This depends on your distribution.

To know which one is chosen, look at the output of

[code]

in a shell.
You'll need to configure the INCLUDE_PATH or pkg-config correctly.  I'm
not too sure if there is a universal way to do it.

[2019-07-07 13:29] ryukinix commented on #194
Great news!

[2019-07-13 15:11] NuclearKev commented on #208
Mine crashes when I hit the `esc` key as well. It also seems like meta doesn't work because I can't run any meta commands.

[2019-07-13 17:39] jmercouris commented on #208
Hi Kevin,

this is correct, working on a new macOS release, thanks for your patience!

[2019-07-16 12:50] svetlyak40wt opened #265 "M-x does not work on OSX"
Downloaded Next today, wanted to start a Slime, but M-x does not work.

Why?

[2019-07-16 12:51] jmercouris commented on #265
Indeed it does not work. Did you try off of the `pyqt-webengine` branch? Master has quite some difficulties... sorry about that!

[2019-07-16 12:53] svetlyak40wt commented on #265
Didn't know about this branch. Will try it now.

[2019-07-16 13:07] svetlyak40wt opened #267 "cd pyqt-webengine && make failes because pkg-config is missing on OSX"
Full trace:

[code]

[2019-07-16 13:11] svetlyak40wt commented on #267
Installed with brew:

    brew install pkg-config

[2019-07-16 13:11] svetlyak40wt commented on #267
Another error appeared in the log:

[code]

[2019-07-16 13:15] svetlyak40wt commented on #267
Installed with

    brew install dbus

[2019-07-16 13:16] svetlyak40wt commented on #267
Now make passed successfully:

[code]

[2019-07-16 13:16] vindarel commented on #267
Thanks for testing this branch, specially in MacOS. We are finalizing the PyQt port right now, so we appreciate the input (specially John on MacOS), and be aware that things change in this branch.

[2019-07-16 13:20] svetlyak40wt commented on #267
But now `make run` does not work:

[code]

[2019-07-16 14:13] vindarel commented on #267
And if you

   pip3 install "PyQtWebEngine==5.13"

? We need version 5.12 or higher.

[2019-07-17 20:34] azer opened #268 "Installation hangs on fetching dependencies"
Hi!

I wanted to install Next in my new computer (Arch Linux), and this time it was not able to download the dependencies unfortunately. It's probably an availability error irrelevant to the project itself, but just wanted to mention here, hoping to find out a workaround.

Here is the last output;

[code]

I tried re-downloading it all day, at home and at work, unfortunately failed.

Any ideas?

C

[2019-07-18 09:20] Ambrevar commented on #268
This is most probably an issue with the Quicklisp server (independent of Next).
Can you try again?

[2019-07-18 09:38] azer commented on #268
I know! Is there a better place to report this issue ? I still can't install Next. I wonder if it works for other people living in different regions.

[2019-07-18 09:57] jmercouris commented on #268
Well, time to make our own Quicklisp dist/server :D

[2019-07-19 07:48] azer commented on #268
Problem seems to be solved!

[2019-07-19 07:48] #268 closed

[2019-07-19 10:36] jmercouris commented on #268
Yay! Nice!

[2019-07-23 15:14] vindarel commented on #85
FYI I included a quickstart with `M-x help` a few days ago.

[2019-07-28 02:51] bradjcheme commented on #239
I'm on Fedora 30, too, and am encountering the same issues with a fresh pull from the master branch, Next 1.2.2-07dcaf5. I'm using i3wm, in lieu of stumpwm, and my session is started from gnome's login manager.

[2019-07-28 06:29] kamysheblid opened #271 "README.org issue"
In section "Run From Source" between 1 and 2 was needed this instruction to get mine to work:

(ql:quickload "trivial-features")

I had a fresh install of sbcl and quickload, but when I followed the instruction it kept giving me an error about trivial-features. Eventually I looked at the quickload site and tried the command above and it fixed my problem.

After fixing README.org this is what I hav

[2019-07-28 11:19] alexanderbarbosa commented on #271
You can just `make all`, and Next will take care of everything to be correctly installed.

[2019-07-29 11:10] Ambrevar commented on #271
Good catch, fixed in 6f73ea21735645a20d04a9721b53ce5cf487f292.  Thanks!

[2019-07-29 11:10] #271 closed

[2019-07-30 18:01] Ambrevar opened #274 "Use extensible fuzzy-matching everywhere"
Now that we have fuzzy-matching in the minibuffer, it'd be neat to have it everywhere.
Currently, we don't use it for SQLite data, e.g. when opening a new URL `history-typed-complete` is used.
The latter function has the benefit of sorting by visit frequency, which only makes sense in this context.

Currently, `fuzzy-match` sorts item sequentially.  I don't think it's the right way to do it, becau

[2019-07-30 22:53] vindarel opened #275 "Qt Webengine pyinstaller executable - tests required  (Linux, Mac, Windows)"
Hi everyone,

We are studying [pyinstaller](https://www.pyinstaller.org/) to ship self-contained executables of the PyQt port, based on the Webengine browser engine (aka Blink of Google Chrome). It *seems* to work, however we need more tests !

I put a little shell script here: https://github.com/atlas-engineer/next/blob/vindarel%2Fdownload-webengine-script/ports/pyqt-webengine/next-install-webeng

[2019-07-30 22:59] nolanwrightdev commented on #191
Just installed this browser via AUR. Getting that same error message: "Your browser does not currently recognize any of the video formats available." What dependencies might I might be missing? I have webkit2gtk installed already.

[2019-07-30 23:14] alexanderbarbosa commented on #191
@nolanwrightdev

AUR should install all dependencies, I dont think its the issue!

[2019-07-31 00:13] nolanwrightdev commented on #191
Hm well idk then. I installed the browser via `yay -S next-browser-git`. Let me know if you want any details about my system.

[2019-07-31 07:05] Ambrevar commented on #191
The dependencies to display HTML5 content are optional.  From the
PKGBUILD:

[code]

Install the above and you should be good to go!

[2019-07-31 09:46] jmercouris commented on #275
Firstly, yay!!!

Secondly, I am not sure the the PyInstaller binary will be cross-platform because it uses a shared library for PyQtWebEngine

[2019-07-31 09:51] jmercouris commented on #274
Maybe, as we add more scoring functions we may have to begin thinking about how to make it lazily load the list and resort things, which may be jarring for the user depending on how fast it is.

A scoring system is an obvious choice if we want to sort based on multiple dimensions. Despite this, I think we are usually looking for one thing based on one aspect of it. E.G. find me all URLS with this

[2019-07-31 09:51] jmercouris commented on #265
Is it OK with you if I close this issue since it is now fixed on the branch? I will be adding instructions to the README soon about how to compile it from source.

[2019-07-31 10:00] nolanwrightdev commented on #191
That did indeed solve the issue. Thanks, @Ambrevar.

[2019-07-31 10:42] nolanwrightdev opened #278 "Right-Click Floating Menu"
You know when you right-click on a link and a little floating menu appears to the side, displaying quite a few different options? It says _Open Link_, _Open Link in New Window_, etc. Yeah, so that menu works pretty wonky on Next. Most of the time when I right click, the menu appears for a split second and then immediately disappears. If I keep the right button pressed down, the menu stays put unti

[2019-07-31 10:50] jmercouris commented on #278
This is a known issue, we are working on improving support :)

[2019-07-31 10:55] Ambrevar commented on #278
Indeed, the behaviour you are describing is exactly the state of things
for now: this is because the is no specific implementation of the
context menu in Next for now, we fallback on the default which is not
appropriate.

And yes, you need to keep the button pressed for now, this is also a
known issue.  Will work on it after the 1.3 release.

[2019-07-31 16:55] svetlyak40wt commented on #265
Ok

On Wed, Jul 31, 2019 at 12:52 PM John Mercouris <notifications@github.com>
wrote:

--
Alexander Artemenko
Быстрое создание MVP
Common Lisp & Python
https://github.com/svetlyak40wt

[2019-07-31 18:48] #265 closed

[2019-07-31 18:54] jmercouris commented on #265
I’ve actually added instructions in the developer README, if you have the dependencies, you should be able to just “make all” and it would work, I would appreciate if you could test this

[2019-08-01 11:54] Ambrevar commented on #206
Fixed in a11666a0c28a41b8b529859423656a8068ebec94.

[2019-08-01 11:55] Ambrevar commented on #256
Fixed in a11666a0c28a41b8b529859423656a8068ebec94.

[2019-08-01 20:00] alexanderbarbosa opened #281 "download-open-file: let user enter which program to open file"
Hi,

xdg-open, sometime, defaults to some weird programsm, as Calibre for `pdf`, if user has not set it own mimeapps list, which is a pain...

Letting users choosing what program  which they prefer to use, would help even more in certain cases

Thanks!

PS:Loved that function!

:D

[2019-08-01 20:06] vindarel commented on #281
Hello,

We discussed on comments after the PR, and we agreed on (for a start) giving the user the possibility to override the `open-file` function, like this: https://github.com/atlas-engineer/next/blob/master/documents/MANUAL.org#decide-how-to-open-files We can think of evolutions for the future.

Should be ok ?

thanks

[2019-08-01 20:08] lxbarbosa opened #282 "Killing last page open shows a blank screen"
Hi,

As we kill last page Next presents a plain and blank page.

Chrome/Firefox take us back to their dashboard. What I mostly disabled all that shiniest feature but it has some utility.

Thanks!

[2019-08-01 20:09] alexanderbarbosa commented on #281
@vindarel

I agree with you all.

GuixSD user :D

[2019-08-01 20:09] #281 closed

[2019-08-01 20:11] vindarel commented on #282
mmh I'm not shocked. We can think of displaying a future dashboard page, and of course to give options (dashboard, quickhelp, nothing,…).

As a reminder, keybindings are a `M-x help` away (added not long ago).

[2019-08-01 20:16] vindarel commented on #234
Hello, what if you tried with a fresh install ?

Also, I'm sorry, I was unable to use Next accordingly to test this for a few weeks (!).

[2019-08-01 20:34] alexanderbarbosa commented on #282
@vindarel

That would be awesome.

[2019-08-01 20:39] vindarel commented on #189
That was a constructive suggestion. We went with PyQt, which isn't offered by Webview.

[2019-08-01 20:39] #189 closed

[2019-08-01 20:43] vindarel commented on #188
We can also run Next in a Firejail sandbox: https://github.com/atlas-engineer/next#run-next-in-a-security-sandbox

[2019-08-01 20:44] alexanderbarbosa opened #283 "Page's title instead of current URL on statusbar"
Hi,

As statusbar is, now, fixed it keep displaying a rather not useful link of currents page.

Maybe, current pages title would be more helpful?

Thanks!

[2019-08-01 20:45] alexanderbarbosa commented on #139
that should be, more than, fixed, by now! :D

[2019-08-01 20:48] vindarel commented on #179
I think something should be done about this, I find it annoying too. We could simply ensure that the first choice isn't the current url.

[2019-08-01 21:02] vindarel commented on #139
- `C-n but also C-v, M-v`: ✓
- `space and page down for page down, page up for page up`: ✓
- ` C-x + or C-x C-+`: agreed, in PR.

that one is Emacs' default, so Emacs users would feel right at home. I suggest common ones in the PR.

[2019-08-01 22:10] vindarel commented on #155
About the sort order, where do you experience this ? It is ok for me here:

- https://next.atlas.engineer/quickstart
- https://lispcookbook.github.io/cl-cookbook/editor-support.html
- http://wikemacs.org/
- https://en.wikipedia.org/wiki/Lisp_(programming_language)

[2019-08-01 22:51] OrdoFlammae commented on #234
I got this error, and it appears to be fixed if you build using the latest version (v.s. the version tagged `1.2.2`).

[2019-08-02 00:18] vindarel commented on #115
I didn't understand the request, but chances are this is fixed. Buffer browsing is pretty good now!

[2019-08-02 00:23] vindarel commented on #85
and Next starts on it. Thanks.

[2019-08-02 00:23] #85 closed

[2019-08-02 02:20] alexanderbarbosa commented on #115
@vindarel  he means link hints

[2019-08-02 05:57] Ambrevar commented on #179
I suggest the following: add an "access-time" slot to buffers and add a
fuzzy-match sorting function to sort by access-time for buffers.

Makes sense?

[2019-08-02 05:58] Ambrevar commented on #283
We can display both! :)

[2019-08-02 06:01] Ambrevar commented on #139
The main bindings that are missing are for the minibuffer:

- Page up / down are not implemented.

- VI bindings are missing.  The main thing that block it is that we need
  a way to signal the switch between insert mode and normal mode.  I can
  think of 2 options:

  - Change the cursor shape (easy).

  - After we add a mode line, we would simply display the list of modes
    there.  Still, woul

[2019-08-02 06:28] Ambrevar commented on #283
Fixed in 663a8be9941d48ce3f287854654cd8e15f891715, thanks for reporting!

[2019-08-02 06:28] #283 closed

[2019-08-02 09:03] jmercouris commented on #179
I suggest just using a stack, I don't think it is necessary to perform a sort based on access-time.

[2019-08-02 09:03] jmercouris commented on #179
That is, making the data structure I was talking about, we could it a `hash stack` :D

[2019-08-02 09:32] alexanderbarbosa commented on #283
@Ambrevar

I beg to differ.

https://edition.cnn.com/business/live-news/tariffs-on-china-reaction/index.html

:D

[2019-08-02 09:41] #139 closed

[2019-08-02 09:41] Ambrevar commented on #179
Why `hash stack`?

The thing with access-time is that it's more universal, because then we could use the same functions for bookmarks, history entries, commands, etc.

[2019-08-02 09:46] #179 closed

[2019-08-02 09:52] jmercouris commented on #179
Couldn't you also use a `hash stack` for all of those other use cases :D?

Anyways, we could have a more generic sort: how about we just have a value as we had talked about called "weight", for some candidates it will be the time. Then we just sort by weight. A small difference for sure, but a more generalized concept than having access-time specifically.

[2019-08-02 09:53] vindarel opened #290 "switch buffer: sort buffers with an access time parameter ?"
Currently, switch-buffer presents an ordered list of buffer. Since https://github.com/atlas-engineer/next/pull/285, the current buffer is not presented the first of the list, for commodity.

Shall we fuzzy match the list with an access time parameter ?

A concern of mine is that I like to see a linear list of my buffers, as it is my mental model.
If we do this, it should be easily configurable.

[2019-08-02 10:04] Ambrevar commented on #283
Can't have it all! :(
URL first is more important in my opinion, it identifies the page uniquely.
If the user wants the title, they can copy it to the clipboard.
Later we can add a "inspect-buffer" function that displays all its properties.

[2019-08-02 10:05] vindarel commented on #179
related: #290

[2019-08-02 10:07] Ambrevar commented on #179
I think we are talking about the same thing :p

Note that you want to compute the weight (a.k.a. score) at run time,
orthogonal to the data structure, because the user might want to
customize it.

[2019-08-02 10:10] jmercouris commented on #179
Ah, indeed!

[2019-08-02 10:11] Ambrevar commented on #290
Sorting by access-time would not make this non-linear, I don't
understand your concern.

Another benefit of using access-time over a stack is that the
access-time can be used to weight in when fuzzy-matching, while the
stack cannot (well, it's harder).

To clarify:
- The initial candidates are '(stacked-1 stacked-2foo stacked-2bar).

- After typing "2", the candidate list may be narrowed to '(stac

[2019-08-02 10:14] Ambrevar commented on #290
Last but not least, "stack order" does not work for bookmarks or history, since those entries are persisted to disk, and those no "stack order" is known on startup.

[2019-08-05 13:42] marcoheisig opened #292 "Failure on startup (Ubuntu 18.04.2 LTS)"
I'm using the pre-packaged archive from the Next homepage. This is the stacktrace I get:
[code]

[2019-08-05 13:44] jmercouris commented on #292
It seems that the GTK platform port is not able to communicate, is D-Bus running on your machine?

[2019-08-05 13:46] Ambrevar commented on #292
Which window manager are you running?  Which login manager?

[2019-08-05 13:51] marcoheisig commented on #292
Dbus is running.
[code]
My desktop environment is KDE Plasma.
My login manager is lightdm.

[2019-08-05 14:12] marcoheisig commented on #292
Here is a deal: If you add a `--swank` flag to next, I will track down that bug myself :)

[2019-08-05 14:14] jmercouris commented on #292
We're working on it right now :D but we can add a swank flag to the start-up options, that would make a lot of sense!

[2019-08-05 14:21] jmercouris commented on #292
did you do the following `sysctl -w kernel.unprivileged_userns_clone=1` per the instructions here? https://next.atlas.engineer/download

[2019-08-05 14:24] marcoheisig commented on #292
Yes, I did that, too.

[2019-08-05 14:25] jmercouris commented on #292
Did you perhaps have to do the other set of instructions? We did get it to work on a Linux Mint machine, which should be fairly similar :\, perhaps we'll add a swank flag sooner than we think :D

[2019-08-05 14:30] marcoheisig commented on #292
You mean the `echo 0 > /proc/sys/kernel/userns_restrict`?
When I try that, I get `bash: /proc/sys/kernel/userns_restrict: No such file or directory`

[2019-08-05 14:31] jmercouris commented on #292
Hm, I wish I knew more about Linux to help :( , unfortunately for this case, I am a BSD user, perhaps someone else may chime in..

[2019-08-05 14:37] vindarel commented on #292
So, the Guix package is working for me© on Mint 19, based on Ubuntu 18.04, with the Mate desktop. I had to do the `systctl` command.

You could install Next locally and see if there's the same bug ? In which case you'll have the full CL at your disposal. We made it easy to install (`make`), and it doesn't disturb your local quicklisp dist.

[2019-08-05 14:55] triclops200 commented on #292
Would like to report that I'm getting the same bug on Ubuntu 19.04 and I have run the sysctl command and dbus is running.

[2019-08-05 14:57] triclops200 commented on #292
Also, side note, the alternative kernel path for the unpriveleged usernamespace clone is `/proc/sys/kernel/unprivileged_userns_clone`

[2019-08-05 14:59] Ambrevar commented on #292
Can you try installing libfixposix?

[2019-08-05 15:00] triclops200 commented on #292
Already have it installed as well as the -dev package

[2019-08-05 15:03] Ambrevar commented on #292
Didn't know, thanks for this!

[2019-08-05 15:19] triclops200 commented on #292
Another note, I compiled from source and the webkit version, at least, runs fine with that build.

[2019-08-05 15:42] triclops200 commented on #151
Would also like this, as I'm using a high-dpi display and everything is very small in next.

[2019-08-05 16:01] Ambrevar commented on #151
Indeed, currently Next does not take high-dpi into account.
Mind opening a new issue for this?

[2019-08-05 16:12] triclops200 commented on #151
will do

[2019-08-05 16:13] triclops200 opened #293 "HIDPI displays cause tiny UI and tiny text"
There should be a way for next to either detect hidpi displays and autozoom or at least a config option to scale everything by some factor. Currently, it's almost unusable on my 4k 15" laptop screen

[2019-08-06 03:51] Compro-Prasad opened #294 "Unable to build. Symbol "DOWNCASEP" not found in the STR package."
`make all` error:

[code]

[2019-08-06 03:59] Compro-Prasad commented on #294
OS: Arch Linux
SBCL Version: 1.5.3
GCC Version: 9.1.0
Linux Version: 5.2.1

[2019-08-06 06:20] Compro-Prasad commented on #294
Did `make clean` then `make all` and it worked. Thanks for the package. Really like to choose it as my main browser.

[2019-08-06 06:20] #294 closed

[2019-08-06 06:46] Ambrevar commented on #294
To explain what happened: you had probably built Next some time ago,
when the `str` library didn't have the downcasep function.

Running `make clean` then `make` forced a re-download of the str
package.

Anyways, @vindarel @jmercouris I suggest we always ensure the local
Quicklisp is up-to-date before making.  Thoughts?

[2019-08-06 11:45] Compro-Prasad opened #295 "Introspection capabilities like Emacs"
Is there something similar to `C-h k`, `C-h f` and `C-h v` like in Emacs? Will be great to introspect currently running `next` instance.

[2019-08-06 11:56] Ambrevar commented on #295
Indeed!

For now there is `M-x inspect-variable` and `M-x inspect-function`, but
those are very limited and don't display much at the moment.

Enhanced internal and explorable documentation in one of the highest
priority goal for the next version.

[2019-08-06 17:41] arkhan opened #296 "Unacceptable TLS certificate"
Regards, I am trying to enter a site with a self-generated certificate with openssl, but next it only shows me the message: Unacceptable TLS certificate and does not allow me to accept the same

Thanks

[2019-08-06 18:06] Ambrevar commented on #296
How did you install Next?

Which website is it?
If you don't want to share a specific website URL, can you reproduce
with another one?

[2019-08-06 19:32] Aphsai commented on #234
Fresh install does seem to be working!

[2019-08-06 19:32] #234 closed

[2019-08-06 19:45] arkhan commented on #296
install next on archlinux from AUR, the specific site is https://intra.ec.krugercorp.com

[2019-08-07 08:44] e-user commented on #292
Same bug here on Fedora 30 Workstation. Fedora has user namespaces fully integrated, so no `kernel.unprivileged_userns_clone` option present. I will try compiling from source as well.

[2019-08-07 16:08] Ubroi commented on #292
Same bug on Debian Stretch with i3wm.
dbus running, and i have run sysctl command.

[2019-08-07 16:19] whirm commented on #292
Same on Debian SID running on Awesome with
[code]

[2019-08-07 17:25] rpgoldman opened #298 "Error building from source: next-pyqt-webengine.py missing [macOs]"
When running `make all` I get the following error:

[code]

Looking at `./ports/pyqt-webengine/ ` I see that `next-pyqt-webengine.py` is there, but for some reason the `mv` command expects it to be one directory up instead.

I *think*  removing that `mv` line from the Makefile, and then copying `next-pyqt-webengine.py` from `./ports/pyqt-webengine/`  might fix this problem; at least that gets me t

[2019-08-07 17:31] rpgoldman opened #299 "Next is now available from homebrew"
There's a Homebrew cask for `Next.app` now -- maybe add this to the list of ways to install next on MacOS?

[2019-08-07 17:47] rpgoldman opened #300 "Possible fixes for Makefile"
Here is a diff for the Makefile that contains a number of candidate fixes:

1. Replace use of `load` with the asd file with `asdf:load-asd`.  In modern ASDF, this is the correct way to load system definitions; standard `load` should not be used.  Note that loading next.asd with a relative pathname caused issues with prove-asdf, so I used an absolute pathname.
2. Pre-load next with `ql:quickload`.

[2019-08-07 20:07] jmercouris commented on #299
Is it for the latest version of Next? I don't have Homebrew to confirm. If so, I'd be happy to add it to the README or merge a PR with that information.

[2019-08-07 20:09] jmercouris commented on #300
I will try this out later, thank you :)

[2019-08-07 20:26] rpgoldman commented on #299
According to brew, this is version 1.3.0, which agrees with what is in the version of `next.asd` I checked out this morning.

[2019-08-07 21:34] alexanderbarbosa commented on #292
Debian 10 SID working fine.!

[2019-08-07 22:29] jmercouris commented on #299
No problem, your assessment is correct!

[2019-08-08 06:33] whirm commented on #292
Which kernel are you running?

[2019-08-08 13:49] alexanderbarbosa commented on #292
@whirm
`$ uname -r
4.19.0-5-amd64
`

[2019-08-09 14:59] vindarel opened #301 "M-backspace deletes all words in a row"
I type words delimited by a space, but M-backspace erases all of them at once. It should respect spaces as it respects dashes, points, etc.

[2019-08-09 15:00] #301 closed

[2019-08-10 03:34] zovt opened #302 "Error building on Gentoo"
Hello, I'm trying to build on Gentoo, but I'm getting an error (attached). Let me know if you need any more information, happy to help debug.
[output.txt](https://github.com/atlas-engineer/next/files/3488472/output.txt)

[2019-08-10 03:55] zovt opened #303 "libGL error on Gentoo with NVidia drivers"
Hello, running the prebuilt binary on Gentoo with NVidia drivers gives the following error:
[code]

I've attached the full log.

This results in nothing being displayed in the Next browser window, aside from being able to open
the URL bar.

Lutris seems to have a similar issue: https://github.com/lutris/lutris/issues/1926

Not sure if they are related, though. Let me know if you need any more info

[2019-08-10 05:56] Ambrevar commented on #302
Strange, it seems that your version or UIOP is missing some
components.  Maybe it's outdated?

Run

    sbcl --non-interactive --eval '(format t "~a" uiop:*uiop-version*)'

in a shell and share the result here.

Do you have anything in `~/common-lisp`?  Did you install ASDF / UIOP manually?

[2019-08-10 05:58] Ambrevar commented on #303
Does it work if you export the environment variable

`WEBKIT_DISABLE_COMPOSITING_MODE=1`

?

For instance, if you run Next like this:

    env WEBKIT_DISABLE_COMPOSITING_MODE=1 next

I'm not sure Next can do anything about this, this is most probably an
OS configuration issue.

[2019-08-10 07:06] Ambrevar commented on #296
Can reproduce on a local build too, this is not AUR-specific.
Strange...  There is something wrong on the WebKitGTK side.  I'll investigate.

[2019-08-10 12:01] vindarel opened #304 "Killing a buffer sends me back to the first one (the *help*)"
However, I want to stay at the most recently open.

Open Next and get buffer `help`, open buffer 2 and buffer 3. Kill buffer 3: you're back to `help` instead of buffer 2.

[2019-08-10 12:03] #304 closed

[2019-08-10 12:16] vindarel commented on #300
This looks good to me. Don't you want to send a PR ?
Thanks !

[2019-08-10 15:52] zovt commented on #302
[output.txt](https://github.com/atlas-engineer/next/files/3489065/output.txt)

I have no `~/common-lisp` folder in my home folder, nor did I install anything manually outside.

[2019-08-10 16:01] zovt commented on #303
That does appear to fix the issue. Interesting, I'll mess around with it on my end and see if I can come up with a hack to fix it.

Thanks for the help

[2019-08-10 16:01] #303 closed

[2019-08-10 20:41] rpgoldman commented on #300
I didn't know how to send a PR (since I haven't forked the repo -- I just installed with homebrew, which was easier), so I am attaching a patch file.

Commit messages corresponding to this patch are:

[makefile-fixes.patch.txt](https://github.com/atlas-engineer/next/files/3489275/makefile-fixes.patch.txt)

[2019-08-11 07:28] dylanjm opened #305 "Space Bar Doesn't Work in Text Entry Boxes"
Hello, new user and really excited to continue trying this out. I saw a previous issue that said a home-brew cask was now available for Next, so I gave it a try this evening. I'm currently running macOS Mojave 10.14.6.

I installed Next via:

[code]

When I open the url to youtube, the text entry box is automatically selected, but I can't use the spacebar or hit enter. This behavior is the same wh

[2019-08-11 13:58] vindarel opened #306 "M-backspace has some uncommon behaviour"
In the minibuffer, M-backspace has not the most effective behaviour, it is a bit too different from say Firefox:

- when the input ends with many slashes, it deletes only one, like a simple backspace. I'd like to remove all trailing slashes AND one word.
- it deletes one word AND the trailing slash (or space, point or any word delimiter). I'd like it to leave the slash. (`foo/bar/` M-backspace =>

[2019-08-11 14:00] #306 closed

[2019-08-11 14:06] vindarel commented on #305
Hello, thanks for the report. The homebrew recipe is not official, so it would be helpful if you compared with the build available in MacPorts, or if you built from sources.

[2019-08-11 16:25] jmercouris commented on #305
The problem is due to changes we made in key handling to make it work on both macOS and Linux, I suggest we make OS specific versions of the function to resolve the issue

[2019-08-11 17:28] Ambrevar commented on #304
Having a `:last-access` slot for the buffer list would help here too I think.

[2019-08-11 17:30] Ambrevar commented on #302
It seems that your SBCL installation is broken, or at least
"non-standard".
Could you report this issue on the Gentoo forums / bugtracker?

[2019-08-11 17:32] Ambrevar commented on #303
I've also seen similar issues with Qutebrowser and Nvidia.
Have a look there:

https://github.com/qutebrowser/qutebrowser/issues?utf8=%E2%9C%93&q=is%3Aissue+nvidia

[2019-08-11 17:56] Ambrevar commented on #305
Which function?

[2019-08-11 18:01] Ambrevar commented on #306
Ideally, we can write a customizable function.  Or maybe several
functions which the user would be free to choose from (or write their
own).

- Choice A: Delete 1 word if any then all punctuation.
  Examples:  `foo_-bar` => `foo`
  `foo_-` => `foo`

- Choice B: Delete 1 word _or_ all punctuation
  Examples: `foo_-bar` => `foo_-`
  `foo_-` => `foo`

[2019-08-11 18:39] jmercouris commented on #305
`create_key_string` in utility.py

[2019-08-11 20:21] vindarel commented on #306
That's right. Tha's now easier to do with my little refactoring.

[2019-08-11 22:14] seanfarley commented on #300
The above patch is just plain wrong. It makes a directory and then `chmod +x`? That gives this error:

[code]

I can't tell what the original desire was but it seems `cp -r ./ports/pyqt-webengine/ ./Next.app/Contents/MacOS` should be `cp -r ./ports/pyqt-webengine/* ./Next.app/Contents/MacOS`.

Plus, `./assests/Info.plist` misspells `next` as `Next` for which are two different names on a case-sensi

[2019-08-11 22:37] rpgoldman commented on #300
@seanfarley I'm actually not sure what you are talking about here.

1. The `chmod +x` was already in the `Makefile`; I didn't do anything to that.
2. I didn't have any interaction with `Info.plist` at all.

So in none of these ways was I "just plain wrong."  The original Makefile may have had issues that I didn't fix, but complaining about my patch is really off-base.

I assume you didn't intend t

[2019-08-11 22:47] seanfarley commented on #300
Apologies for coming off rude; that wasn't my intention. Yes, I understand you didn't write the `chmod` line but if you had run it then you would have seen that putting the executable inside the directory of the same is not correct.

As for leaving based on my interactions: I'm not even part of this project. Just a rando dude trying to get this to work on the mac.

[2019-08-11 22:54] seanfarley commented on #299
The Homebrew package is still at 1.2.1 even though someone changed it: https://github.com/Homebrew/homebrew-cask/pull/67260

I'm trying not to come off as rude since rpgoldman pointed that out but it would be nice if functionality was checked to be working before merging (more of a comment about homebrew-casks merging that PR).

[2019-08-11 22:58] seanfarley opened #308 "macos, iterm2, dbus errors"
This is more of a The More You Know™ issue: `launchctl getenv DBUS_LAUNCHD_SESSION_BUS_SOCKET` returns nothing in iTerm2 due to its integration with tmux. I randomly found the info here: https://github.com/ChrisJohnsen/tmux-MacOSX-pasteboard/issues/73

For me, switching to another terminal fixed the issue (e.g. Alacritty, Terminal.app, etc). Just making this issue here incase anyone else runs into

[2019-08-11 23:00] seanfarley opened #309 "macos no windows show"
After getting this to build from source, I can't seem to get anything to show up. The output from the terminal is just sitting there apparently waiting for something:

[code]

Not sure what else to report besides that I'm running on a case-sensitive filesystem. I tried creating a temporary volume that was case insensitive but no dice.

[2019-08-11 23:01] seanfarley commented on #308
Forgot to log the output:

[code]

[2019-08-12 08:01] vindarel commented on #300
Yep, thanks for the explanation. Us three of the team (me, jmercouris, ambrevar) are glad you send suggestions of improvements. And I'll leave the review to my colleagues for the coming days : ]

[2019-08-12 11:04] alexanderbarbosa opened #310 "Unable to kill buffers"
Hi,

Asking Next to kill current page issues:

[code]

Thanks!

---
Debian 10 SID
Next: Upstream

[2019-08-12 11:28] alexanderbarbosa opened #311 "Open link in a new buffer instead of spawning a new window."
Hi,

Its kinda annoying that some links force browsers to open a new window.

Some links are still unacessible by Next links hints, so we have to mice click those.

But it behaves in a rather weird way:

Next  spawns a new window with the same collection of buffers, and users have to close that other instance of Next, AFTER killing the buffer that forced to open that new window.

Reproducing:

- C

[2019-08-12 14:40] rpgoldman opened #312 "Failed start-up with newly built next app on Mac"
Built next from source last night.  When I try to start it from the shell I get this error message:

[code]

This may be some sandboxing thing.

The version from homebrew starts successfully.

MacOS 10.14.6

I don't know if this message during compilation is related:
[code]
The `plan NIL` in the above is somewhat worrisome, and may indicate issues in the ASDF system definition.  Haven't had time t

[2019-08-12 14:46] rpgoldman commented on #312
I should have mentioned -- I tried to run this from the source directory, instead of installing it in `/Applications` first.

[2019-08-12 14:50] rpgoldman commented on #312
When I open as per @seanfarley example in another issue posting I see this:
[code]
Not sure if this is the same bug or if I am hitting a different bug from starting the application differently.

[2019-08-12 14:54] rpgoldman commented on #299
@seanfarley I'm not sure what is going on with brew.  I built from source, and had troubles. Now when I tried to reinstall from brew (even after removing the Caskroom copy and the dmg in my cache), next will not start and I get an error message saying that the application has been damaged.

I am not sure if this is a new copy that is bad, or if there is some configuration or other file left around

[2019-08-12 20:13] seanfarley commented on #299
Yeah, it's really mysterious to me as well. I'm hoping for guidance as well! And it's nice to know that someone else besides me is facing the same issues :-)

[2019-08-12 20:57] Ambrevar commented on #312
The ASDF warning can safely be ignored (for now, but we need to fix it
later).

The error "No server addresses left to try to open" is related to D-Bus.

@jmercouris ?

[2019-08-12 22:25] whirm commented on #292
@alexanderbarbosa I'm running 5.0.0. I'll give a try to 4.19 just to be sure. Thanks!

[2019-08-12 22:59] alexanderbarbosa commented on #292
@whirm
Too late, its now 5.2
:D

[2019-08-13 09:42] whirm commented on #292
I tried 4.19, 5.0 and 5.2 so it's not the kernel

Nope, Debian upstream's

@alexanderbarbosa would you mind posting the output of `sudo sysctl -a` and ` dpkg -l "*dbus*"` so I can see what's different between our setups?

[2019-08-13 13:39] glacambre commented on #312
I've had the same `No server addresses left to try to open.` issue on linux (debian testing/unstable). The problem indeed was with dbus ; although I did have a dbus process running for my session (other software such as notify-send were able to connect to it), next somehow wasn't able to find its address.

This might be related to the way dbus is configured on my machine (systemd starts it with `-

[2019-08-13 15:12] ak-coram commented on #239
I have the same issue on FreeBSD

[2019-08-13 16:09] alexanderbarbosa commented on #292
@whirm

Here it goes:
sysctl -a:  https://paste.debian.net/1095641/
dpkg -l "*dbus*": https://pastebin.com/pgh6pMT9

[2019-08-13 16:26] glacambre opened #313 "Can't type left bracket in switch-buffer"
Hi. First, thank you for building and maintaining next, I feel like it is a very promising project :).

I built next from bdeb6347e92d3f65d486bba521a43f36811bf03c . When using `switch-buffer`, pressing `[` results in errors being thrown. It looks like next tries to build regexes from this string without escaping the characters. I tried to track down the cause of this bug but couldn't find the exac

[2019-08-13 16:53] Ambrevar commented on #312
Traditionally two dbus sessions can be run: the system session and the
user session.

It may be that systemd only starts the system bus, on which user
applications cannot register if I'm not mistaken.

Ghjuvan, which login manager and window manager are you using?  If you
run a low-level window manager, it's often required to start dbus
manually the way you did.

[2019-08-13 16:55] Ambrevar commented on #239
Which window manager and login manager are you using?

Do you have a dbus _user session_ running?  If not, try

  $ export $(dbus-launch) && next

[2019-08-13 16:59] Ambrevar commented on #292
Thanks for investigating this.

To all of you who are having issues with the Guix pack at the moment: a
good alternative is to install [guix](https://guix.gnu.org) then

- add the Next Guix channel as per the readme;
- `guix pull` as usual;
- run `guix install next`.

[2019-08-13 17:14] jmercouris commented on #313
Hi, thank you very much for the report! You are exactly correct, it does in fact build regex without escaping the chars. There is a function in utility.lisp called `fuzzy-match`. Do you have any suggestions for how we may fix this? Thanks!

[2019-08-13 18:11] inglada opened #314 "NEXT_RPC_AUTH_TOKEN error"
When using the guix package I get this error when I start the browser:

[code]
I am using the guix package manager, not the Guix OS.

Thanks

[2019-08-13 18:19] inglada commented on #314
Sorry, I had not installed next-sbcl. However, I thought that if there was a dependency, it would be automatically installed.

[2019-08-13 18:38] glacambre commented on #312
I do have a system dbus and a user dbus runnnig. The user dbus is started by systemd. It has a weird address though (`"--address=systemd:"`), maybe that's why next couldn't find it.
In any case, don't waste time on my issue, I just mentionned my problem and the way I fixed it in the hope that it would help @rpgoldman fix his problem.

[2019-08-13 18:58] Ambrevar commented on #314
Note that upstream Guix does not have the latest version of Next (it
only has 1.2.2 for now).

If you want the latest version of Next, you must add the Next Guix
channel: https://gitlab.com/atlas-engineer/next-guix-channel

[2019-08-14 09:50] rprimus commented on #299
Wed Aug 14 10:45:18 BST 2019

Just a FYI wrt the cask.

All the person did was update the version number of the cask.

The downloaded dmg still points to the previous dmg:
`https://next.atlas.engineer/static/release/next-macos-webkit.dmg`.   That's why the SHA did not change.

As noted at: https://next.atlas.engineer/download

[2019-08-14 15:46] Ambrevar commented on #308
Thanks for sharing, very useful indeed!
@jmercouris: We should probably mention this in the README.  Thoughts?

[2019-08-14 15:47] Ambrevar commented on #309
Can you share the content of `/Users/sean/.local/share/next/next-pyqt-webengine.log`?

[2019-08-14 15:48] Ambrevar commented on #310
I can't reproduce.
Which commit are you running?
Can you share a recipe?

[2019-08-14 15:58] alexanderbarbosa commented on #310
@Ambrevar

Next 1.3.0-1628b90

Opening github.com, reddit.com and cnn.com, I can kill one of three buffers but unable to kill the others.

And still issuing:

[code]

[2019-08-14 16:09] jmercouris commented on #309
You may also try going into the application bundle, manually starting the platform port by executing `./next-pyqt-webengine`, if there are failures there, they will be visible in the terminal output.

[2019-08-14 16:11] jmercouris commented on #308
You know, I'm not sure, I've been thinking about this, and I'm wondering what a terminal would have to do with the dbus environment. I am not entirely sure about the context of which an application bundle is launched, perhaps it inherits from the default shell or something, I will have to do some searching before saying anything definitive.

[2019-08-14 22:20] alexanderbarbosa commented on #310
weird, running next with REPL as expected kill all buffers.

[2019-08-14 23:18] rpgoldman commented on #312
I got dbus installed and running from brew, and once I got the dbus infrastructure set up and the requirements installed, now I get this error:
[code]
There's a bunch of discussion about the problem about `PyQt5.sip`, most of it confusing and none of it satisfactory.
I tried installing `pyqt5-sip` and then reinstalling `PyQt5`.  That fixed the above error but... now I get this:
[code]
Looking at t

[2019-08-15 00:42] seanfarley commented on #309
@Ambrevar The contents of the file is just `INFO:root:Listening...`

@jmercouris The output is basically the same still:

[code]

A python application is in my dock (definitely `Next`'s) but no windows show. Just hanging.

[2019-08-15 09:07] ak-coram commented on #239
I'm also using stumpwm. After running `export $(dbus-launch)` I get a different error (previously it was `No server addresses left to try to open.`):

[code]

[2019-08-15 12:09] Ambrevar commented on #310
Did you `make` everything after your last checkout?

[2019-08-15 13:53] alexanderbarbosa commented on #310
@Ambrevar

Can't say why, just compiled it again and the issue is fixed.

I just update SBCL, from master, might be why.

[2019-08-15 13:53] #310 closed

[2019-08-15 13:56] alexanderbarbosa commented on #239
@ak-coram

`No server addresses left to try to open`: either set next to use another port or whatever using it to a different one.

Might be Next early server that did not die, screen/tmux.

[2019-08-15 15:26] Ambrevar commented on #310
Either you forgot to `make` or your fasl cache (in ~/.cache/common-lisp)
was out of sync.  Happens with macros.

[2019-08-15 16:04] jmercouris commented on #310
Happens to all of us :D no worries! I remember in the good old days I used to make a habit of cleaning every single project in eclipse before recompiling... so many times it was part of the magical incantation to make things work :)

[2019-08-15 16:32] alexanderbarbosa commented on #310
makes sense!

[2019-08-15 16:53] ak-coram commented on #239
@alexanderbarbosa: thank you for your suggestions.

I've looked into it a bit more: looks like the external auth request to the session dbus gets rejected. I'm not really sure why, since that's all it says. Any ideas?

[2019-08-16 10:02] whirm commented on #292
@alexanderbarbosa

This one seems to have expired. Do you mind reposting it?

Thanks!

[2019-08-16 12:14] whirm commented on #32
Would it be hard to integrate this: https://github.com/brave/ad-block ?

[2019-08-16 13:41] Ambrevar commented on #311
All Next windows have the list of all buffers.  Killing a window does not kill a buffer, this is a feature, not a bug :)

In the future, we could filter buffers by windows, still got to think this through though.

Regarding the title of the issue: you are right, we should let the user choose whether they want to open in a new buffer or new window.  Simple fix :)
Would you be interested in working

[2019-08-16 14:08] Ambrevar commented on #32
We can't (or don't want to) "integrate" brace/ad-block directly since we
would like to stick to a full-Lisp code base as much as possible, but
sure the current algorithm can be expanded to follow more closely what
Ublock-origin and brace/ad-block do.

It's a bit of work, but certainly doable.  Specialists in ad-blocking
are welcome to pitch in :D

[2019-08-16 20:29] glacambre opened #316 "Hint delay on large pages"
On large pages such as https://docs.nvidia.com/cuda/cuda-c-programming-guide/index.html or https://en.wikipedia.org/wiki/Battle_of_Mosul_(2016%E2%80%932017), there is a noticeable delay before hints are displayed. Tridactyl and Qutebrowser's hints appear immediately, so I think there's probably a way to improve next's performance in this area.

[2019-08-16 20:45] glacambre opened #317 "There is no applicable method for the generic function NEXT::HISTORY-BACKWARDS"
Sorry if PEBKAC, but with the following configuration:
[code]
Pressing `J` after having browsed a few websites results in the following warning:
[code]

I'm not sure what I'm doing wrong since other bindings (e.g. `(define-key :scheme :vi-normal "j" 'scroll-down)`)) seem to work correctly and [history-backwards](https://github.com/atlas-engineer/next/blob/41b6960004d7c9af08806064d7d86ba8f9c5568a/s

[2019-08-16 20:51] glacambre opened #318 "(define-key :scheme :vi-normal "H" 'switch-buffer-previous) doesn't work"
I added the following bindings to my init.lisp:
[code]
Pressing `H` doesn't switch to the previous buffer. Instead, it seems to reload the page. This is especially weird since running `switch-buffer-previous` directly from the command line works as expected and `switch-buffer-previous` correctly appears as being bound to `H` in the completion buffer.

[2019-08-16 20:55] glacambre opened #319 "search engine keywords do not work"
I followed the procedure in https://github.com/atlas-engineer/next/blob/master/documents/MANUAL.org#searching-via-search-engine but `C-l` `wiki parrot` `Return` does not open wikipedia. Instead, the default search engine is used with `wiki parrot` as search query.

[2019-08-16 22:23] alexanderbarbosa commented on #319
Can you share the search part of your next config.

[2019-08-16 22:26] alexanderbarbosa commented on #318
weird, adding those two line do what you want in my config.

[2019-08-16 22:52] jmercouris commented on #319
Can you please share the results of: `(get-default 'window 'search-engines)`?

[2019-08-17 02:38] alexanderbarbosa commented on #319
Sorry to budge in, but here goes:

[code]

[2019-08-17 06:12] glacambre commented on #319
I get the default list of search engines: https://github.com/atlas-engineer/next/blob/41b6960004d7c9af08806064d7d86ba8f9c5568a/source/remote.lisp#L27-L28

Changing this list as described in the [manual](https://github.com/atlas-engineer/next/blob/41b6960004d7c9af08806064d7d86ba8f9c5568a/source/remote.lisp#L27-L28) works for the default search engine but doesn't change anything for the others.

[2019-08-17 07:00] goose121 opened #320 "Race condition in FOLLOW-HINT-NEW-BUFFER"
It seems that some sort of race condition is occurring in `follow-hint-new-buffer` (and `follow-hint-new-buffer-focus`), where the Lisp code tries to set the URL before the buffer is properly created. This leads to the address of the new buffer being `about:blank` instead of the proper address. I say this seems a race condition because inserting a delay between the creation of the buffer and setti

[2019-08-17 08:13] goose121 opened #322 "Audio does not stop when buffer is killed"
As in the title; it keeps going and there is no way to stop it afaict besides exiting. I ran into the issue on YouTube and strangely, autoplay seemed to work as well somehow, as the next video's audio began to play despite the buffer not seeming to exist any more.

Platform: Linux
Running commit: 962df03

[2019-08-17 08:43] Ambrevar commented on #322
Are you sure you killed  the buffer (with M-x delete-buffer) and not the window?

[2019-08-17 08:50] jmercouris commented on #322
If you are using the Qt port, I know why the audio keeps playing, I've experienced many of the same problems. The issue is incorrectly releasing the WebView, which we plan on fixing :)

[2019-08-17 08:58] goose121 commented on #322
Ah, that would be it; thanks!

[2019-08-17 12:20] Ambrevar commented on #319
Thanks for reporting.
There was an issue indeed with the raw input candidate: the non-breaking
space was not replaced by a space, which led `parse-url` to see
`wiki foo` as one word.

Fixed in d122dea11d537916fdd500e13f7ab8ad7a6a0c2b.

[2019-08-17 12:26] Ambrevar commented on #317
In Next, commands are bound to modes.
Commands that don't specify a mode are bound to the `root-mode` by
default.

This allows us to have commands of the same name for different modes.

Since `history-backwards` is bound to document-mode, you need to specify
it in `define-key`:

[code]

Hope that helps!

[2019-08-17 12:43] Ambrevar commented on #316
Indeed, the hinting code was mostly imported from the old LispKit
project, and it's far from ideal (slow and unflexible).  Besides, it
does not support buttons or input fields.

We need to rewrite it completely.  Patches welcome :)

[2019-08-17 12:47] glacambre commented on #316
Don't worry, I do plan on contributing more and complaining less, but I still have to figure out how to setup my environment, it seems tools are mostly made to work with emacs, which I don't use, so I'm having a hard time navigating the project/debugging things :).

[2019-08-17 12:50] glacambre commented on #317
Ah, yes, now I'm not getting a warning anymore, however binding `J` to `'history-backwards` still does not work. I think this might be the same problem as https://github.com/atlas-engineer/next/issues/318, so I'll close this issue. Thanks for your help :)

[2019-08-17 12:50] #317 closed

[2019-08-17 12:53] glacambre commented on #319
Seems to be working correctly with d122dea, thank you!

[2019-08-17 12:53] #319 closed

[2019-08-17 13:23] Ambrevar commented on #316
You might find those pages useful then:

https://lispcookbook.github.io/cl-cookbook/getting-started.html
https://lispcookbook.github.io/cl-cookbook/editor-support.html

[2019-08-17 16:25] Ambrevar commented on #318
The problem is with mode order.  The first mode has priority.
By default, the modes for regular buffers are

(get-default 'buffer 'default-modes)

Changes are that `document-mode` comes before `root-mode`.

`history-backwards` belongs to `document-mode`, while
`switch-buffer-previous` belongs to root-mode.
So doing what you did, the "H" binding will be found first in
document-mode, effectively sha

[2019-08-17 16:47] tsandstr commented on #302
I had some issues installing, but enabling the testing versions of ASDF and UIOP in portage fixed them, I believe.

[2019-08-17 16:53] jmercouris commented on #302
Can you please clarify which version of ASDF and UIOP was required so that we may update the documentation?

[2019-08-18 09:34] acidtoyman opened #324 "Input methods don't work in the minibuffer"
I'm on Debian, and on Next 1.3, non-Latin characters don't display.  This is a big deal for me, as I live in Japan.

[2019-08-18 09:56] Ambrevar commented on #324
How did you install Next?

Where doesn't it display?  In the web views or in the minibuffer?

[2019-08-18 15:35] MasterCsquare opened #325 "add proxy-mode to default-modes crash"
guix system, my init.lisp
[code]
the error messages
[code]
but **M-x proxy-mode** works.

[2019-08-18 15:58] Ambrevar commented on #325
Thanks for reporting, I can reproduce.

I believe this is due to the platform port `set_proxy` endpoint which
segfaults when called on startup.

[2019-08-18 21:58] rowhit opened #326 "[Request]: Easier packaging"
Thanks for wonderful package like next. However, I am finding it harder to build it using the instructions. Here, I am not requesting to help me debug the build issues but rather an easier packaging for the next browser. Few suggestions are standalone deb, rpm packages along with a docker image for someone to quickly evaluate it.

[2019-08-19 06:50] Ambrevar commented on #326
Both a `deb` package and `rpm` packages would be very welcome.  I
personally don't use such systems, so contributions are welcome.

As for Docker, we provide both a Guix package and a Guix pack (on the
download page) which supersedes docker.

We tried hard to make the Makefile as smart as possible, so that a
simple `make next` would do the right thing.  If it's not the case for
you, please report,

[2019-08-19 08:30] acidtoyman commented on #324
I'm running the complete bundle of 1.3.0 from the download page.  The characters don't display in either the web views or minibuffer—no boxes or anything, just blank spaces wherever there's a non-Latin character.

[2019-08-19 09:16] Ambrevar commented on #324
Do non-Latin characters display in a browser like Epiphany (GNOME web)?

If not, then there is an issue with your system configuration (you might
need some extra packages).

If yes, then the issue is probably due to the Guix pack.

You can either:

- Install Guix, the Next Guix channel and then run `guix install next`
as per the readme.

- Install from souce (`make next`: see the developer's docum

[2019-08-19 10:28] rowhit commented on #326
Thanks for the response. The build instruction is fine. I was just requesting a frustration free experience for user who just want to try. When I am busy, its very hard to focus and devote time to debug build issues. Just for ex, I am facing lfp.h missing issue although I have already installed the libfixposix. It was just a suggestion.

[2019-08-19 10:28] #326 closed

[2019-08-19 10:29] jmercouris commented on #326
Libfixposix is a dependency I would like to see eliminated myself. That involves some work to the d-bus library. I would prefer a pure Common Lisp solution, we'll see where that goes and how long that may take.

[2019-08-20 04:32] acidtoyman commented on #324
Non-Latin characters display for me properly in epiphany-browser, conkeror, Chrome, Firefox, and Waterfox.  I'll try to find the time to try out your other suggestions.

[2019-08-20 10:02] #314 closed

[2019-08-20 10:05] inglada opened #327 "youtube videos not playing with 1.3 (guix)"
Hi,
Next works very well for me except for youtube, which does not play videos saying that my browser does not recognize any of the formats supported.
Is this a next bug or a missing dependency of the guix package?
Thanks.

[2019-08-20 10:07] jmercouris commented on #327
I believe there is something optional with regards to gstreamer to enable video, however, I also believe this should have been in the latest Guix pack. Did you download the Guix pack or add the channel?

[2019-08-20 11:52] inglada commented on #327
I added the channel

[2019-08-20 12:00] inglada commented on #327
Looking at how the guix pack is built, I found that I was missing gst-libav and gst-plugins-bad (I had the good and the ugly ...). So I guess these are missing dependencies on the guix channel package.

[2019-08-20 19:44] 4t0m opened #328 "Minibuffer freezes after using C-s s"
When I use C-s s to search for something, the search succeeds but after that the minibuffer is frozen and no further commands work.  So far I haven't found other commands that cause the same problem.

I think it may be similar to what's happening in #182?

I'm using ubuntu and i3, and I have Chrome and qutebrowser open (not sure if that's relevant).  I installed using the tar file linked on https:

[2019-08-20 20:08] 4t0m opened #329 "Can't perform multi-word queries from minibuffer"
When I use "o"/"O" to perform a search, if my query contains a space then no search is performed.  Instead the minibuffer collapses and displays "VI-NORMAL-MODE enabled."  This happens regardless of whether the first word maps to one of the sites listed in "search-engines".

If I'm in normal mode, then the minibuffer just clears and collapses.

[2019-08-20 20:17] #328 closed

[2019-08-21 07:55] Ambrevar commented on #328
Why did you close the issue?  Did you solve it?
I cannot reproduce on my end.

[2019-08-21 09:05] Ambrevar commented on #327
Both gst-libav and gst-plugins-bad are part of the Guix pack.  Did you
use the right pack?
(sha256sum is
8addfeebf1d0855307a2f38210ab33825fc8e30e9802652b977d9d5f7c64a485.)

It's possible nonetheless that the plugins to fail to load within the
pack, but then you can use your local package manager to install them
and it should work.

[2019-08-21 09:24] Ambrevar commented on #329
How did you install next and which version are you running?

There used to be a bug where search engines keyword were not recognized,
but this is now fixed upstream.

[2019-08-21 10:20] Ambrevar commented on #325
Fixed in eefc5bf7f3425e82542a9c1fce93d6fe3176b7d4.

[2019-08-21 10:30] Ambrevar commented on #320
It's hard to reproduce for me, but I think I know what you mean.
To clarify: you mean that the "echo area" (the text displayed in the
minibuffer when not active) is showing "about:blank" instead of the URL
of the current buffer?

[2019-08-21 10:33] Ambrevar commented on #320
If this is the case, I believe the problem is with `echo-dismiss'.

This issue will disappear altogether once we've refactored them minibuffer to be
stateless, and if we add a mode-line.

[2019-08-21 11:04] Ambrevar commented on #311
Fixed in 00e904b6cd341df39160e37fe22152cc69f624e6.

[2019-08-21 11:12] MasterCsquare commented on #325
it works, great.

[2019-08-21 11:13] #325 closed

[2019-08-21 11:45] inglada commented on #327
I think that I did not explain well enough the problem. I use the next guix channel to install next. It seems to me that the package description on the channel may be missing these dependencies, because I had to install them myself with guix.

[2019-08-21 12:58] Ambrevar commented on #327
That's correct, it's because those dependencies are optional, as for all
other webkit-based browser in Guix.

[2019-08-21 16:00] 4t0m commented on #329
I installed using the tar file linked on https://next.atlas.engineer/download and my version number is 1.3.0.

[2019-08-21 16:01] 4t0m commented on #328
Yeah, I think I was just confused about the different modes, and trying to use vi commands when that mode wasn't activated.  Feel free to delete this issue if you can.

[2019-08-21 16:25] Ambrevar commented on #329
The issue is fixed upstream.

[2019-08-21 16:37] Ambrevar commented on #328
OK, no problem!

[2019-08-21 16:40] 4t0m commented on #329
Oh cool.  I'm currently going through the developer readme and getting my environment set up.  I have some ideas for things to implement, but are there anything you know of already that would be a good first task?

And if there's a feature I'd like to implement, is the procedure to create an issue to start a discussion on whether it fits the philosophy of the project and how it might be implemente

[2019-08-21 16:50] Ambrevar commented on #329
Great to see you interested by the project!

We've got lots of ideas indeed!  Improve link-hinting, improved search,
bookmarks on steroids, etc.
Maybe the latter would be the easiest to get started, as it does not
interfere with the rest and it requires relatively little Common Lisp
knowledge.

Before we overhaul Next' homepage, feel free to start a discussion on
the issue tracker here on GitHub.